.no_pl {
    padding-left: 0;
}

.no_pr {
    padding-right: 0;
}

#PanelRight .search-add {
    margin-top: 10px;
    margin-bottom: 15px;
}

#PanelRight .select-add {
    margin-top: 10px;
}

#PanelRight .no-point {
    justify-content: flex-start !important;
}
