<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Fred Rules" ToolsVersion="15.0">
  <Include Path="..\fred.ruleset" Action="Default" />
  <Include Path="..\sonarqube\fayat.fredwebcsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.DependencyValidation.Analyzers" RuleNamespace="Microsoft.DependencyValidation.Analyzers">
    <Rule Id="DV1002" Action="Info" />
  </Rules>
</RuleSet>