@font-face {
    font-family: "SAP-icons";
    src: url("../fonts/SAP-icons.eot"); /* IE9 Compat Modes */
    src: url("../fonts/SAP-icons.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SAP-icons.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SAP-icons.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SAP-icons.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SAP-icons.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SAP-icons.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}




.icon-refridgerator:before {
    content: "\E004";
}


[class^="sapicon-"]:before, [class*=" sapicon-"]:before,
[class^="sapicon-"]:after, [class*=" sapicon-"]:after {
    font-family: "SAP-icons";
}


.sapicon-E004:before {
    content: '\E004';
}

.sapicon-E005:before {
    content: '\E005';
}

.sapicon-E006:before {
    content: '\E006';
}

.sapicon-E007:before {
    content: '\E007';
}

.sapicon-E008:before {
    content: '\E008';
}

.sapicon-E009:before {
    content: '\E009';
}

.sapicon-E00A:before {
    content: '\E00A';
}

.sapicon-E00B:before {
    content: '\E00B';
}

.sapicon-E00C:before {
    content: '\E00C';
}

.sapicon-E00D:before {
    content: '\E00D';
}

.sapicon-E00E:before {
    content: '\E00E';
}

.sapicon-E00F:before {
    content: '\E00F';
}

.sapicon-E010:before {
    content: '\E010';
}

.sapicon-E011:before {
    content: '\E011';
}

.sapicon-E012:before {
    content: '\E012';
}

.sapicon-E013:before {
    content: '\E013';
}

.sapicon-E014:before {
    content: '\E014';
}

.sapicon-E015:before {
    content: '\E015';
}

.sapicon-E016:before {
    content: '\E016';
}

.sapicon-E017:before {
    content: '\E017';
}

.sapicon-E018:before {
    content: '\E018';
}

.sapicon-E019:before {
    content: '\E019';
}

.sapicon-E01A:before {
    content: '\E01A';
}

.sapicon-E01B:before {
    content: '\E01B';
}

.sapicon-E01C:before {
    content: '\E01C';
}

.sapicon-E01D:before {
    content: '\E01D';
}

.sapicon-E01E:before {
    content: '\E01E';
}

.sapicon-E01F:before {
    content: '\E01F';
}

.sapicon-E020:before {
    content: '\E020';
}

.sapicon-E021:before {
    content: '\E021';
}

.sapicon-E022:before {
    content: '\E022';
}

.sapicon-E023:before {
    content: '\E023';
}

.sapicon-E024:before {
    content: '\E024';
}

.sapicon-E025:before {
    content: '\E025';
}

.sapicon-E026:before {
    content: '\E026';
}

.sapicon-E027:before {
    content: '\E027';
}

.sapicon-E028:before {
    content: '\E028';
}

.sapicon-E029:before {
    content: '\E029';
}

.sapicon-E02A:before {
    content: '\E02A';
}

.sapicon-E02B:before {
    content: '\E02B';
}

.sapicon-E02C:before {
    content: '\E02C';
}

.sapicon-E02D:before {
    content: '\E02D';
}

.sapicon-E02E:before {
    content: '\E02E';
}

.sapicon-E02F:before {
    content: '\E02F';
}

.sapicon-E030:before {
    content: '\E030';
}

.sapicon-E031:before {
    content: '\E031';
}

.sapicon-E032:before {
    content: '\E032';
}

.sapicon-E033:before {
    content: '\E033';
}

.sapicon-E034:before {
    content: '\E034';
}

.sapicon-E035:before {
    content: '\E035';
}

.sapicon-E036:before {
    content: '\E036';
}

.sapicon-E037:before {
    content: '\E037';
}

.sapicon-E038:before {
    content: '\E038';
}

.sapicon-E039:before {
    content: '\E039';
}

.sapicon-E03A:before {
    content: '\E03A';
}

.sapicon-E03B:before {
    content: '\E03B';
}

.sapicon-E03C:before {
    content: '\E03C';
}

.sapicon-E03D:before {
    content: '\E03D';
}

.sapicon-E03E:before {
    content: '\E03E';
}

.sapicon-E03F:before {
    content: '\E03F';
}

.sapicon-E040:before {
    content: '\E040';
}

.sapicon-E041:before {
    content: '\E041';
}

.sapicon-E042:before {
    content: '\E042';
}

.sapicon-E043:before {
    content: '\E043';
}

.sapicon-E044:before {
    content: '\E044';
}

.sapicon-E045:before {
    content: '\E045';
}

.sapicon-E046:before {
    content: '\E046';
}

.sapicon-E047:before {
    content: '\E047';
}

.sapicon-E048:before {
    content: '\E048';
}

.sapicon-E049:before {
    content: '\E049';
}

.sapicon-E04A:before {
    content: '\E04A';
}

.sapicon-E04B:before {
    content: '\E04B';
}

.sapicon-E04C:before {
    content: '\E04C';
}

.sapicon-E04D:before {
    content: '\E04D';
}

.sapicon-E04E:before {
    content: '\E04E';
}

.sapicon-E04F:before {
    content: '\E04F';
}

.sapicon-E050:before {
    content: '\E050';
}

.sapicon-E051:before {
    content: '\E051';
}

.sapicon-E052:before {
    content: '\E052';
}

.sapicon-E053:before {
    content: '\E053';
}

.sapicon-E054:before {
    content: '\E054';
}

.sapicon-E055:before {
    content: '\E055';
}

.sapicon-E056:before {
    content: '\E056';
}

.sapicon-E057:before {
    content: '\E057';
}

.sapicon-E058:before {
    content: '\E058';
}

.sapicon-E059:before {
    content: '\E059';
}

.sapicon-E05A:before {
    content: '\E05A';
}

.sapicon-E05B:before {
    content: '\E05B';
}

.sapicon-E05C:before {
    content: '\E05C';
}

.sapicon-E05D:before {
    content: '\E05D';
}

.sapicon-E05E:before {
    content: '\E05E';
}

.sapicon-E05F:before {
    content: '\E05F';
}

.sapicon-E060:before {
    content: '\E060';
}

.sapicon-E061:before {
    content: '\E061';
}

.sapicon-E062:before {
    content: '\E062';
}

.sapicon-E063:before {
    content: '\E063';
}

.sapicon-E064:before {
    content: '\E064';
}

.sapicon-E065:before {
    content: '\E065';
}

.sapicon-E066:before {
    content: '\E066';
}

.sapicon-E067:before {
    content: '\E067';
}

.sapicon-E068:before {
    content: '\E068';
}

.sapicon-E069:before {
    content: '\E069';
}

.sapicon-E06A:before {
    content: '\E06A';
}

.sapicon-E06B:before {
    content: '\E06B';
}

.sapicon-E06C:before {
    content: '\E06C';
}

.sapicon-E06D:before {
    content: '\E06D';
}

.sapicon-E06E:before {
    content: '\E06E';
}

.sapicon-E06F:before {
    content: '\E06F';
}

.sapicon-E070:before {
    content: '\E070';
}

.sapicon-E071:before {
    content: '\E071';
}

.sapicon-E072:before {
    content: '\E072';
}

.sapicon-E073:before {
    content: '\E073';
}

.sapicon-E074:before {
    content: '\E074';
}

.sapicon-E075:before {
    content: '\E075';
}

.sapicon-E076:before {
    content: '\E076';
}

.sapicon-E077:before {
    content: '\E077';
}

.sapicon-E078:before {
    content: '\E078';
}

.sapicon-E079:before {
    content: '\E079';
}

.sapicon-E07A:before {
    content: '\E07A';
}

.sapicon-E07B:before {
    content: '\E07B';
}

.sapicon-E07C:before {
    content: '\E07C';
}

.sapicon-E07D:before {
    content: '\E07D';
}

.sapicon-E07E:before {
    content: '\E07E';
}

.sapicon-E07F:before {
    content: '\E07F';
}

.sapicon-E080:before {
    content: '\E080';
}

.sapicon-E081:before {
    content: '\E081';
}

.sapicon-E082:before {
    content: '\E082';
}

.sapicon-E083:before {
    content: '\E083';
}

.sapicon-E084:before {
    content: '\E084';
}

.sapicon-E085:before {
    content: '\E085';
}

.sapicon-E086:before {
    content: '\E086';
}

.sapicon-E087:before {
    content: '\E087';
}

.sapicon-E088:before {
    content: '\E088';
}

.sapicon-E08A:before {
    content: '\E08A';
}

.sapicon-E08B:before {
    content: '\E08B';
}

.sapicon-E08C:before {
    content: '\E08C';
}

.sapicon-E08D:before {
    content: '\E08D';
}

.sapicon-E08E:before {
    content: '\E08E';
}

.sapicon-E08F:before {
    content: '\E08F';
}

.sapicon-E090:before {
    content: '\E090';
}

.sapicon-E091:before {
    content: '\E091';
}

.sapicon-E092:before {
    content: '\E092';
}

.sapicon-E093:before {
    content: '\E093';
}

.sapicon-E094:before {
    content: '\E094';
}

.sapicon-E095:before {
    content: '\E095';
}

.sapicon-E096:before {
    content: '\E096';
}

.sapicon-E097:before {
    content: '\E097';
}

.sapicon-E098:before {
    content: '\E098';
}

.sapicon-E099:before {
    content: '\E099';
}

.sapicon-E09A:before {
    content: '\E09A';
}

.sapicon-E09B:before {
    content: '\E09B';
}

.sapicon-E09C:before {
    content: '\E09C';
}

.sapicon-E09D:before {
    content: '\E09D';
}

.sapicon-E09E:before {
    content: '\E09E';
}

.sapicon-E09F:before {
    content: '\E09F';
}

.sapicon-E0A0:before {
    content: '\E0A0';
}

.sapicon-E0A1:before {
    content: '\E0A1';
}

.sapicon-E0A2:before {
    content: '\E0A2';
}

.sapicon-E0A3:before {
    content: '\E0A3';
}

.sapicon-E0A4:before {
    content: '\E0A4';
}

.sapicon-E0A5:before {
    content: '\E0A5';
}

.sapicon-E0A6:before {
    content: '\E0A6';
}

.sapicon-E0A7:before {
    content: '\E0A7';
}

.sapicon-E0A8:before {
    content: '\E0A8';
}

.sapicon-E0A9:before {
    content: '\E0A9';
}

.sapicon-E0AA:before {
    content: '\E0AA';
}

.sapicon-E0AB:before {
    content: '\E0AB';
}

.sapicon-E0AC:before {
    content: '\E0AC';
}

.sapicon-E0AD:before {
    content: '\E0AD';
}

.sapicon-E0AE:before {
    content: '\E0AE';
}

.sapicon-E0AF:before {
    content: '\E0AF';
}

.sapicon-E0B0:before {
    content: '\E0B0';
}

.sapicon-E0B1:before {
    content: '\E0B1';
}

.sapicon-E0B2:before {
    content: '\E0B2';
}

.sapicon-E0B3:before {
    content: '\E0B3';
}

.sapicon-E0B4:before {
    content: '\E0B4';
}

.sapicon-E0B5:before {
    content: '\E0B5';
}

.sapicon-E0B6:before {
    content: '\E0B6';
}

.sapicon-E0B7:before {
    content: '\E0B7';
}

.sapicon-E0B8:before {
    content: '\E0B8';
}

.sapicon-E0B9:before {
    content: '\E0B9';
}

.sapicon-E0BB:before {
    content: '\E0BB';
}

.sapicon-E0BC:before {
    content: '\E0BC';
}

.sapicon-E0BD:before {
    content: '\E0BD';
}

.sapicon-E0BE:before {
    content: '\E0BE';
}

.sapicon-E0BF:before {
    content: '\E0BF';
}

.sapicon-E0C0:before {
    content: '\E0C0';
}

.sapicon-E0C1:before {
    content: '\E0C1';
}

.sapicon-E0C2:before {
    content: '\E0C2';
}

.sapicon-E0C3:before {
    content: '\E0C3';
}

.sapicon-E0C4:before {
    content: '\E0C4';
}

.sapicon-E0C5:before {
    content: '\E0C5';
}

.sapicon-E0C6:before {
    content: '\E0C6';
}

.sapicon-E0C7:before {
    content: '\E0C7';
}

.sapicon-E0C8:before {
    content: '\E0C8';
}

.sapicon-E0C9:before {
    content: '\E0C9';
}

.sapicon-E0CA:before {
    content: '\E0CA';
}

.sapicon-E0CB:before {
    content: '\E0CB';
}

.sapicon-E0CC:before {
    content: '\E0CC';
}

.sapicon-E0CD:before {
    content: '\E0CD';
}

.sapicon-E0CE:before {
    content: '\E0CE';
}

.sapicon-E0CF:before {
    content: '\E0CF';
}

.sapicon-E0D0:before {
    content: '\E0D0';
}

.sapicon-E0D1:before {
    content: '\E0D1';
}

.sapicon-E0D2:before {
    content: '\E0D2';
}

.sapicon-E0D3:before {
    content: '\E0D3';
}

.sapicon-E0D4:before {
    content: '\E0D4';
}

.sapicon-E0D5:before {
    content: '\E0D5';
}

.sapicon-E0D6:before {
    content: '\E0D6';
}

.sapicon-E0D7:before {
    content: '\E0D7';
}

.sapicon-E0D8:before {
    content: '\E0D8';
}

.sapicon-E0D9:before {
    content: '\E0D9';
}

.sapicon-E0DA:before {
    content: '\E0DA';
}

.sapicon-E0DB:before {
    content: '\E0DB';
}

.sapicon-E0DC:before {
    content: '\E0DC';
}

.sapicon-E0DD:before {
    content: '\E0DD';
}

.sapicon-E0DE:before {
    content: '\E0DE';
}

.sapicon-E0DF:before {
    content: '\E0DF';
}

.sapicon-E0E0:before {
    content: '\E0E0';
}

.sapicon-E0E1:before {
    content: '\E0E1';
}

.sapicon-E0E2:before {
    content: '\E0E2';
}

.sapicon-E0E3:before {
    content: '\E0E3';
}

.sapicon-E0E4:before {
    content: '\E0E4';
}

.sapicon-E0E5:before {
    content: '\E0E5';
}

.sapicon-E0E6:before {
    content: '\E0E6';
}

.sapicon-E0E7:before {
    content: '\E0E7';
}

.sapicon-E0E8:before {
    content: '\E0E8';
}

.sapicon-E0E9:before {
    content: '\E0E9';
}

.sapicon-E0EA:before {
    content: '\E0EA';
}

.sapicon-E0EB:before {
    content: '\E0EB';
}

.sapicon-E0EC:before {
    content: '\E0EC';
}

.sapicon-E0ED:before {
    content: '\E0ED';
}

.sapicon-E0EE:before {
    content: '\E0EE';
}

.sapicon-E0EF:before {
    content: '\E0EF';
}

.sapicon-E0F0:before {
    content: '\E0F0';
}

.sapicon-E0F1:before {
    content: '\E0F1';
}

.sapicon-E0F2:before {
    content: '\E0F2';
}

.sapicon-E0F3:before {
    content: '\E0F3';
}

.sapicon-E0F4:before {
    content: '\E0F4';
}

.sapicon-E0F5:before {
    content: '\E0F5';
}

.sapicon-E0F6:before {
    content: '\E0F6';
}

.sapicon-E0F7:before {
    content: '\E0F7';
}

.sapicon-E0F8:before {
    content: '\E0F8';
}

.sapicon-E0F9:before {
    content: '\E0F9';
}

.sapicon-E0FA:before {
    content: '\E0FA';
}

.sapicon-E0FB:before {
    content: '\E0FB';
}

.sapicon-E0FC:before {
    content: '\E0FC';
}

.sapicon-E0FD:before {
    content: '\E0FD';
}

.sapicon-E0FE:before {
    content: '\E0FE';
}

.sapicon-E0FF:before {
    content: '\E0FF';
}

.sapicon-E100:before {
    content: '\E100';
}

.sapicon-E101:before {
    content: '\E101';
}

.sapicon-E102:before {
    content: '\E102';
}

.sapicon-E103:before {
    content: '\E103';
}

.sapicon-E104:before {
    content: '\E104';
}

.sapicon-E105:before {
    content: '\E105';
}

.sapicon-E106:before {
    content: '\E106';
}

.sapicon-E107:before {
    content: '\E107';
}

.sapicon-E108:before {
    content: '\E108';
}

.sapicon-E109:before {
    content: '\E109';
}

.sapicon-E10A:before {
    content: '\E10A';
}

.sapicon-E10B:before {
    content: '\E10B';
}

.sapicon-E10C:before {
    content: '\E10C';
}

.sapicon-E10D:before {
    content: '\E10D';
}

.sapicon-E10E:before {
    content: '\E10E';
}

.sapicon-E10F:before {
    content: '\E10F';
}

.sapicon-E110:before {
    content: '\E110';
}

.sapicon-E111:before {
    content: '\E111';
}

.sapicon-E112:before {
    content: '\E112';
}

.sapicon-E113:before {
    content: '\E113';
}

.sapicon-E114:before {
    content: '\E114';
}

.sapicon-E115:before {
    content: '\E115';
}

.sapicon-E116:before {
    content: '\E116';
}

.sapicon-E117:before {
    content: '\E117';
}

.sapicon-E118:before {
    content: '\E118';
}

.sapicon-E119:before {
    content: '\E119';
}

.sapicon-E11A:before {
    content: '\E11A';
}

.sapicon-E11B:before {
    content: '\E11B';
}

.sapicon-E11C:before {
    content: '\E11C';
}

.sapicon-E11D:before {
    content: '\E11D';
}

.sapicon-E11E:before {
    content: '\E11E';
}

.sapicon-E11F:before {
    content: '\E11F';
}

.sapicon-E120:before {
    content: '\E120';
}

.sapicon-E121:before {
    content: '\E121';
}

.sapicon-E122:before {
    content: '\E122';
}

.sapicon-E123:before {
    content: '\E123';
}

.sapicon-E124:before {
    content: '\E124';
}

.sapicon-E125:before {
    content: '\E125';
}

.sapicon-E126:before {
    content: '\E126';
}

.sapicon-E127:before {
    content: '\E127';
}

.sapicon-E128:before {
    content: '\E128';
}

.sapicon-E129:before {
    content: '\E129';
}

.sapicon-E12A:before {
    content: '\E12A';
}

.sapicon-E12B:before {
    content: '\E12B';
}

.sapicon-E12C:before {
    content: '\E12C';
}

.sapicon-E12D:before {
    content: '\E12D';
}

.sapicon-E12E:before {
    content: '\E12E';
}

.sapicon-E12F:before {
    content: '\E12F';
}

.sapicon-E130:before {
    content: '\E130';
}

.sapicon-E131:before {
    content: '\E131';
}

.sapicon-E132:before {
    content: '\E132';
}

.sapicon-E133:before {
    content: '\E133';
}

.sapicon-E134:before {
    content: '\E134';
}

.sapicon-E135:before {
    content: '\E135';
}

.sapicon-E136:before {
    content: '\E136';
}

.sapicon-E137:before {
    content: '\E137';
}

.sapicon-E138:before {
    content: '\E138';
}

.sapicon-E139:before {
    content: '\E139';
}

.sapicon-E13A:before {
    content: '\E13A';
}

.sapicon-E13B:before {
    content: '\E13B';
}

.sapicon-E13C:before {
    content: '\E13C';
}

.sapicon-E13D:before {
    content: '\E13D';
}

.sapicon-E13E:before {
    content: '\E13E';
}

.sapicon-E13F:before {
    content: '\E13F';
}

.sapicon-E140:before {
    content: '\E140';
}

.sapicon-E141:before {
    content: '\E141';
}

.sapicon-E142:before {
    content: '\E142';
}

.sapicon-E143:before {
    content: '\E143';
}

.sapicon-E144:before {
    content: '\E144';
}

.sapicon-E145:before {
    content: '\E145';
}

.sapicon-E146:before {
    content: '\E146';
}

.sapicon-E147:before {
    content: '\E147';
}

.sapicon-E148:before {
    content: '\E148';
}

.sapicon-E149:before {
    content: '\E149';
}

.sapicon-E14A:before {
    content: '\E14A';
}

.sapicon-E14B:before {
    content: '\E14B';
}

.sapicon-E14C:before {
    content: '\E14C';
}

.sapicon-E14D:before {
    content: '\E14D';
}

.sapicon-E14E:before {
    content: '\E14E';
}

.sapicon-E14F:before {
    content: '\E14F';
}

.sapicon-E150:before {
    content: '\E150';
}

.sapicon-E151:before {
    content: '\E151';
}

.sapicon-E152:before {
    content: '\E152';
}

.sapicon-E153:before {
    content: '\E153';
}

.sapicon-E154:before {
    content: '\E154';
}

.sapicon-E155:before {
    content: '\E155';
}

.sapicon-E156:before {
    content: '\E156';
}

.sapicon-E157:before {
    content: '\E157';
}

.sapicon-E158:before {
    content: '\E158';
}

.sapicon-E159:before {
    content: '\E159';
}

.sapicon-E15A:before {
    content: '\E15A';
}

.sapicon-E15B:before {
    content: '\E15B';
}

.sapicon-E15C:before {
    content: '\E15C';
}

.sapicon-E15D:before {
    content: '\E15D';
}

.sapicon-E15E:before {
    content: '\E15E';
}

.sapicon-E15F:before {
    content: '\E15F';
}

.sapicon-E160:before {
    content: '\E160';
}

.sapicon-E161:before {
    content: '\E161';
}

.sapicon-E162:before {
    content: '\E162';
}

.sapicon-E163:before {
    content: '\E163';
}

.sapicon-E164:before {
    content: '\E164';
}

.sapicon-E165:before {
    content: '\E165';
}

.sapicon-E166:before {
    content: '\E166';
}

.sapicon-E167:before {
    content: '\E167';
}

.sapicon-E168:before {
    content: '\E168';
}

.sapicon-E169:before {
    content: '\E169';
}

.sapicon-E16A:before {
    content: '\E16A';
}

.sapicon-E16B:before {
    content: '\E16B';
}

.sapicon-E16C:before {
    content: '\E16C';
}

.sapicon-E16D:before {
    content: '\E16D';
}

.sapicon-E16E:before {
    content: '\E16E';
}

.sapicon-E16F:before {
    content: '\E16F';
}

.sapicon-E170:before {
    content: '\E170';
}

.sapicon-E171:before {
    content: '\E171';
}

.sapicon-E172:before {
    content: '\E172';
}

.sapicon-E173:before {
    content: '\E173';
}

.sapicon-E174:before {
    content: '\E174';
}

.sapicon-E175:before {
    content: '\E175';
}

.sapicon-E176:before {
    content: '\E176';
}

.sapicon-E177:before {
    content: '\E177';
}

.sapicon-E178:before {
    content: '\E178';
}

.sapicon-E179:before {
    content: '\E179';
}

.sapicon-E17A:before {
    content: '\E17A';
}

.sapicon-E17B:before {
    content: '\E17B';
}

.sapicon-E17C:before {
    content: '\E17C';
}

.sapicon-E17D:before {
    content: '\E17D';
}

.sapicon-E17E:before {
    content: '\E17E';
}

.sapicon-E17F:before {
    content: '\E17F';
}

.sapicon-E180:before {
    content: '\E180';
}

.sapicon-E181:before {
    content: '\E181';
}

.sapicon-E182:before {
    content: '\E182';
}

.sapicon-E183:before {
    content: '\E183';
}

.sapicon-E184:before {
    content: '\E184';
}

.sapicon-E185:before {
    content: '\E185';
}

.sapicon-E186:before {
    content: '\E186';
}

.sapicon-E187:before {
    content: '\E187';
}

.sapicon-E188:before {
    content: '\E188';
}

.sapicon-E189:before {
    content: '\E189';
}

.sapicon-E18A:before {
    content: '\E18A';
}

.sapicon-E18B:before {
    content: '\E18B';
}

.sapicon-E18C:before {
    content: '\E18C';
}

.sapicon-E18D:before {
    content: '\E18D';
}

.sapicon-E18E:before {
    content: '\E18E';
}

.sapicon-E18F:before {
    content: '\E18F';
}

.sapicon-E190:before {
    content: '\E190';
}

.sapicon-E191:before {
    content: '\E191';
}

.sapicon-E192:before {
    content: '\E192';
}

.sapicon-E193:before {
    content: '\E193';
}

.sapicon-E194:before {
    content: '\E194';
}

.sapicon-E195:before {
    content: '\E195';
}

.sapicon-E197:before {
    content: '\E197';
}

.sapicon-E198:before {
    content: '\E198';
}

.sapicon-E199:before {
    content: '\E199';
}

.sapicon-E19A:before {
    content: '\E19A';
}

.sapicon-E19B:before {
    content: '\E19B';
}

.sapicon-E19C:before {
    content: '\E19C';
}

.sapicon-E19D:before {
    content: '\E19D';
}

.sapicon-E19E:before {
    content: '\E19E';
}

.sapicon-E19F:before {
    content: '\E19F';
}

.sapicon-E1A0:before {
    content: '\E1A0';
}

.sapicon-E1A1001:before {
    content: '\E1A1001';
}

.sapicon-E1A2:before {
    content: '\E1A2';
}

.sapicon-E1A3:before {
    content: '\E1A3';
}

.sapicon-E1A4:before {
    content: '\E1A4';
}

.sapicon-E1A5:before {
    content: '\E1A5';
}

.sapicon-E1A6:before {
    content: '\E1A6';
}

.sapicon-E1A7:before {
    content: '\E1A7';
}

.sapicon-E1A8:before {
    content: '\E1A8';
}

.sapicon-E1A9:before {
    content: '\E1A9';
}

.sapicon-E1AA:before {
    content: '\E1AA';
}

.sapicon-E1AB:before {
    content: '\E1AB';
}

.sapicon-E1AC:before {
    content: '\E1AC';
}

.sapicon-E1AD:before {
    content: '\E1AD';
}

.sapicon-E1AE:before {
    content: '\E1AE';
}

.sapicon-E1AF:before {
    content: '\E1AF';
}

.sapicon-E1B0:before {
    content: '\E1B0';
}

.sapicon-E1B1:before {
    content: '\E1B1';
}

.sapicon-E1B2:before {
    content: '\E1B2';
}

.sapicon-E1B3:before {
    content: '\E1B3';
}

.sapicon-E1B4:before {
    content: '\E1B4';
}

.sapicon-E1B5:before {
    content: '\E1B5';
}

.sapicon-E1B6:before {
    content: '\E1B6';
}

.sapicon-E1B8:before {
    content: '\E1B8';
}

.sapicon-E1B7:before {
    content: '\E1B7';
}

.sapicon-E1B9:before {
    content: '\E1B9';
}

.sapicon-E1BA:before {
    content: '\E1BA';
}

.sapicon-E1BB:before {
    content: '\E1BB';
}

.sapicon-E1Bc:before {
    content: '\E1Bc';
}

.sapicon-E1Bf:before {
    content: '\E1Bf';
}

.sapicon-E1BD:before {
    content: '\E1BD';
}

.sapicon-E1C2:before {
    content: '\E1C2';
}

.sapicon-E1BE:before {
    content: '\E1BE';
}

.sapicon-E1C0:before {
    content: '\E1C0';
}

.sapicon-E1C1:before {
    content: '\E1C1';
}

.sapicon-E1C3:before {
    content: '\E1C3';
}

.sapicon-E1C4:before {
    content: '\E1C4';
}

.sapicon-E1C5:before {
    content: '\E1C5';
}

.sapicon-E1C6:before {
    content: '\E1C6';
}

.sapicon-E1C7:before {
    content: '\E1C7';
}

.sapicon-E1C8:before {
    content: '\E1C8';
}

.sapicon-E1C9:before {
    content: '\E1C9';
}

.sapicon-E1CA:before {
    content: '\E1CA';
}

.sapicon-E1CB:before {
    content: '\E1CB';
}

.sapicon-E1CC:before {
    content: '\E1CC';
}

.sapicon-E1Cd:before {
    content: '\E1Cd';
}

.sapicon-E1Ce:before {
    content: '\E1Ce';
}

.sapicon-E1Cf:before {
    content: '\E1Cf';
}

.sapicon-E1d0:before {
    content: '\E1d0';
}

.sapicon-E1d1:before {
    content: '\E1d1';
}

.sapicon-E1d2:before {
    content: '\E1d2';
}

.sapicon-E1D3:before {
    content: '\E1D3';
}

.sapicon-E1D4:before {
    content: '\E1D4';
}

.sapicon-E1D5:before {
    content: '\E1D5';
}

.sapicon-E1D7:before {
    content: '\E1D7';
}

.sapicon-E1D8:before {
    content: '\E1D8';
}

.sapicon-E1D6:before {
    content: '\E1D6';
}

.sapicon-E1D9:before {
    content: '\E1D9';
}

.sapicon-E1DB:before {
    content: '\E1DB';
}

.sapicon-E1DC:before {
    content: '\E1DC';
}

.sapicon-E1DD:before {
    content: '\E1DD';
}

.sapicon-E1DA:before {
    content: '\E1DA';
}

.sapicon-E1De:before {
    content: '\E1De';
}

.sapicon-E196:before {
    content: '\E196';
}

.sapicon-E1DF:before {
    content: '\E1DF';
}

.sapicon-E1E0:before {
    content: '\E1E0';
}

.sapicon-E1E1:before {
    content: '\E1E1';
}

.sapicon-E1E2:before {
    content: '\E1E2';
}

.sapicon-E1E3:before {
    content: '\E1E3';
}

.sapicon-E1E4:before {
    content: '\E1E4';
}

.sapicon-E1E5:before {
    content: '\E1E5';
}

.sapicon-E1E6:before {
    content: '\E1E6';
}

.sapicon-E1E7:before {
    content: '\E1E7';
}

.sapicon-E1E8:before {
    content: '\E1E8';
}

.sapicon-E1E9:before {
    content: '\E1E9';
}

.sapicon-E1EA:before {
    content: '\E1EA';
}

.sapicon-E1EB:before {
    content: '\E1EB';
}

.sapicon-E1EC:before {
    content: '\E1EC';
}

.sapicon-E089:before {
    content: '\E089';
}

.sapicon-E1ED:before {
    content: '\E1ED';
}

.sapicon-E1EF:before {
    content: '\E1EF';
}

.sapicon-E1F0:before {
    content: '\E1F0';
}

.sapicon-E1EE:before {
    content: '\E1EE';
}

.sapicon-E1F1:before {
    content: '\E1F1';
}

.sapicon-E1F2:before {
    content: '\E1F2';
}

.sapicon-E1F3:before {
    content: '\E1F3';
}

.sapicon-E1F4:before {
    content: '\E1F4';
}

.sapicon-E1F5:before {
    content: '\E1F5';
}

.sapicon-E1F6:before {
    content: '\E1F6';
}

.sapicon-E1F7:before {
    content: '\E1F7';
}

.sapicon-E1F8:before {
    content: '\E1F8';
}

.sapicon-E1F9:before {
    content: '\E1F9';
}

.sapicon-E200:before {
    content: '\E200';
}

.sapicon-E0BA:before {
    content: '\E0BA';
}

.sapicon-E1FA:before {
    content: '\E1FA';
}

.sapicon-E1FB:before {
    content: '\E1FB';
}

.sapicon-E1FC:before {
    content: '\E1FC';
}

.sapicon-E1FD:before {
    content: '\E1FD';
}

.sapicon-E1FE:before {
    content: '\E1FE';
}

.sapicon-E000:before {
    content: '\E000';
}

.sapicon-E001:before {
    content: '\E001';
}

.sapicon-E002:before {
    content: '\E002';
}

.sapicon-E003:before {
    content: '\E003';
}

.sapicon-E203:before {
    content: '\E203';
}

.sapicon-E201:before {
    content: '\E201';
}

.sapicon-E202:before {
    content: '\E202';
}

.sapicon-E1FF:before {
    content: '\E1FF';
}

.sapicon-E204:before {
    content: '\E204';
}

.sapicon-E205:before {
    content: '\E205';
}

.sapicon-E206:before {
    content: '\E206';
}

.sapicon-E207:before {
    content: '\E207';
}

.sapicon-E208:before {
    content: '\E208';
}

.sapicon-E209:before {
    content: '\E209';
}

.sapicon-E20B:before {
    content: '\E20B';
}

.sapicon-E20C:before {
    content: '\E20C';
}

.sapicon-E20D:before {
    content: '\E20D';
}

.sapicon-E211:before {
    content: '\E211';
}

.sapicon-E20F:before {
    content: '\E20F';
}

.sapicon-E20E:before {
    content: '\E20E';
}

.sapicon-E210:before {
    content: '\E210';
}

.sapicon-E20A:before {
    content: '\E20A';
}

.sapicon-E212:before {
    content: '\E212';
}

.sapicon-E213:before {
    content: '\E213';
}

.sapicon-E214:before {
    content: '\E214';
}

.sapicon-E215:before {
    content: '\E215';
}

.sapicon-E216:before {
    content: '\E216';
}

.sapicon-E21B:before {
    content: '\E21B';
}

.sapicon-000F:before {
    content: '\000F';
}

.sapicon-E219:before {
    content: '\E219';
}

.sapicon-E218:before {
    content: '\E218';
}

.sapicon-E21A:before {
    content: '\E21A';
}

.sapicon-E21C:before {
    content: '\E21C';
}

.sapicon-E21D:before {
    content: '\E21D';
}

.sapicon-E21E:before {
    content: '\E21E';
}

.sapicon-E21F:before {
    content: '\E21F';
}

.sapicon-E220:before {
    content: '\E220';
}

.sapicon-E221:before {
    content: '\E221';
}

.sapicon-E222:before {
    content: '\E222';
}

.sapicon-E223:before {
    content: '\E223';
}

.sapicon-E224:before {
    content: '\E224';
}

.sapicon-E226:before {
    content: '\E226';
}

.sapicon-E228:before {
    content: '\E228';
}

.sapicon-E225:before {
    content: '\E225';
}

.sapicon-000B:before {
    content: '\000B';
}

.sapicon-E229:before {
    content: '\E229';
}

.sapicon-E22A:before {
    content: '\E22A';
}

.sapicon-E22B:before {
    content: '\E22B';
}

.sapicon-E22C:before {
    content: '\E22C';
}

.sapicon-E22D:before {
    content: '\E22D';
}

.sapicon-E22E:before {
    content: '\E22E';
}

.sapicon-E22F:before {
    content: '\E22F';
}

.sapicon-E230:before {
    content: '\E230';
}

.sapicon-E231:before {
    content: '\E231';
}

.sapicon-E232:before {
    content: '\E232';
}

.sapicon-E233:before {
    content: '\E233';
}

.sapicon-E234:before {
    content: '\E234';
}

.sapicon-E235:before {
    content: '\E235';
}

.sapicon-E236:before {
    content: '\E236';
}

.sapicon-E237:before {
    content: '\E237';
}

.sapicon-E238:before {
    content: '\E238';
}

.sapicon-E239:before {
    content: '\E239';
}

.sapicon-E23A:before {
    content: '\E23A';
}

.sapicon-E23B:before {
    content: '\E23B';
}

.sapicon-E23C:before {
    content: '\E23C';
}

.sapicon-E23D:before {
    content: '\E23D';
}

.sapicon-E23E:before {
    content: '\E23E';
}

.sapicon-E23F:before {
    content: '\E23F';
}

.sapicon-E242:before {
    content: '\E242';
}

.sapicon-E241:before {
    content: '\E241';
}

.sapicon-E243:before {
    content: '\E243';
}

.sapicon-E240:before {
    content: '\E240';
}

.sapicon-E247:before {
    content: '\E247';
}

.sapicon-E244:before {
    content: '\E244';
}

.sapicon-E245:before {
    content: '\E245';
}

.sapicon-E246:before {
    content: '\E246';
}

.sapicon-E248:before {
    content: '\E248';
}

.sapicon-E249:before {
    content: '\E249';
}

.sapicon-E24A:before {
    content: '\E24A';
}

.sapicon-E24B:before {
    content: '\E24B';
}

.sapicon-E24C:before {
    content: '\E24C';
}

.sapicon-E24D:before {
    content: '\E24D';
}

.sapicon-E24E:before {
    content: '\E24E';
}

.sapicon-E24F:before {
    content: '\E24F';
}

.sapicon-E250:before {
    content: '\E250';
}

.sapicon-E252:before {
    content: '\E252';
}

.sapicon-E254:before {
    content: '\E254';
}

.sapicon-E25C:before {
    content: '\E25C';
}

.sapicon-E258:before {
    content: '\E258';
}

.sapicon-E256:before {
    content: '\E256';
}

.sapicon-E25A:before {
    content: '\E25A';
}

.sapicon-E251:before {
    content: '\E251';
}

.sapicon-E253:before {
    content: '\E253';
}

.sapicon-E255:before {
    content: '\E255';
}

.sapicon-E257:before {
    content: '\E257';
}

.sapicon-E262:before {
    content: '\E262';
}

.sapicon-E259:before {
    content: '\E259';
}

.sapicon-E25D:before {
    content: '\E25D';
}

.sapicon-E25F:before {
    content: '\E25F';
}

.sapicon-E261:before {
    content: '\E261';
}

.sapicon-E25B:before {
    content: '\E25B';
}

.sapicon-E25E:before {
    content: '\E25E';
}

.sapicon-E260:before {
    content: '\E260';
}

.sapicon-E263:before {
    content: '\E263';
}

.sapicon-E264:before {
    content: '\E264';
}

.sapicon-E265:before {
    content: '\E265';
}

.sapicon-E266:before {
    content: '\E266';
}

.sapicon-E267:before {
    content: '\E267';
}

.sapicon-E268:before {
    content: '\E268';
}

.sapicon-E269:before {
    content: '\E269';
}

.sapicon-E26A:before {
    content: '\E26A';
}

.sapicon-E26B:before {
    content: '\E26B';
}

.sapicon-E26C:before {
    content: '\E26C';
}

.sapicon-E26D:before {
    content: '\E26D';
}

.sapicon-E26E:before {
    content: '\E26E';
}

.sapicon-E26F:before {
    content: '\E26F';
}

.sapicon-E270:before {
    content: '\E270';
}

.sapicon-E271:before {
    content: '\E271';
}

.sapicon-E272:before {
    content: '\E272';
}

.sapicon-E273:before {
    content: '\E273';
}

.sapicon-E274:before {
    content: '\E274';
}

.sapicon-E275:before {
    content: '\E275';
}

.sapicon-E276:before {
    content: '\E276';
}

.sapicon-E277:before {
    content: '\E277';
}
