@using Fred.Web.Shared.App_LocalResources

@{
  ViewBag.Title = FeatureCodeMajoration.CodeMajoration_TitreOnglet;
  Layout = "~/Views/Shared/_Layout.new.cshtml";
}
@section styles {
  @Styles.Render("~/CodeMajorationIndexBundle.css")
}

@section scripts {

  @Scripts.Render("~/CodeMajorationIndexBundle.js")
  @this.RenderResources("FeatureCodeMajoration")
}

<div class="container" ng-controller="CodeMajorationController">

  <div class="toleft" id="PanelMain">

    <!--Titre de la page : START-->
    <h1>{{resources.CodeMajoration_PanelMain_Titre}}</h1>
    <!--Titre de la page : START-->
    <!--FILTER : START-->
    <div class="row">

      <!--BEGIN : Recherche -->
      <div class="col-md-10">
        <label class="infoFilter">{{resources.Global_RechercheAffiner}}</label>
        <div class="filter">
          <div class="input-group">
            <input class="form-control txt"
                   type="text"
                   id="txtRecherche"
                   name="Recherche"
                   ng-model-options="{ debounce: 500 }"
                   placeholder="{{resources.CodeMajoration_PanelMain_Recherche_Placeholder}}"
                   ng-model="recherche"
                   ng-change="handleClickSearch(recherche)" />
            <span class="input-group-btn">
              <button class="btn btn-secondary y_search"
                      title="{{resources.Global_RechercheAffiner_Tooltip}}"
                      type="button"
                      ng-click="handleClickSearch(recherche)">
                <i class="material-icons">search</i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <!--END : Recherche -->
      <!--BEGIN : Bouton pour ajouter Items -->
      <div class="col-md-2 add-search">
        <span class="pull-right">
          <label class="infoFilter">{{resources.Global_Ajouter}}</label>
          <i class="flaticon flaticon-add  icoplus " title="{{resources.Global_Bouton_AjouterReference_Tooltip}}" ng-click="handleClickAddNew()"></i>
        </span>
      </div>
      <!--END : Bouton pour ajouter Items -->
    </div>
    <!--FILTER : END-->
    <!--LISTE : START-->
    <div class="row results" id="Table">
      <div class="col-md-12 refs-list">
        <div ng-repeat="item in codesMajoration" class="line row">
          <div class="row line" ng-click="handleClickSelect(item)">
            <div class="col-md-2">
              <span class="t1">{{item.Code}}</span>
            </div>
            <div class="col-md-6">
              <div class="lb">{{resources.CodeMajoration_PanelMain_Table_Libelle}}</div>
              <span class="t2">{{item.Libelle}}</span>
            </div>
            <div class="col-md-2">
              <span class="bdg actif" ng-if="item.EtatPublic">{{resources.Global_Public}}</span>
              <span class="bdg inactif" ng-if="!item.EtatPublic">{{resources.Global_Prive}}</span>
            </div>
            <div class="col-md-2">
              <span class="bdg actif" ng-if="item.IsActif">{{resources.Global_Actif}}</span>
              <span class="bdg inactif" ng-if="!item.IsActif">{{resources.Global_Inactif}}</span>
            </div>
          </div>
        </div>
      </div>
      <!--LISTE : END-->
    </div>
  </div>


  <div ng-class="checkDisplayOptions"
       class="blockScreen"
       style="z-index:99"></div>
  <div class="options"
       id="PanelRight"
       ng-class="checkDisplayOptions + ' ' + checkFormatOptions">
    <!--HEADER TOOLBAR : BEGIN-->
    <div class="toolbar"
         ng-class="{'is-already-used':isAlreadyUsed}">
      <div class="flaticon flaticon flaticon-calculator grandicone"></div>
    </div>
    <span ng-show="isAlreadyUsed" class="is-already-used-text">{{resources.Global_Item_Already_Used}}</span>
    <!--HEADER TOOLBAR : END-->
    <!-- Titre : BEGIN -->
    <div class="form-header" id="Titre">
      <h2>
        <span ng-if="CodeMajoration.CodeMajorationId == 0">{{resources.CodeMajoration_PanelRight_Titre_Ajouter}}</span>
        <span ng-if="CodeMajoration.CodeMajorationId != 0">{{resources.CodeMajoration_PanelRight_Titre_Modifier}}</span>
      </h2>
      <label class="legend">{{resources.Global_LegendeAsterisque}}</label>
    </div>
    <!-- Titre : END -->

    <div class="form fred-scroll">
      <!--Formulaire: START-->
        <form name="formCodeMajoration" autocomplete="off" novalidate>
            <!--FIELD Active: START-->
            <div class="col-md-offset-8 chb_r">
                <input id="chkActif" type="checkbox" ng-model="CodeMajoration.IsActif" checked="checked" />
                <label for="chkActif"><span></span>{{resources.Global_Actif}}</label>
            </div>
            <!--FIELD Active: END-->
            <!--FIELD Code: START-->
            <div class="form-group" ng-class="{ 'has-error' : (formCodeMajoration.Code.$invalid && formCodeMajoration.$submitted) || formCodeMajoration.Code.$error.exist || formCodeMajoration.Code.$error.pattern}">
                <label for="txtCode">{{resources.CodeMajoration_PanelRight_Code}} *</label>
                <span class="text-danger" ng-show="formCodeMajoration.Code.$error.required && formCodeMajoration.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                <span class="text-danger" ng-show="formCodeMajoration.Code.$error.exist">{{resources.Global_Control_Code_Exist_Erreur}}</span>
                <span class="text-danger" ng-show="formCodeMajoration.Code.$error.pattern">{{resources.Global_Control_Code_FormatAlphanumeric_Erreur}}</span>
                <input class="form-control" ng-pattern='/^[a-zA-Z0-9]+$/' type="text" maxlength="20" id="txtCode" name="Code" ng-change="handleChangeCode()" required placeholder="{{resources.CodeMajoration_PanelRight_Code_Placeholder}}" ng-model="CodeMajoration.Code" />
            </div>
            <!--FIELD Code: END-->
            <!--FIELD Libelle: START-->
            <div class="form-group" ng-class="{ 'has-error' : formCodeMajoration.Libelle.$invalid && formCodeMajoration.$submitted}">
                <label for="txtLibelle">{{resources.CodeMajoration_PanelRight_Libelle}} *</label>
                <span class="text-danger" ng-show="formCodeMajoration.Libelle.$invalid && formCodeMajoration.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                <input class="form-control" type="text" id="txtLibelle" name="Libelle" required placeholder="{{resources.CodeMajoration_PanelRight_Libelle_Placeholder}}" ng-model="CodeMajoration.Libelle" maxlength="500" />
            </div>
            <!--FIELD Libelle: END-->
            <!--FIELD Publique: START-->
            <div>
                <input id="chkPubliqueFor" type="checkbox" ng-model="CodeMajoration.EtatPublic" />
                <label for="chkPubliqueFor"><span></span>{{resources.Global_Public}}</label>
            </div>
            <!--FIELD Publique: END-->
            <!--FIELD Heure de nuit: START-->
            <div>
                <input id="chkHeureDeNuitFor" type="checkbox" ng-model="CodeMajoration.IsHeureNuit" />
                <label for="chkHeureDeNuitFor"><span></span>{{resources.CodeMajoration_PanelRight_HeureDeNuit}}</label>
            </div>

            <!--FIELD IsOuvrier IsETAM IsCadre: START-->
            <div ng-if="isUserFes">
                <input id="chkIsOuvrier"
                       type="checkbox"
                       ng-model="CodeMajoration.IsOuvrier" />
                <label for="chkIsOuvrier"><span></span>{{resources.IsOuvrier_lb}}</label>
                <input id="chkIsETAM"
                       type="checkbox"
                       ng-model="CodeMajoration.IsETAM" />
                <label for="chkIsETAM"><span></span>{{resources.IsETAM_lb}}</label>
                <input id="chkIsCadre"
                       type="checkbox"
                       ng-model="CodeMajoration.IsCadre" />
                <label for="chkIsCadre"><span></span>{{resources.IsCadre_lb}}</label>
            </div>
            <!--FIELD IsOuvrier IsETAM IsCadre: END-->
            <!--FIELD Heure de nuit: END-->
            <!--FOOTER TOOLBAR : BEGIN-->
            <div class="footer">
                <div class="buttons">
                    <button class="btn  btn-default" type="submit" ng-click="handleClickAddOrUpdate();" title="{{resources.Global_Bouton_Enregistrer_Tooltip}}">{{resources.Global_Bouton_Enregistrer}}</button>
                    <button class="btn  btn-primary" type="submit" ng-click="handleClickAddOrUpdateAndNew();" title="{{resources.Global_Bouton_EnregistrerEtNouveau_Tooltip}}">{{resources.Global_Bouton_EnregistrerEtNouveau}}</button>
                    <button ng-hide="CodeMajoration.CodeMajorationId==0" class="btn" type="submit" ng-click="handleClickDelete(CodeMajoration);" title="{{resources.Global_Bouton_Supprimer_Tooltip}}">{{resources.Global_Bouton_Supprimer}}</button>
                    <button class="btn btn-link" type="button" ng-click="handleClickCancel();" title="{{resources.Global_Bouton_Annuler_Tooltip}}">{{resources.Global_Bouton_Annuler}}</button>
                </div>
                <div class="close_panel" ng-click="handleClickCancel();" title="{{resources.Global_Bouton_RefermerPanneau_Tooltip}}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span>{{resources.Global_Bouton_RefermerPanneau}}</span>
                </div>
            </div>
            <!--FOOTER TOOLBAR : END-->

        </form>
      <!--Formulaire: END-->

    </div>
  </div>
</div>