/* -------------------------------------------------------------------------------
  Fayat Construction Informatique
  Application Fred
  Module <NOM_DU_MODULE>
---------------------------------------------------------------------------------*/

.text-primary-selected, .text-danger-selected, .text-primary-old, .text-danger-old { padding: 2px; }

.text-primary-old, .text-danger-old { color: #fff; }

.text-primary-selected {
  border: 1px solid #428bca;
  color: #428bca;
}

.text-danger-selected {
  border: 1px solid #b94a48;
  color: #b94a48;
}

.text-primary-old { background-color: #428bca; }

.text-danger-old { background-color: #b94a48; }

.k-state-selected {
  background-color: transparent;
  box-shadow: none;
}

.radio-primary, .radio-danger {
  border: 2px solid;
  padding-left: 24px;
}

.radio-primary { border-color: #428bca; }

.radio-danger { border-color: #b94a48; }

.radio-primary.radio-selected, .radio-danger.radio-selected { color: #fff; }

.radio-primary.radio-selected { background-color: #428bca; }

.radio-danger.radio-selected { background-color: #b94a48; }

.custom-kendo-calendar { font-size: 18px; }