<!--BEGIN :  Modal Detachement d'un intérimaire -->
<div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><i class="flaticon flaticon-users"></i> {{$ctrl.resources.Personnel_ModalContratInterim_Titre_Suppression}}</h2>
          <i class="flaticon flaticon-multiply close pull-right" ng-click="$ctrl.handleCancel()" title="{{$ctrl.resources.Global_Modal_Annuler_Tooltip}}"></i>
        </div>
          <div class="modal-body">
            <div class="row">
              <!--DATE SORTIE-->
              <div class="row">
                <div class="col-md-12">
                  <b>{{$ctrl.resources.Personnel_ModalContratInterim_Confirmation_Suppression_part1}} {{$ctrl.ContratInterimModal.NumContrat}} ?</b><br>
                  <b>{{$ctrl.resources.Personnel_ModalContratInterim_Confirmation_Suppression_part2}}</b>
                </div>
              </div>
            </div>
          </div>
          <!--FOOTER - BOUTONS VALIDER ET ANNULER-->
          <div class="modal-footer">
            <button type="submit" class="btn btn-default pull-left"
                    ng-click="$ctrl.handleSave()"
                    title="{{$ctrl.resources.Global_Bouton_Valider_Tooltip}}">
              {{$ctrl.resources.Global_Bouton_Valider}}
            </button>
            <button type="button" class="btn btn-link pull-right"
                    ng-click="$ctrl.handleCancel()"
                    title="{{$ctrl.resources.Global_Bouton_Annuler_Tooltip}}">
              {{$ctrl.resources.Global_Bouton_Annuler}}
            </button>
          </div>
      </div>
      <!--END :  Modal Ajout d'une ligne -->