.ValidationAffairesOuvriers fred-toolbar .btn {
    font-size: 11px;
    margin-top: 0;
    height: 30px;
}

.ValidationAffairesOuvriers fred-toolbar .date-section {
    width: 20%;
}

.ValidationAffairesOuvriers fred-toolbar .date-section .cl {
    font-size: 35px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #7f7f7f;
    cursor: pointer;
}

.ValidationAffairesOuvriers fred-toolbar .date-section .cr {
    font-size: 35px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: #7f7f7f;
    cursor: pointer;
}

.ValidationAffairesOuvriers fred-toolbar .date-section .label_date_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 12px;
    height: 25px !important;
    margin: 0;
    float: none;
}

.ValidationAffairesOuvriers fred-toolbar .action-section {
    margin-left: auto;
}

.ValidationAffairesOuvriers fred-toolbar .action-section .btn-validate {
    background-color: #ff0066;
    color: #fff;
}

.ValidationAffairesOuvriers .my-biz-bloc {
    width: 100%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table {
    width: 100%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header1 {
    background-color: #bdd7ee;
    color: #0052a0;
    font-size: 11px;
    height: 40px;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header1 .col1 {
    width: 3%;
    background-color: #bdd7ee;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header1 .col1.sel-all {
    text-align: center;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header1 .col2 {
    width: 10%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header1 .col3 {
    width: 87%;
    background-color: #fff;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 {
    background-color: #0052a0;
    color: #fff;
    font-size: 11px;
    height: 40px;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 th {
    height: 40px;
    text-align: center;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col1 {
    width: 3%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col2 {
    width: 7%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col3 {
    width: 10%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col4 {
    width: 30%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col5 {
    width: 10%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col6 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col7 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col8 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col9 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col10 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table thead.header2 .col11 {
    width: 15%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody {
    display: block;
    height: calc(100vh - 355px);
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #ddd;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr td {
    font-size: 11px;
    height: 30px;
    text-align: center;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col1 {
    width: 3%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col2 {
    width: 7%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col2 .sap-biz {
    color: #0052a0;
    font-size: 14px;
    margin-right: 5px;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col2 .sap-biz.eye {
    color: #78C1DD;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col3 {
    width: 10%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col4 {
    width: 30%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col5 {
    width: 10%;
    font-weight: 700;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col6 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col7 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col8 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col9 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col10 {
    width: 5%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col11 {
    width: 15%;
}

.ValidationAffairesOuvriers .my-biz-bloc .my-biz-table tbody tr .col11 .btn-tile {
    background-color: #097da0;
    color: #fff;
    margin: 5px;
    font-size: 11px;
    height: 24px;
    width: 90px;
    border: none;
}

.ValidationAffairesOuvriers input[type="checkbox"] {
    display: none;
}

.ValidationAffairesOuvriers input[type="checkbox"] + label {
    font-size: 14px;
    margin-bottom: 0;
}

.ValidationAffairesOuvriers input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 20%;
    border-radius: 20%;
    background-color: #fcfcfc;
    border: 3px #78C1DD solid;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.ValidationAffairesOuvriers input[type="checkbox"]:checked + label span {
    border: 3px #2c77ba solid;
    background-image: url("/medias/images/ico/checked.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
