.fred-debug-panel {
    border: 2px solid white;
    font-size: 16px;
    font-weight: bold;
    margin: 3px 0 3px 50px;
}

.fred-debug-panel .fred-debug-watchers-good {
    background-color: rgb(137,199,101);
    color: rgb(51,51,51);
}

.fred-debug-panel .fred-debug-watchers-warning {
    background-color: rgb(253,185,77);
    color: rgb(51,51,51);
}

.fred-debug-panel .fred-debug-watchers-bad {
    background-color: rgb(240,78,77);
    color: white;
}

.fred-debug-panel .fred-debug-watchers-content {
    padding: 3px 10px
}
