$color_1: rgb(103,117,127);
$color_2: rgb(51, 51, 51);
$color_3: #fff;
$color_4: white;
$color_5: forestgreen;
$color_6: #000;
$color_7: lightgrey;
$color_8: #318CE7;
$color_9: #DE3F7E;
$color_10: #ADCB60;
$color_11: #ED7F10;
$color_12: rgb(127,127,127);
$color_13: #808080;
$color_14: #2c77ba;
$color_15: initial;
$color_16: red;
$color_17: #FFFFFF;
$color_18: #0090B0;
$color_19: black;
$color_20: #67757F;
$color_21: darkgray;
$color_22: transparent;
$font_family_1: 'Roboto', sans-serif;
$font_family_2: inherit;
$background_color_1: #cfcfcf;
$background_color_2: transparent;
$background_color_3: #eee;
$background_color_4: rgb(83,168,193);
$background_color_5: rgba(14, 134, 169, 0.05);
$background_color_6: red;
$background_color_7: #ADCB60;
$background_color_8: #0934B7;
$background_color_9: #FEBB5F;
$background_color_10: #DE3F7E;
$background_color_11: brown;
$background_color_12: #318CE7;
$background_color_13: #ED7F10;
$background_color_14: #fff;
$background_color_15: rgb(0,82,160);
$background_color_16: #FFFFFF;
$background_color_17: #09ada6;
$background_color_18: rgb(255,0,102);
$background_color_19: #fcfcfc;
$border_color_1: blue transparent;
$border_color_2: black;
$border_color_3: #E1E3E5;
$border_bottom_color_1: white;
$border_bottom_color_2: lightgrey;


.custom-marker {
    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: $border_color_1;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }
}

.no-pr {
    padding-right: 0;
}

.no-pl {
    padding-left: 0;
}

.large {
    height: 60px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .glyphicon-search {
        position: absolute;
        top: 10px;
        right: 4px;
    }
}

.mTop {
    margin-top: 7px;
}

.input-search {
    width: 100%;
    height: 34px;
}

.inputPLInherit {
    height: 34px;
}

.inputPLSearchInherit {
    position: absolute;
    right: 0;
    z-index: 2;
}

.cssDivCIParam {
    border-style: outset;
    border-color: $border_color_2;
    border-width: 1px;
    background-color: $background_color_1;
    font-size: larger;
}

.cssBtnCIParam {
    font-size: larger;
    border-style: none;
    background-color: $background_color_2;
    text-align: right;
}

.inputPL {
    border-width: 0;
}

.no-padding {
    padding: 0 !important;
}

.inputPLSearchParent {
    > span {
        background: #fafafa;
        color: $color_1;
        font-style: normal !important;
    }

    text-align: left;
}

.sm-chb {
    margin-top: 0px;
    transform: scale(0.5);
}

.divCheckBoxBorder {
    width: 50px;
    height: 32px;
    border-style: solid;
    border-width: 1px;
    background: #fafafa;
    border-color: $border_color_3;
}

.heureMinute {
    width: 75px;
    height: 32px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #BBBBBB;
    background: #fafafa;
    color: $color_1;
    margin-bottom: 5px;
}

.lb_mr {
    margin-right: 14px;
}

.tree {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow-y: auto;
}

.lookupSociete {
    > .lookup-content {
        > div {
            background-color: $background_color_3;
            cursor: not-allowed;
            opacity: 1;
        }
    }
}

.level {
    width: 100%;
    height: 45px;

    .nbr {
        padding-left: 19px;
        width: 53px;
        border-bottom: 1px solid #cccccc;
    }

    .infos.limiteur {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $background_color_5 !important;

        .inputPLSearch.inputPLSearchParent {
            position: absolute;
            right: 35px;
        }
    }

    .infos.limiteur_currency {
        padding-left: 35px;
    }

    .detail {
        font-size: 18px;
        color: $color_2;
        position: relative;
        width: 100%;

        input.number {
            width: 85px;
        }

        label {
            font-family: $font_family_1;
            font-size: 18px;
            position: absolute;
            left: 0;
            margin-bottom: 0;
        }

        .label1 {
            position: absolute;
            left: 15px;
            padding-top: 3px;
        }

        .label1.currency {
            left: 85px;
        }

        .flaticon-multiply {
            position: absolute;
            right: 0;
            margin-left: 5px;
        }

        #lookupHeader {
            .flaticon-multiply {
                font-size: 14px;
            }
        }
    }
}

.level2s {
    .nbr {
        background-color: $background_color_4;
        background-image: url(/medias/images/picto/tree/miniLevels2.png);
        background-repeat: repeat-y;
    }
}

.glyphicon {
    float: left;
}

.summary {
    .active {
        color: $color_3;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $background_color_7;
    }

    .intern {
        color: $color_3;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $background_color_8;
    }

    .user {
        color: $color_3;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $background_color_9;
    }

    .outsider {
        color: $color_3;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $background_color_10;
    }

    .temporary {
        color: $color_3;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $background_color_11;
    }

    .inactive {
        background-color: $background_color_6;
        color: $color_3;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.conforme {
    background-color: $background_color_7 !important;
    color: $color_4 !important;
    display: block !important;
    font-size: 15px;
    font-weight: 300;
    padding-left: 3px;
}

.text-valid {
    color: $color_5;
    padding-top: 30px;
}

.close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: $color_6;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

#collapse-habilitation {
    .panel-footer {
        .btn {
            height: 30px;
        }
    }
}

#collapse-contact {
    .panel-body {
        .search-add {
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .add-proposal {
            margin-top: 5px;
        }
    }
}

.delegation {
    .recue {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $background_color_12;
    }

    .emise {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $background_color_10;
    }

    .active {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $background_color_7;
    }

    .inactive {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $background_color_13;
    }

    .btn.btn-filter {
        background-color: $background_color_14;
        min-width: 150px;
        padding-left: 10px;
        padding-right: 10px;
        color: $color_7;
        box-shadow: inset 0 -5px 0 #fff;

        &:hover {
            font-weight: bold;
            box-shadow: inset 0 -5px 0 lightgrey;
        }
    }

    .btn.btn-filter.recue {
        font-weight: bold;
        color: $color_8;
        box-shadow: inset 0 -5px 0 #318CE7;
    }

    .btn.btn-filter.emise {
        font-weight: bold;
        color: $color_9;
        box-shadow: inset 0 -5px 0 #DE3F7E;
    }

    .btn.btn-filter.active {
        font-weight: bold;
        color: $color_10;
        box-shadow: inset 0 -5px 0 #ADCB60;
    }

    .btn.btn-filter.inactive {
        font-weight: bold;
        color: $color_11;
        box-shadow: inset 0 -5px 0 #ED7F10;
    }

    .flaticon-users {
        font-style: normal;
        padding-right: 5px;
    }

    .td-flaticon-info {
        font-size: 15px;
        color: $color_8;
    }

    .panel-body {
        height: 500px;
    }

    .surlign {
        border-bottom: none;

        .material-icons {
            margin-right: 10px;
        }
    }
}

#Commentaire {
    resize: none;
}

.delegation-list {
    table {
        position: relative;
        overflow: hidden;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        display: table;

        thead {
            tr {
                th {
                    height: 30px;
                    background-color: $background_color_15;
                    color: $color_3;
                    font-size: 11px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 0;
                    height: 30px;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid #ddd;

                    I {
                        font-size: 18px;
                    }

                    &:last-child {
                        padding-top: 0;
                    }
                }

                .icons-td {
                    justify-content: end;

                    .material-icons {
                        font-size: 24px;
                        color: $color_12;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    tbody {
        position: relative;
        display: block;
        overflow: auto;
        overflow-x: visible;
        height: 400px !important;
    }
}

.app-modal-window {
    .modal-dialog {
        width: 75%;
        top: 15%;
    }
}

.contratInterimaire {
    .planifie {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 11px;
        background-color: $background_color_12;
    }

    .actif {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 11px;
        background-color: $background_color_7;
    }

    .cloture {
        color: $color_3;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 11px;
        background-color: $background_color_13;
    }

    .btn.btn-filter {
        background-color: $background_color_14;
        min-width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        color: $color_7;
        box-shadow: inset 0 -5px 0 #fff;
        border-bottom-color: $border_bottom_color_1;
        line-height: 20px !important;

        &:hover {
            font-weight: bold;
            border-bottom-color: $border_bottom_color_2;
            box-shadow: inset 0 -5px 0 lightgrey;
        }
    }

    .btn.btn-filter.actif {
        font-weight: bold;
        color: $color_10;
        box-shadow: inset 0 -5px 0 #ADCB60;
        outline: none;
        margin-top: 3px !important;
    }

    .btn.btn-filter.cloture {
        font-weight: bold;
        color: $color_11;
        box-shadow: inset 0 -5px 0 #ED7F10;
        outline: none;
    }

    .btn.btn-filter.planifie {
        font-weight: bold;
        color: $color_8;
        box-shadow: inset 0 -5px 0 #318CE7;
        outline: none;
    }

    .surlign {
        border-bottom: none;

        .input-search {
            height: 30px;
        }
    }

    i {
        font-style: normal;
        padding-right: 5px;
    }

    .action-icone {
        font-size: 20px;
        padding-top: 0px;
    }

    .glyphicon {
        font-size: 20px;
        padding-top: 0px;
    }

    .flaticon-add-3 {
        padding-left: 20%;
    }

    .flaticon-multiply {
        padding-left: 20%;
    }

    .panel-body {
        height: 500px;
    }

    h4 {
        border-bottom: none;
        font-weight: 300;
    }
}

.inputText.number {
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

.inputPLSearch.inputPLSearchParent {
    &:disabled {
        background-color: $background_color_3;
        cursor: not-allowed;
        opacity: 1;

        > .inputPLLabel {
            background-color: $background_color_3;
            cursor: not-allowed;
            opacity: 1;
        }

        > .material-icons.closing {
            background-color: $background_color_3;
            cursor: not-allowed;
            opacity: 1;
        }
    }
}

.interim-list {
    table {
        position: relative;
        overflow: hidden;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        display: table;

        thead {
            tr {
                th {
                    height: 30px;
                    background-color: $background_color_15;
                    color: $color_3;
                    font-size: 11px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 0;
                    height: 30px;
                    text-align: center;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid #ddd;

                    &:first-child {
                        position: relative;
                    }
                }

                td.planified {
                    &::before {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 2%;
                        content: "";
                        background-color: $background_color_12;
                    }
                }

                td.activ {
                    &::before {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 2%;
                        content: "";
                        background-color: $background_color_7;
                    }
                }

                td.clotured {
                    &::before {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 2%;
                        content: "";
                        background-color: $background_color_13;
                    }
                }

                .icons-td {
                    padding-top: 0;
                    justify-content: flex-start;
                    padding-left: 5%;

                    .material-icons {
                        font-size: 20px;
                        color: $color_12;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    thead {
        position: relative;
        display: block;
        overflow-x: visible;
    }

    tbody {
        position: relative;
        display: block;
        overflow: auto;
        overflow-x: visible;
        height: 400px !important;
    }
}

.bandeau-headline {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0px;

        li {
            a {
                h2 {
                    color: $color_13;
                }

                &:hover {
                    color: $color_13;
                    text-decoration: none;
                }
            }
        }

        li.active {
            background-color: $background_color_16;

            a {
                h2 {
                    color: $color_14;
                    text-decoration: none;
                }

                &:hover {
                    color: $color_14;
                    text-decoration: none;
                }

                &:link {
                    color: $color_14;
                    text-decoration: none;
                }
            }
        }
    }

    .tab-titles {
        display: inline-block;
        margin-right: 150px;
    }
}

.tab-pane.active {
    color: $color_15;
    background-color: $background_color_16;
    font-size: 14px;
}

.headerdivider {
    border-left: 1px solid;
    position: relative;
    right: -20px;
}

.warning {
    color: $color_16;
    margin-left: 9%;

    .icon {
        padding-right: 30px;

        .material-icons {
            font-size: 40px;
            vertical-align: middle;
        }
    }
}

.zoneDeTravail {
    .tuile {
        height: 120px;
        width: 130px;
        border: 2px solid #0090B0;
        display: block;
        padding: 5px;
        margin: 3px;
        position: relative;
        cursor: pointer;
    }

    .tuile.primary {
        text-align: center;
        background: #0090B0;
        color: $color_17;

        &:hover {
            color: $color_18;
            background: #FFFFFF;
        }
    }

    .tuile.secondary {
        color: $color_18;
        background: #FFFFFF;

        &:hover {
            background: #0090B0;
            color: $color_17;
        }
    }

    span {
        font-size: 20px;
        padding: 0px;
    }

    i {
        font-style: normal;
        padding-right: 5px;
    }

    .lookupPane {
        width: 330px;
        height: 1370px;
        position: absolute;
        top: -455.488px;
        left: 412.875px;

        #lookupHeader {
            div {
                i {
                    display: none;
                }
            }
        }
    }
}

.sub-info {
    margin-left: 24px;
}

.sub-info-ca {
    margin-left: 9px;
}

.lookBtn {
    position: relative;

    input {
        width: 97%;
        cursor: pointer;
    }

    .material-icons {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        padding: 3px;
        padding-top: 4px;
        padding-left: 4px;
        background-color: $background_color_17;
        color: $color_3;
        width: 34px;
        height: 34px;
        z-index: 2;
        border: 1px solid rgb(187, 187, 187);
        cursor: pointer;
    }
}

.exportBtn {
    background-color: $background_color_18;
    color: $color_3;
}

.habilitations {
    padding: 5px;
    border: 1px rgba(4,134,168,1.0) solid;
    border-left: 5px rgba(4,134,168,1.0) solid;
    background: rgba(4,134,168,0.1);
    margin-bottom: 5px;
    min-height: 45px;
}

.organisations {
    border: 1px rgba(83,168,193,1.0) solid;
    padding: 5px;
    border-left: 5px rgba(83,168,193,1.0) solid;
    margin: 5px;
    background: white;
}

.habilitation {
    width: 100%;
    font-size: 19px;
    height: 40px;
}

.organisation {
    width: 100%;
    height: 45px;
}

.affectation {
    width: 100%;
    border: 1px solid red;
    min-height: 40px;
    border: 1px solid rgba(135,195,213,1.0);
    border-left: 5px solid rgba(135,195,213,1.0);
    background: rgba(135,195,213,0.5);
    float: left;
    padding: 5px;
    margin: 3px;

    .input-group-addon {
        width: 50px;
    }

    .icon-info {
        font-size: 22px;
    }
}

.habilitations.new {
    cursor: pointer;

    .icon-plus {
        cursor: pointer;
        padding-left: 15px;
        padding-top: 10px;
        background: rgba(83,168,193,0.5);
    }
}

.affectation.new {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
}

.add-padding-left {
    padding-left: 15px;
}

.organisations.new {
    cursor: pointer;
    color: $color_19;
    min-height: 45px;
}

.organisation-new {
    .icon-plus {
        color: $color_19;
        font-family: $font_family_2;
        width: 100%;
        border: red 1px solid;
    }
}

fred-code {
    display: block;
    font-size: 10px;
    color: $color_20;
    font-weight: 500;
}

fred-val {
    display: block;
    font-size: 14px;
}

.icon-close {
    cursor: pointer;
}

.icon-close-bloc {
    padding: 0;
}

.panel-footer {
    .btn-default {
        margin-top: 0;
    }
}

.glyphicon-option-vertical {
    top: 0;
    font-size: 22px;
}

.action-icone.flaticon-multiply {
    font-size: 20px;
    margin-left: 5px;
}

.ratment-actif {
    margin-top: 0;
}

.table {
    tbody {
        tr {
            td {
                padding-top: 16px;

                &:last-child {
                    padding-top: 13px;
                }
            }
        }
    }
}

input[type="checkbox"] {
    display: none;

    & + label {
        font-size: 14px;

        span {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: 0 4px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 20%;
            border-radius: 20%;
            background-color: $background_color_19;
            border: 3px #78C1DD solid;
            -webkit-transition: background-color 0.4s linear;
            -o-transition: background-color 0.4s linear;
            -moz-transition: background-color 0.4s linear;
            transition: background-color 0.4s linear;
        }
    }

    &:checked {
        & + label {
            span {
                border: 3px #2c77ba solid;
                background-image: url('/medias/images/ico/checked.png');
                background-repeat: no-repeat;
                background-position: center;
                -webkit-transition: background-color 0.4s linear;
                -o-transition: background-color 0.4s linear;
                -moz-transition: background-color 0.4s linear;
                transition: background-color 0.4s linear;
            }
        }
    }
}

.slider {
    right: -6px;
}

#personnel-accordion {
    .panel-heading {
        display: flex;
        align-items: center;
    }
}

.fill-space {
    flex: 1;
}

#photo-profil-raw-container {
    max-height: 300px !important;
    height: 300px !important;
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;

    .cropper-view-box {
        border-radius: 50%;
    }

    .cropper-face {
        border-radius: 50%;
    }
}

#signature-raw-container {
    max-height: 300px !important;
    height: 300px !important;
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#signature-raw {
    margin-top: 20px;
    margin-bottom: 20px;
}

#photo-profil-raw {
    margin-top: 20px;
    margin-bottom: 20px;
}

#signature-result {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

    > * {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    > span {
        font-size: 20px;
        color: $color_21;
        display: flex;
        align-items: center;

        > span {
            margin-right: 10px;
            font-size: 40px;
        }
    }
}

#photo-profil-result {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

    > * {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    > span {
        font-size: 20px;
        color: $color_21;
        display: flex;
        align-items: center;

        > span {
            margin-right: 10px;
            font-size: 40px;
        }
    }
}

#empty-signature-raw {
    padding: 1em;
    border: 0.25em solid;
    position: relative;
    height: 300px;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        top: -0.3em;
        bottom: -0.3em;
        left: 1em;
        right: 1em;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        left: -0.3em;
        right: -0.3em;
        top: 1em;
        bottom: 1em;
    }

    > span {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 20px;
        color: $color_21;
        display: flex;
        align-items: center;

        > span {
            margin-right: 10px;
            font-size: 40px;
        }
    }
}

#empty-photo-profil-raw {
    padding: 1em;
    border: 0.25em solid;
    position: relative;
    height: 300px;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        top: -0.3em;
        bottom: -0.3em;
        left: 1em;
        right: 1em;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        left: -0.3em;
        right: -0.3em;
        top: 1em;
        bottom: 1em;
    }

    > span {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 20px;
        color: $color_21;
        display: flex;
        align-items: center;

        > span {
            margin-right: 10px;
            font-size: 40px;
        }
    }
}

.btn-file {
    margin: 0 !important;
    padding: 5px 12px !important;
}

#signature-img {
    border: 1px solid lightgray;
}

#signature-buttons {
    display: none;
    margin-top: 40px;
}

#photo-profil-buttons {
    display: none;
    margin-top: 40px;
}

.delete-img {
    position: absolute !important;
    top: 10px !important;
    right: 25px !important;
    color: $color_16 !important;
    cursor: pointer !important;
    font-size: 40px !important;
    opacity: 0;
    transition: opacity .35s ease;
}

#signature-result-container {
    &:hover {
        .delete-img {
            opacity: 1;
        }
    }
}

#photo-profil-result-container {
    &:hover {
        .delete-img {
            opacity: 1;
        }
    }
}

.no-flex-cent {
    justify-content: flex-start !important;
    margin-bottom: 15px;
    div {
        width: 100%;
    }
}

#personnel-statut-rzb {
    .ghost {
        color: $color_22;
    }
}

@media (max-width:1366px) and (max-height:768px) {
    .contratInterimaire {
        .surlign {
            .input-search {
                height: 25px;
            }

            .fred-button[type="button"] {
                font-size: 9px;
            }
        }
    }

    .interim-list {
        table {
            tbody {
                tr {
                    .icons-td {
                        padding-left: 1%;
                    }
                }
            }
        }
    }

    input[type="text"] {
        height: 25px;
        font-size: 11px;
    }

    input[type="password"] {
        height: 25px;
        font-size: 11px;
    }

    input[type="number"] {
        height: 25px;
        font-size: 11px;
    }

    .input-group-addon {
        padding-top: 3px !important;
    }

    select {
        height: 25px;
        max-height: 25px;
        font-size: 11px !important;
        padding: 0 !important;
    }
}