.display-list table {
    position: relative;
    width: 800px;
    overflow: hidden;
    border-collapse: collapse;
}

.display-list table thead th .material-icons {
    font-size: 15px;
    cursor: pointer;
}

.display-list table tbody tr .material-icons {
    color: #a6a6a6;
    cursor: pointer;
}

.display-list thead {
    position: relative;
    display: block;
    overflow-x: visible;
}

.display-list thead th {
    width: 800px;
    height: 21px;
    font-weight: normal;
    font-size: 10px;
    color: white;
    vertical-align: middle;
    padding-left: 5px;
}

.display-list thead th:nth-child(1) {
    position: relative;
    -webkit-box-shadow: 5px 0 37px -9px white;
    -moz-box-shadow: 5px 0 37px -9px white;
    box-shadow: 5px 0 37px -9px white;
    width: 150px !important;
    min-width: 150px;
}

.display-list thead th:nth-child(2) {
    position: relative;
    -webkit-box-shadow: 5px 0 37px -9px white;
    -moz-box-shadow: 5px 0 37px -9px white;
    box-shadow: 5px 0 37px -9px white;
    width: 200px !important;
    min-width: 200px;
}

.display-list thead .col10 {
    color: black;
}

.display-list thead .col11 {
    color: black;
}

.display-list tbody {
    position: relative;
    display: block;
    width: 800px;
    overflow: auto;
    overflow-x: visible;
}

.display-list tbody td {
    min-width: 120px;
    font-size: 11px;
    cursor: pointer;
}

.display-list tbody tr {
    height: 20px;
}

.display-list tbody tr td {
    padding-left: 5px;
    border-bottom: 0.5px solid #dddddd;
}

.display-list tbody tr td:nth-child(1) {
    position: relative;
    width: 150px !important;
    min-width: 150px;
}

.display-list tbody tr td:nth-child(2) {
    position: relative;
    width: 200px !important;
    min-width: 200px;
}

.display-list tbody tr td:nth-child(1).col1 {
    font-size: 9px;
    background-color: #e1f1ff;
}

.display-list tbody tr td:nth-child(2).col2 {
    font-size: 9px;
    background-color: #e1f1ff;
}

.display-list .col2 {
    width: 179px !important;
    min-width: 179px;
}

.display-list .col2 span {
    font-weight: 600;
    float: left;
}

.display-list .col3 {
    width: 179px !important;
    min-width: 179px;
}

.display-list .col4 {
    width: 179px !important;
    min-width: 179px;
}

.display-list .col5 {
    width: 179px !important;
    min-width: 179px;
}

.display-list .col6 {
    width: 179px !important;
    min-width: 179px;
    text-align: center;
    border-bottom: solid white 1px;
    width: 120px !important;
    min-width: 120px;
}

.display-list .col7 {
    width: 179px !important;
    min-width: 179px;
    text-align: center;
    border-bottom: solid white 1px;
    width: 120px !important;
    min-width: 120px;
    border-left: #043f76 0.5px solid;
}

.display-list .col8 {
    width: 179px !important;
    min-width: 179px;
    text-align: center;
    border-bottom: solid white 1px;
    width: 120px !important;
    min-width: 120px;
    border-left: #043f76 0.5px solid;
}

.display-list .col9 {
    width: 179px !important;
    min-width: 179px;
    text-align: center;
    border-bottom: solid white 1px;
    width: 120px !important;
    min-width: 120px;
    border-left: #043f76 0.5px solid;
}

.display-list .col10 {
    width: 179px !important;
    min-width: 179px;
    text-align: center;
    border-bottom: solid white 1px;
    width: 120px !important;
    min-width: 120px;
    border-left: #043f76 0.5px solid;
}

.display-list .col11 {
    width: 179px !important;
    min-width: 179px;
    text-align: center;
    border-bottom: solid white 1px;
    width: 120px !important;
    min-width: 120px;
    border-left: #043f76 0.5px solid;
}

.display-list .col12 {
    width: 179px !important;
    min-width: 179px;
    width: 240px !important;
    min-width: 240px;
}

.display-list .col13 {
    width: 179px !important;
    min-width: 179px;
    width: 80px !important;
    min-width: 80px;
}

.display-list .col14 {
    width: 179px !important;
    min-width: 179px;
}

.display-list .colSep {
    width: 10px;
    min-width: 10px;
}

.display-list .actions {
    text-align: right;
    padding-right: 15px;
}

.display-list .open {
    font-size: 14px;
    float: left;
}

.display-list .col1 .nested {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 5px;
}

.display-list .col1 .badge-statut {
    font-weight: 600;
    float: left;
    padding: 0 5px 0 5px;
    width: 60px !important;
    min-width: 60px;
}

.display-list .col1 .abo-icon {
    font-size: 18px;
    margin-left: auto;
}

.display-list .col1 .ico-materielExterne {
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-image: url("/medias/images/ico/materielexterne-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.display-list .col1 .pj-icon {
    font-size: 18px;
    margin-left: auto;
    color: dodgerblue;
}
