@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
    <link rel="stylesheet" href="/Content/site.css" type="text/css">
    <link rel="stylesheet" href="/Content/Auth.css" type="text/css">
</head>
<body>
    <div class="conteneur erreur-generale">
        <div class="logo-fred"></div>
        <div class="element">Erreur générale</div>
    </div>
</body>
</html>
