@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HttpAntiForgery</title>
    <link rel="stylesheet" href="/Content/site.css" type="text/css">
    <link rel="stylesheet" href="/Content/Auth.css" type="text/css">
</head>
<body>
    <div class="conteneur cle-expire">
        <div class="logo-fred"></div>
        <div class="element">Votre clé a expirée, reconnectez vous.</div>
        <div class="element">
            <a href="~/Authentication/Connect"> Reconnection</a>
        </div>
    </div>
</body>
</html>
