@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    <link rel="stylesheet" href="/Content/site.css" type="text/css">
    <link rel="stylesheet" href="/Content/Auth.css" type="text/css">
</head>
<body>
    <div class="conteneur page-introuvable">
        <div class="logo-fred"></div>
      <div class="element">La page demandée est introuvable</div>
      <div class="element gros">Erreur 404</div>
    </div>
</body>
</html>
