@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>UnAuthorized</title>
  <link rel="stylesheet" href="/Content/site.css" type="text/css">
  <link rel="stylesheet" href="/Content/Auth.css" type="text/css">
</head>
<body>
  <div class="conteneur page-introuvable">
    <div class="logo-fred"></div>
    <div class="element gros">Vous n'êtes pas autorisé</div>
    <div class="element ">Erreur 403</div>
  </div>
</body>
</html>