<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Projects\FRED\DeployementPackages\DEV\Fred.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>FRED-DEV</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FredConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=fcistgdb-dev01v.fci.lan;Initial Catalog=FRED_Developpement;Integrated Security=False;User ID=fred_db_user;Password=fci@2016" Name="Data Source=fcistgdb-dev01v.fci.lan;database=FRED_Developpement;uid=fred_db_user;password=fci@2016;Integrated Security=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Fred.DataAccess.FredDbContext, Fred.DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FredConnection-Web.config Connection String">
      <ParameterValue>Data Source=fcistgdb-dev01v.fci.lan;database=FRED_Developpement;uid=fred_db_user;password=fci@2016;Integrated Security=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>