fred-toolbar .date-section .cl {
    font-size: 35px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #7f7f7f;
    cursor: pointer;
}

fred-toolbar .date-section .cr {
    font-size: 35px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: #7f7f7f;
    cursor: pointer;
}

fred-toolbar .date-section .label_date {
    width: 80%;
    display: flex;
    border: 1px solid #ccc;
}

fred-toolbar .date-section .label_date_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 12px;
    height: 25px !important;
    margin: 0;
    float: none;
}

fred-toolbar .ci-section {
    margin-left: 1%;
    width: 20%;
}

fred-toolbar .action-section {
    margin-left: 1%;
}

fred-toolbar .action-section .btn {
    font-size: 11px;
    margin-top: 0;
    height: 30px;
}

fred-toolbar .action-section .btn-link {
    background-color: #fff !important;
    color: #bfbfbf;
    border: 1px solid #ccc !important;
}

fred-toolbar .action-section .btn-default {
    background-color: #3366cc;
    margin-right: 5px;
}

fred-toolbar .action-section .btn-default:hover {
    color: #fff;
}

fred-toolbar .action-section .btn-validate {
    background-color: #ff0066;
    color: #fff;
}

fred-toolbar .action-section .bloc-auth-adjusted {
    position: initial;
    margin-top: 0;
}

fred-toolbar .heures-section {
    margin-left: 1%;
}

fred-toolbar .statut-rapport {
    margin-left: 1%;
}

fred-toolbar .heures-section.sup {
    margin-left: 5px;
}

fred-toolbar .heure {
    width: 150px;
    height: 44px;
    background-color: #0052a0;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

fred-toolbar .heure .amount {
    display: flex;
    flex-direction: column;
    width: 115px;
}

fred-toolbar .heure .amount .txt {
    font-size: 7px;
}

fred-toolbar .heure .amount .data {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
}

fred-toolbar .heure .material-icons {
    font-size: 35px;
    cursor: pointer;
}

fred-toolbar .heure-sup {
    width: 150px;
    height: 44px;
    background-color: #ea700d;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

fred-toolbar .heure-sup .amount {
    display: flex;
    flex-direction: column;
    width: 115px;
}

fred-toolbar .heure-sup .amount .txt {
    font-size: 7px;
}

fred-toolbar .heure-sup .amount .data {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
}

fred-toolbar .heure-sup .material-icons {
    font-size: 35px;
    cursor: pointer;
}

.warns {
    cursor: pointer;
}

.pointage-hebdo-list {
    font-size: 11px;
    width: 1792px;
}

.pointage-hebdo-list .pointage-hebdo-list-body {
    height: calc(100vh - 345px);
    width: 100%;
    overflow-y: auto;
}

.pointage-hebdo-list.hide-tenth {
    width: 1642px;
}

.flex-line {
    display: flex;
    flex-direction: row;
}

.flex-line .form-control {
    width: 60px;
    height: 25px;
    padding-right: 0;
}

.flex-line .lookupPane .form-control {
    width: 100%;
}

.flex-line .add {
    color: #09ada6;
    cursor: pointer;
}

.flex-line span[class^="sapicon"] {
    font-size: 18px;
}

.flex-line span[class^="sapicon"].biz {
    color: #9dbb61;
}

.flex-line .switch {
    margin-bottom: 0;
}

.flex-line .chevron:before {
    color: #7f7f7f;
    clear: both;
    content: 'keyboard_arrow_down';
    font-family: "Material Icons";
}

.flex-line .collapsed.chevron:before {
    color: #7f7f7f;
    content: 'keyboard_arrow_right';
    font-family: "Material Icons";
}

.level-1 div[class^="col"] {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.level-1 .abs {
    color: #bf360c;
    cursor: pointer;
}

.level-1 .lbl {
    font-size: 11px;
    color: initial;
    margin-left: 20px;
}

.level-1 .tot-txt {
    font-size: 11px;
    color: #a7a7ab;
    margin-left: auto;
    margin-right: 20px;
}

.level-1 .col-1 {
    width: 565px;
    min-width: 565px;
    background-color: #e1eaf2;
    padding-right: 8px;
}

.level-1 .col-2 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f7;
}

.level-1 .col-3 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8eef4;
}

.level-1 .col-4 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f7;
}

.level-1 .col-5 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8eef4;
}

.level-1 .col-6 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f7;
}

.level-1 .col-7 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbf3e3;
}

.level-1 .col-8 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbf5e8;
}

.level-1 .col-9 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2cbe2;
}

.level-1 .col-10 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fceadb;
}

.level-2 div[class^="col"] {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.level-2 span[class^="sapicon"] {
    margin-left: 20%;
}

.level-2 .sect {
    color: #458ea2;
    cursor: pointer;
}

.level-2 .study {
    color: #4bacc6;
    cursor: pointer;
}

.level-2 .lbl {
    font-size: 11px;
    color: initial;
    margin-left: 20px;
}

.level-2 .tot-txt {
    font-size: 11px;
    color: #a7a7ab;
    margin-left: auto;
    margin-right: 21px;
}

.level-2 .abs-as {
    color: #a5a5a5;
    cursor: pointer;
    margin-left: 0 !important;
}

.level-2 .col-1 {
    width: 565px;
    min-width: 565px;
    background-color: #f9fbfc;
    padding-right: 8px;
}

.level-2 .col-2 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.level-2 .col-3 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.level-2 .col-4 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.level-2 .col-5 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.level-2 .col-6 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.level-2 .col-7 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfaf4;
}

.level-2 .col-8 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfbf6;
}

.level-2 .col-9 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0eaf3;
}

.level-2 .col-10 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefbf8;
}

.level-3 div[class^="col"] {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.level-4 div[class^="col"] {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.sub-level1 div[class^="col"] {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.sub-level1 .tot-txt {
    font-size: 11px;
    color: #a7a7ab;
    margin-left: auto;
    margin-right: 20px;
}

.sub-level1 .material-icons.validate {
    color: #de3f7e;
    font-size: 18px;
    margin-left: auto;
}

.sub-level1 span[class^="sapicon"] {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.sub-level1 .col-1 {
    width: 565px;
    min-width: 565px;
    background-color: #f9fbfc;
    padding-right: 8px;
    padding-left: 25px;
}

.sub-level1 .col-2 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level1 .col-3 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level1 .col-4 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level1 .col-5 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level1 .col-6 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level1 .col-7 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfaf4;
}

.sub-level1 .col-8 {
    position: relative;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfbf6;
}

.sub-level1 .col-9 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f5f9;
}

.sub-level1 .col-10 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefbf8;
}

.sub-level2 div[class^="col"] {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.sub-level2 span[class^="sapicon"] {
    margin-left: 22%;
}

.sub-level2 .lbl {
    font-size: 11px;
    color: initial;
    margin-left: 20px;
}

.sub-level2 .icon-T {
    height: 20px;
    width: 20px;
    display: block;
    margin-left: 22%;
    background-image: url("/medias/images/ico/T1_BLUE.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.sub-level2 .icon-T ~ .lbl {
    margin-left: 15px;
}

.sub-level2 .col-1 {
    width: 565px;
    min-width: 565px;
    background-color: #f9fbfc;
    padding-right: 8px;
    padding-left: 25px;
}

.sub-level2 .col-2 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level2 .col-3 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level2 .col-4 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level2 .col-5 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level2 .col-6 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcfdfd;
}

.sub-level2 .col-7 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fdfaf4;
}

.sub-level2 .col-8 {
    width: 130px;
    min-width: 130px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fdfbf6;
}

.sub-level2 .col-9 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f5f9;
}

.sub-level2 .col-10 {
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefbf8;
}

.col-1 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-2 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-3 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-4 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-5 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-6 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-7 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-8 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-9 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.col-10 {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.contenor {
    position: relative;
    display: flex;
    align-items: center;
}

.contenor::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
    content: "";
    background-color: transparent;
}

.contenor .tot-datas {
    cursor: default;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenor.err::before {
    background-color: #de3f7e;
}

.contenor.err .tot-datas.form-control {
    border: 1px solid #de3f7e;
}

.level-1.trav .contenor .material-icons.warn {
    color: #de3f7e;
    position: absolute;
    right: -50%;
}

.level-1.trav .material-icons {
    color: #bf360c;
    cursor: pointer;
}

.level-1.trav .col-1 {
    position: relative;
}

.level-1.trav .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #0055a0;
}

.flex-line.level-1 .error {
    background-color: #de3f7e;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    position: absolute;
    top: 100px;
    right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
}

.flex-line.sub-level1 .error {
    background-color: #de3f7e;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    position: absolute;
    top: 100px;
    right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
}

.flex-line.sub-level1 .col-9 .error.bis {
    background-color: #de3f7e;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    position: absolute;
    top: 100px;
    right: 620px;
    height: 70px;
    display: flex;
    align-items: center;
}

.error-center-Astreintes {
    background-color: #de3f7e;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    position: fixed;
    top: 105px;
    right: 74px;
    height: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.error-center {
    background-color: #de3f7e;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    position: absolute;
    top: 100px;
    right: 580px;
    height: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.error-center ul {
    list-style: none;
}

.outline-none {
    outline: none;
}

.absence {
    background-color: #fca70c;
    color: #fff;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
}

.chevron {
    line-height: 15px;
    padding-left: 3px;
    font-size: 25px;
    cursor: pointer;
}

.chevron:before {
    color: #7f7f7f;
    clear: both;
    content: 'keyboard_arrow_down';
    font-family: "Material Icons";
}

.collapsed.chevron:before {
    color: #7f7f7f;
    content: 'keyboard_arrow_right';
    font-family: "Material Icons";
}

.flex-line.collapsed .chevron:before {
    color: #7f7f7f;
    content: 'keyboard_arrow_right';
    font-family: "Material Icons";
}

.top-header {
    display: flex;
    flex-direction: row;
}

.top-header div {
    height: 35px;
    font-size: 11px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.top-header .col-sep {
    background-color: #bfbfbf;
    padding-right: 0;
    padding-left: 0;
    width: 5px;
    min-width: 5px;
    height: 35px;
}

.top-header .col-sep.active {
    background-color: #001e5c;
}

.top-header .onglet {
    width: 100px;
    min-width: 100px;
    background-color: #f1f1f1;
    color: #bbbbbb;
    cursor: pointer;
}

.top-header .onglet.active {
    background-color: #0052a0;
    color: #fff;
}

.top-header .col-5 {
    width: 150px;
    min-width: 150px;
}

.top-header .col-6 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #749abe;
}

.top-header .col-7 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #396fa3;
}

.top-header .col-8 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #749abe;
}

.top-header .col-9 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #396fa3;
}

.top-header .col-10 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #749abe;
}

.top-header .col-11 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fca70c;
}

.top-header .col-12 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9a036;
}

.top-header .col-13 {
    width: 150px;
    min-width: 150px;
}

.top-header .col-14 {
    width: 150px;
    min-width: 150px;
}

.bottom-header {
    display: flex;
    flex-direction: row;
}

.bottom-header div {
    height: 35px;
    font-size: 11px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.bottom-header .col-1 {
    padding-left: 5px;
    background-color: #0052a0;
    width: 565px;
    min-width: 565px;
}

.bottom-header .col-2 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99b9d9;
}

.bottom-header .col-3 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6697c6;
}

.bottom-header .col-4 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99b9d9;
}

.bottom-header .col-5 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6697c6;
}

.bottom-header .col-6 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99b9d9;
}

.bottom-header .col-7 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffba3d;
}

.bottom-header .col-8 {
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc966;
}

.bottom-header .col-9 {
    background-color: #0052a0;
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header .col-10 {
    background-color: #ea700d;
    width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ci-header {
    background-color: #7e649e;
    width: 565px;
    min-width: 565px;
    color: #fff;
    text-align: center;
    border: 1px solid #ccc !important;
    height: 31px;
    font-size: 14px;
}

.abs {
    color: #bf360c;
    cursor: pointer;
}

.level-1.maj .material-icons {
    color: #7e649e;
    cursor: pointer;
}

.level-1.maj .col-1 {
    position: relative;
}

.level-1.maj .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #7e649e;
}

.majs {
    color: #7e649e;
    cursor: pointer;
}

.level-1.prim .material-icons {
    color: #de3f7e;
    cursor: pointer;
}

.level-1.prim .col-1 {
    position: relative;
}

.level-1.prim .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #de3f7e;
}

.prims {
    color: #de3f7e;
    cursor: pointer;
}

.level-1.as .material-icons {
    color: #ffc000;
    cursor: pointer;
}

.level-1.as .col-1 {
    position: relative;
}

.level-1.as .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #ffc000;
}

.ast {
    color: #ffc000;
    cursor: pointer;
}

.level-1.read-only .lbl {
    margin-left: 45px;
}

.level-2.abse .col-1 {
    position: relative;
}

.level-2.abse .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #df9b86;
}

.level-2.majo .col-1 {
    position: relative;
}

.level-2.majo .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #bfb2cf;
}

.level-2.primes .col-1 {
    position: relative;
}

.level-2.primes .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #ef9fbf;
}

.level-2.astr .col-1 {
    position: relative;
}

.level-2.astr .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #ffe080;
}

.level-2.astr .astr-wrap {
    width: 100%;
}

.level-2.astr .edit-ast {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.level-2.astr .edit-ast input {
    width: 40px;
}

.level-2.astr .edit-ast-icons {
    display: flex;
    height: 35px;
    flex-direction: column;
    width: 19px;
}

.level-2.astr .edit-ast-icons span {
    margin-top: 4px;
}

.level-2.sec .col-1 {
    position: relative;
}

.level-2.sec .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #98c2cd;
}

.level-2.stu .col-1 {
    position: relative;
}

.level-2.stu .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #a5d6e3;
}

.sub-level1.biz .material-icons {
    color: #0055a0;
    cursor: pointer;
}

.sub-level1.biz .col-1 {
    position: relative;
}

.sub-level1.biz .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #80aad0;
}

.sub-level1.biz .verrou {
    position: absolute;
    left: 2%;
}

.sub-level1.biz .verrou.locked {
    color: red;
}

.sub-level1.biz .commentaire {
    position: absolute;
    right: 2%;
    color: #fca70c;
}

.sub-level1.biz .commentaire.empty {
    color: black;
}

.sub-level2.abse .col-1 {
    position: relative;
}

.sub-level2.abse .col-1::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    content: "";
    background-color: #df9b86;
}

.popover {
    max-height: 250px;
    overflow-y: auto;
}

.div-PrimeAstreinte-disabled {
    pointer-events: none;
}

.bootstrap-datetimepicker-widget table tbody tr {
    display: table-row;
}

.modal-body textarea {
    resize: none;
}

.modal-body .commentaire textarea {
    width: 100%;
}

@media (max-width: 1366px) and (max-height: 768px) {
    fred-toolbar .date-section .label_date {
        height: 25px;
    }
    fred-toolbar .date-section .label_date_text {
        font-size: 9px;
    }
    fred-toolbar .date-section .input-group.date {
        height: 23px;
    }
    fred-toolbar .date-section .input-group.date .input-group-addon {
        height: 23px;
    }
    fred-toolbar .action-section .btn-default {
        height: 25px;
        font-size: 9px;
    }
    fred-toolbar .action-section .btn-link {
        height: 25px;
        font-size: 9px;
    }
    fred-toolbar .action-section .btn-validate {
        height: 25px;
        font-size: 9px;
    }
    fred-toolbar .heure {
        height: 39px;
        margin-top: 3px;
    }
    fred-toolbar .heure-sup {
        height: 39px;
        margin-top: 3px;
    }
    input[type=number]::-webkit-inner-spin-button {
        height: 18px;
    }
    input[type=number]::-webkit-outer-spin-button {
        height: 18px;
    }
    .pointage-hebdo-list {
        font-size: 9px;
        width: 1307px;
    }
    .pointage-hebdo-list .pointage-hebdo-list-body {
        height: calc(100vh - 263px);
    }
    .pointage-hebdo-list.hide-tenth {
        width: 1217px;
    }
    .col-1 {
        min-height: 30px;
    }
    .col-2 {
        min-height: 30px;
    }
    .col-3 {
        min-height: 30px;
    }
    .col-4 {
        min-height: 30px;
    }
    .col-5 {
        min-height: 30px;
    }
    .col-6 {
        min-height: 30px;
    }
    .col-7 {
        min-height: 30px;
    }
    .col-8 {
        min-height: 30px;
    }
    .col-9 {
        min-height: 30px;
    }
    .col-10 {
        min-height: 30px;
    }
    .contenor .tot-datas {
        font-size: 9px;
    }
    .flex-line .form-control {
        width: 40px;
        height: 20px;
        font-size: 9px;
        padding: 3px 0 2px 3px;
    }
    .top-header div {
        font-size: 9px;
        height: 30px;
    }
    .top-header .col-sep {
        height: 30px;
    }
    .top-header .onglet {
        width: 70px;
        min-width: 70px;
    }
    .top-header .col-5 {
        width: 80px;
        min-width: 80px;
    }
    .top-header .col-6 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-7 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-8 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-9 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-10 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-11 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-12 {
        width: 105px;
        min-width: 105px;
    }
    .top-header .col-13 {
        width: 90px;
        min-width: 90px;
    }
    .top-header .col-14 {
        width: 90px;
        min-width: 90px;
    }
    .bottom-header div {
        font-size: 9px;
        height: 30px;
    }
    .bottom-header .col-1 {
        width: 375px;
        min-width: 375px;
    }
    .bottom-header .col-2 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-3 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-4 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-5 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-6 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-7 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-8 {
        width: 105px;
        min-width: 105px;
    }
    .bottom-header .col-9 {
        width: 90px;
        min-width: 90px;
    }
    .bottom-header .col-10 {
        width: 90px;
        min-width: 90px;
    }
    .ci-header {
        width: 375px;
        min-width: 375px;
    }
    .level-1 .lbl {
        font-size: 9px;
    }
    .level-1 .tot-txt {
        font-size: 9px;
    }
    .level-1 .col-1 {
        width: 375px;
        min-width: 375px;
    }
    .level-1 .col-2 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-3 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-4 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-5 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-6 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-7 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-8 {
        width: 105px;
        min-width: 105px;
    }
    .level-1 .col-9 {
        width: 90px;
        min-width: 90px;
    }
    .level-1 .col-10 {
        width: 90px;
        min-width: 90px;
    }
    .sub-level1 .tot-txt {
        font-size: 9px;
    }
    .sub-level1 .col-1 {
        width: 375px;
        min-width: 375px;
    }
    .sub-level1 .col-2 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-3 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-4 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-5 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-6 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-7 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-8 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level1 .col-9 {
        width: 90px;
        min-width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub-level1 .col-10 {
        width: 90px;
        min-width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .level-2 .lbl {
        font-size: 9px;
    }
    .level-2 .tot-txt {
        font-size: 9px;
    }
    .level-2 .col-1 {
        width: 375px;
        min-width: 375px;
    }
    .level-2 .col-2 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-3 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-4 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-5 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-6 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-7 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-8 {
        width: 105px;
        min-width: 105px;
    }
    .level-2 .col-9 {
        width: 90px;
        min-width: 90px;
    }
    .level-2 .col-10 {
        width: 90px;
        min-width: 90px;
    }
    .sub-level2 .tot-txt {
        font-size: 9px;
    }
    .sub-level2 .lbl {
        font-size: 9px;
    }
    .sub-level2 .col-1 {
        width: 375px;
        min-width: 375px;
    }
    .sub-level2 .col-2 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-3 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-4 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-5 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-6 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-7 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-8 {
        width: 105px;
        min-width: 105px;
    }
    .sub-level2 .col-9 {
        width: 90px;
        min-width: 90px;
    }
    .sub-level2 .col-10 {
        width: 90px;
        min-width: 90px;
    }
}
