.no-pad {
    padding: 0;
}

fred-toolbar .action-section {
    margin-left: 1%;
}

fred-toolbar .action-section .btn {
    font-size: 11px;
    margin-top: 0;
    height: 30px;
}

fred-toolbar .action-section .btn-validate {
    background-color: #ff0066;
    color: #fff;
    margin-right: 0;
}

fred-toolbar .niveau-section {
    margin-left: 1%;
    width: 30%;
}

fred-toolbar .niveau-section .rdio-btns {
    display: flex;
}

fred-toolbar .niveau-section .inner-addon.right-addon {
    width: 45%;
}

fred-toolbar .niveau-section fred-button {
    margin-left: auto;
}

.monthly-synth {
    width: 100%;
}

.monthly-synth tbody {
    display: block;
    height: calc( 100vh - 350px);
    overflow: auto;
}

.monthly-synth tbody tr {
    border-top: 1px solid #ddd;
}

.monthly-synth tbody tr.odd {
    background-color: #fffafa;
}

.monthly-synth tbody td {
    font-size: 11px;
    height: 30px;
    text-align: center;
}

.monthly-synth tbody td .more-detail {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.monthly-synth tbody td .more-detail .material-icons {
    font-size: 26px;
    color: #67757f;
    cursor: pointer;
}

.monthly-synth thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    width: calc( 100% - 17px);
}

.monthly-synth thead th {
    text-align: center;
    height: 30px;
}

.monthly-synth .header1 {
    background-color: #0052a0;
    color: #fff;
    font-size: 11px;
    height: 40px;
}

.monthly-synth .header1 th {
    height: 40px;
}

.monthly-synth .header1 th.select-all-s {
    display: flex;
    align-items: center;
}

.monthly-synth .header1 .chb {
    height: 40px;
}

.monthly-synth .header1 .search-serv-bloc {
    display: flex;
}

.monthly-synth .header1 .search-serv-bloc .input-group-btn {
    width: 30px;
}

.monthly-synth .header1 .sh-all {
    background-color: #0052a0;
    color: #fff;
}

.monthly-synth .header1 .sh-all option {
    background-color: #e1e3e5;
    color: #0052a0;
}

.monthly-synth .chb {
    background-color: #6697c6;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.monthly-synth .header2 {
    background-color: #31859b;
    color: #fff;
    font-size: 11px;
    height: 30px;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-size: 14px;
    margin-bottom: 0;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 20%;
    border-radius: 20%;
    background-color: #fcfcfc;
    border: 3px #78C1DD solid;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

input[type="checkbox"]:checked + label span {
    border: 3px #2c77ba solid;
    background-image: url("/medias/images/ico/checked.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.input-group.date {
    height: 30px;
    width: 90%;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0 !important;
}

.btn-voir {
    background-color: #31859b;
    color: #fffafa;
    margin: 5px;
    font-size: 11px;
    height: 24px;
    width: 90px;
    border: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-size: 11px;
    margin-right: 15px;
}

input[type="radio"] + label span {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    width: 19px;
    background-color: #fcfcfc;
    border: 3px #2c77ba solid;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

input[type="radio"]:checked + label span {
    background-color: #1F98C7;
    border: 3px #78C1DD solid;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.bootstrap-datetimepicker-widget table tbody tr {
    display: table-row;
}

@media (max-width: 1366px) and (max-height: 768px) {
    fred-toolbar .niveau-section .inner-addon.right-addon {
        width: 35%;
    }
    .monthly-synth .header1 {
        font-size: 9px;
    }
    .monthly-synth .header2 {
        font-size: 9px;
    }
    .monthly-synth tbody {
        height: calc( 100vh - 265px);
    }
    .monthly-synth tbody td {
        font-size: 9px;
    }
    input[type="radio"] + label {
        font-size: 9px !important;
    }
}
