.no-padding {
    padding: 0;
}

.panel-default {
    border: none;
}

.panel-default > .panel-heading {
    border: none;
}

.panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
}

.inputPLSearch i {
    display: flex;
    align-items: center;
}

.glyphicon-calendar {
    float: left;
}

.modal-footer {
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 65px;
    background: #e1e3e5;
}

.col-1 {
    min-width: 5%;
    width: 5%;
}

.col-action {
    min-width: 5%;
    width: 5%;
    display: flex;
    justify-content: flex-end;
}

.col-action i {
    cursor: pointer;
}

.col-2 {
    min-width: 18%;
    width: 18%;
}

.col-3 {
    min-width: 16%;
    width: 16%;
}

.col-4 {
    min-width: 8%;
    width: 8%;
}

.col-5 {
    min-width: 8%;
    width: 8%;
}

.col-6 {
    min-width: 8%;
    width: 8%;
}

.col-7 {
    min-width: 8%;
    width: 8%;
}

.col-8 {
    min-width: 8%;
    width: 8%;
}

.col-9 {
    min-width: 8%;
    width: 8%;
}

.col-10 {
    min-width: 8%;
    width: 8%;
}

.line-objectifFlash {
    height: 35px;
    align-items: center;
    border-bottom-color: lightgray;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.flex-table {
    height: calc(100vh - 300px);
}

.montant {
    display: flex;
    padding-right: 30px;
}

.span-line {
    height: 20px;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
    width: 85%;
}
