<div class="copier-deplacer-T4-dialog modal fade" id="COPIER_DEPLACER_T4_DIALOG_ID" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="flaticon flaticon-shuffle-1"></i>{{$ctrl.Titre}}</h2>
                <i class="flaticon flaticon-multiply close pull-right" data-dismiss="modal" title="{{::$ctrl.resources.Global_Modal_Annuler_Tooltip}}"></i>
            </div>

            <!--Rappel des tâches parentes et de la tâche cible-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">{{::$ctrl.resources.CopierDeplacerT4_RegroupementT1}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">{{$ctrl.Tache1.Code}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6">{{$ctrl.Tache1.Libelle}}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">{{::$ctrl.resources.CopierDeplacerT4_RegroupementT2}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">{{$ctrl.Tache2.Code}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6">{{$ctrl.Tache2.Libelle}}</div>
                </div>
                <div class="row" ng-if="$ctrl.Target === $ctrl.TargetEnum.Tache3">
                    <div class="col-lg-4 col-md-4 col-sm-4">{{::$ctrl.resources.CopierDeplacerT4_CibleT3}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">{{$ctrl.Tache3.Code}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6">{{$ctrl.Tache3.Libelle}}</div>
                </div>
                <div class="row" ng-if="$ctrl.Target === $ctrl.TargetEnum.Tache4">
                    <div class="col-lg-4 col-md-4 col-sm-4">{{::$ctrl.resources.CopierDeplacerT4_RegroupementT3}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">{{$ctrl.Tache3.Code}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6">{{$ctrl.Tache3.Libelle}}</div>
                </div>
                <div class="row" ng-if="$ctrl.Target === $ctrl.TargetEnum.Tache4">
                    <div class="col-lg-4 col-md-4 col-sm-4">{{::$ctrl.resources.CopierDeplacerT4_CibleT4}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">{{$ctrl.Tache4.Code}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6">{{$ctrl.Tache4.Libelle}}</div>
                </div>
            </div>

            <!--Action copier / déplacer-->
            <div ng-if="$ctrl.Target === $ctrl.TargetEnum.Tache3" class="modal-body modal-body-separate">
                {{::$ctrl.resources.CopierDeplacerT4_QueVoulezVousFaire}}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="radio"
                               id="COPIER_DEPLACER_T4_DIALOG_RADIO_ACTION_COPIER_ID"
                               ng-model="$ctrl.Action"
                               value="{{$ctrl.ActionEnum.Copier}}"
                               ng-disabled="$ctrl.Busy"
                               ng-change="$ctrl.OnActionChanged()"
                               ng-required="true">
                        <label for="COPIER_DEPLACER_T4_DIALOG_RADIO_ACTION_COPIER_ID"><span></span>{{::$ctrl.resources.CopierDeplacerT4_Action_Copier}}</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="radio"
                               id="COPIER_DEPLACER_T4_DIALOG_RADIO_ACTION_DEPLACER_ID"
                               ng-model="$ctrl.Action"
                               value="{{$ctrl.ActionEnum.Deplacer}}"
                               ng-disabled="$ctrl.Busy"
                               ng-change="$ctrl.OnActionChanged()"
                               ng-required="true">
                        <label for="COPIER_DEPLACER_T4_DIALOG_RADIO_ACTION_DEPLACER_ID"><span></span>{{::$ctrl.resources.CopierDeplacerT4_Action_Deplacer}}</label>
                    </div>
                </div>
            </div>

            <!--Paramètres-->
            <div ng-if="$ctrl.Target === $ctrl.TargetEnum.Tache3 && $ctrl.Action !== null" class="modal-body modal-body-separate">

                <!--CI-->
                <div class="row parametre">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        {{::$ctrl.resources.CopierDeplacerT4_Label_CI}}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <lookup-standalone ng-model="$ctrl.View.CI"
                                           text="$ctrl.View.CI.CodeLibelle"
                                           search-title="{{::$ctrl.resources.Global_ReferentielCI}}"
                                           search-placeholder="{{::$ctrl.resources.Global_ReferentielCI_Placeholder}}"
                                           url="/api/CI/SearchLight"
                                           on-select="$ctrl.OnCiChanged()"
                                           placeholder="Rechercher un CI..."
                                           class="formulaire long"
                                           ng-disabled="$ctrl.Busy"
                                           showDeleteButton="false"
                                           show-in-popup="true"
                                           ng-show="$ctrl.Action === $ctrl.ActionEnum.Copier">
                        </lookup-standalone>
                        <span ng-show="$ctrl.Action === $ctrl.ActionEnum.Deplacer">{{$ctrl.View.CI.CodeLibelle}}</span>
                    </div>
                </div>

                <!--Révision-->
                <div class="row field-separator parametre">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        {{::$ctrl.resources.CopierDeplacerT4_Label_Revision}}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <select required
                                class="form-control"
                                ng-model="$ctrl.View.Revision"
                                ng-options="revision as revision.Revision for revision in $ctrl.View.Revisions"
                                ng-disabled="$ctrl.Busy || $ctrl.Action !== $ctrl.ActionEnum.Copier"
                                ng-change="$event.stopPropagation(); $ctrl.OnRevisionChanged()"
                                ng-show="$ctrl.Action === $ctrl.ActionEnum.Copier" />
                        <span ng-show="$ctrl.Action === $ctrl.ActionEnum.Deplacer">{{$ctrl.View.Revision.Revision}}</span>
                    </div>
                </div>

                <!--Regroupement T3-->
                <div class="row field-separator parametre">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        {{::$ctrl.resources.CopierDeplacerT4_Label_RegroupementT3}}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <select required
                                class="form-control"
                                ng-model="$ctrl.View.Tache3"
                                ng-options="tache3 as tache3.Text for tache3 in $ctrl.View.Taches3"
                                ng-disabled="$ctrl.Busy || $ctrl.View.Taches3.length === 0"
                                ng-change="$event.stopPropagation(); $ctrl.OnTache3Changed()" />
                    </div>
                </div>
            </div>

            <!--Liste des tâches 4-->
            <div ng-if="$ctrl.View.Revision !== null" class="modal-body modal-body-separate">
                <div ng-if="$ctrl.View.Taches4.length === 0">
                    {{::$ctrl.resources.CopierDeplacerT4_AucunT4Eligibles}}
                </div>
                <div ng-if="$ctrl.View.Taches4.length > 0">
                    {{::$ctrl.resources.CopierDeplacerT4_T4Eligibles}} (T1 > T2 > T3<span class="tache4span"> > T4</span>)
                    <div class="taches4">
                        <table>
                            <tr ng-repeat="item in $ctrl.View.Taches4 | orderBy:['+Tache1.Code', '+Tache2.Code', '+Tache3.Code', '+Tache4.Code']"
                                ng-click="$ctrl.OnSelectTache4(item)"
                                ng-class="item.Selected ? 'tache4-selected' : ''">
                                <td class="col-check" ng-if="$ctrl.MultiSelectTache4">
                                    <input type="checkbox" ng-model="item.Selected" id="tache4_{{item.Code}}" />
                                    <label for="tache4_{{item.Code}}"><span></span></label>
                                </td>
                                <td ng-class="$ctrl.MultiSelectTache4 ? 'col-tache-with-check' : 'col-tache-without-check'">
                                    {{item.TextTache1}} > {{item.TextTache2}} > {{item.TextTache3}}<span class="tache4span"> > {{item.TextTache4}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <!--Bouton d'action-->
                <button class="btn btn-default pull-left"
                        ng-click="$ctrl.OnActionButtonCLick()"
                        ng-disabled="$ctrl.Busy || !$ctrl.GetActionButtonEnabled()"
                        ng-if="$ctrl.Action !== null">
                    {{$ctrl.GetActionButtonText()}}
                </button>

                <!--Bouton annuler-->
                <button class="btn btn-link pull-right"
                        data-dismiss="modal"
                        title="{{::$ctrl.resources.Global_Bouton_Annuler_Tooltip}}"
                        ng-disabled="$ctrl.Busy">
                    {{::$ctrl.resources.Global_Bouton_Annuler}}
                </button>
            </div>
        </div>
    </div>
</div>
