<div class="bkg-item pk-{{ref.CodeRef}}-item"
     ng-repeat="ref in $ctrl.referentiels track by $index "
     ng-click="$ctrl.handleSelection(ref)"
     ng-class="{selected : $index == $ctrl.selectedIndex}"
     title="Cliquer pour sélectionner l'information {{ref.CodeRef}} / {{ref.LibelleRef}}">
    <h2 fred-wrap-in-tag="{{ref.CodeRef}}" words="$ctrl.searchTexts">{{ref.CodeRef}}</h2>
    <h3 fred-wrap-in-tag="{{ref.LibelleRef}}" words="$ctrl.searchTexts">{{ref.LibelleRef | truncateText:$ctrl.letterLimit}}</h3>
    <span fred-wrap-in-tag="{{ref.CodeParentsSimplifie}}" words="$ctrl.searchTexts" class="libelle-quiet">{{ref.CodeParentsSimplifie}}</span>
</div>