.no_padding {
    padding-left: 0;
    padding-right: 0;
}

.no_pl {
    padding-left: 0;
}

.no_pr {
    padding-right: 0;
}

.modules .pickFilter {
    margin-top: 10px;
}

.modules .search-container .add .btn-primary.focus {
    background-color: #097da0;
    border: 1px #097da0;
}

.btn-primary:focus {
    background-color: #097da0;
    border: 1px #097da0;
}

.information {
    padding-top: 45px;
}

.information .icon {
    text-align: right;
}

.information .icon span {
    font-size: 60px;
    font-style: normal;
    text-align: right;
}

.lists {
    border-right: 1px solid #ccc;
}

.list-content {
    overflow: auto;
}

.list-content .active {
    background-color: #f5f5f5;
}

.list-content .ligne {
    border-top: 1px solid #ddd;
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
}

.list-content .ligne:hover {
    background: #e8e8e8;
    color: #333333;
}

.list-content .ligne .lb {
    font-size: 10px;
    color: #b3b3b3;
    line-height: 14px;
}

.list-content .data {
    cursor: pointer;
    max-width: 100%;
    word-wrap: break-word;
}

.list-content .selected .ligne .lb {
    color: #fff;
}

.list-content .selected .ligne:hover .lb {
    color: #b3b3b3;
}

.list-content .badge-notify {
    color: #ffa90d;
    padding-left: 5px;
}

.list-content .button-action.material-icons.radio {
    font-size: 17px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.list-content .button-action.material-icons.radio.unavailable {
    color: #d33f7e;
}

.button-action.material-icons {
    margin-right: 0;
    padding-right: 0;
    padding-top: 3px;
}

.add .btn {
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 30px;
}

.add .btn .material-icons {
    font-size: 25px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    border-color: #bbbbbb;
    border-radius: 0;
    padding: 0;
    width: 30px;
    position: relative;
}

.button-search .material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
}

.selected .material-icons.badge-notify {
    color: #ffa90d;
}

.selected .ligne:hover .material-icons.badge-notify {
    color: #ffa90d;
}

.selected .ligne:hover .material-icons {
    color: #333333;
}

.selected .ligne:hover .flaticon-multiply {
    color: #333333;
}

.selected .material-icons {
    color: #fff;
}

.selected .flaticon-multiply {
    color: #fff;
}

.material-icons.badge-notify {
    margin-top: 5px;
    padding-left: 0;
}

.no_org {
    color: red;
}

.modal-content {
    border-radius: 0;
}

.modal-body textarea {
    resize: none;
}

.bandeau-list {
    margin-top: 30px;
}

.options .bloc-info {
    margin-bottom: 10px;
}

.options .bloc-info-title {
    display: flex;
    align-items: center;
    color: #67757F;
}

.options .bloc-info-title .fa {
    font-size: 35px;
}

.options .bloc-info-title span {
    font-size: 1.2em;
    margin-left: 10px;
}

.options label {
    color: #fff;
    margin-bottom: 0;
}

.options input[type="checkbox"] + label span {
    margin: -1px 8px 0 0 !important;
}

.options .t_fourth {
    margin-left: 30%;
}

.options .t_fourth td span {
    color: #9a9a9a;
}

.options .close_panel span {
    font-size: 12.5px;
}

.panel {
    border: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel td {
    display: flex;
    align-items: center;
}

.panel .accordion-toggle {
    width: 25px;
}

.panel-group {
    margin-bottom: 0;
    border-bottom: 1px solid #bebebe;
}

.panel-body {
    padding: 0;
    border-bottom: 0 none;
}

.panel-heading {
    padding-top: 3px;
    padding-bottom: 3px;
}

.panel-heading .accordion-toggle .material-icons {
    color: #fff;
    float: left;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.panel-heading .accordion-toggle.collapsed .material-icons {
    color: #fff;
    float: left;
    font-size: 25px;
    transform: none;
    -webkit-transform: none;
}

.panel-heading.level1 {
    background-color: rgba(16, 73, 137, 0.8);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.panel-heading.level2 {
    background-color: rgba(83, 168, 193, 0.8);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-left: 30px;
}

.panel-heading.level3 {
    background-color: #c4b026;
    padding-left: 45px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.panel-heading.level3 .amalgam {
    width: 25px;
}

.panel-heading.level3 label {
    color: #000000;
}

.panel-body.level4 {
    display: flex;
    border-bottom: 2px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type="checkbox"]:indeterminate + label span {
    border: 3px #2c77ba solid;
    background-image: url("/medias/images/picto/tree/minilevel1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .modules .filter .inner-addon.right-addon .material-icons {
        height: 23px;
    }
    .modules .filter button[type="button"] {
        height: 25px !important;
    }
    .modules .search-container .add .material-icons {
        font-size: 18px;
        width: 25px;
        height: 25px;
    }
    .search-container .input-search input {
        height: 25px;
        padding: 0;
        padding-left: 10px;
        font-size: 11px;
    }
    .input-group-addon {
        height: 25px;
        width: 25px;
    }
    .button-search .material-icons {
        font-size: 17px;
        height: 23px;
    }
    .add .btn {
        width: 25px;
    }
    .list-content .ligne {
        font-size: 11px;
        padding: 0;
        padding-left: 10px;
        height: 31px;
    }
    .list-content .ligne .lb {
        font-size: 7px;
        line-height: 5px;
    }
    .list-content .data {
        padding-top: 7px;
    }
    span.button-action.material-icons {
        font-size: 18px !important;
        padding-top: 8px;
        width: 25px !important;
        height: 25px !important;
    }
    .options .form {
        height: 69%;
    }
    .options .bloc-info-title .fa {
        font-size: 25px;
    }
    .options .bloc-info-title span {
        font-size: 11px;
        margin-left: 5px;
    }
    .options .t_fourth td span {
        font-size: 11px;
    }
    .options .close_panel {
        height: 49px;
    }
    .options .close_panel i {
        top: 12px;
        left: 115px;
    }
    .panel-heading .accordion-toggle::after {
        font-size: 12px;
    }
    .panel-heading .accordion-toggle.collapsed::after {
        font-size: 12px;
    }
}
