@using Fred.Web.Shared.App_LocalResources

@{
    ViewBag.Title = FeatureEtablissementPaie.EtablissementPaie_TitreOnglet;
    Layout = "~/Views/Shared/_Layout.new.cshtml";
}

@section styles {
    @Styles.Render("~/EtablissementPaieIndexBundle.css")
}

@section scripts {
    @Scripts.Render("~/EtablissementPaieIndexBundle.js")
    @Scripts.Render("https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyDwru8fGuoaw-edau7EllAiihzwf2ogF4Y")
    @this.RenderResources("FeatureEtablissementPaie")
}

<div class="container" ng-controller="EtablissementPaieController" ng-init="init()">

    <div class="toleft" id="PanelMain">

        <!-- START : Titre de la page -->
        <h1>{{resources.EtablissementPaie_PanelMain_Titre}}</h1>
        <!--END : Titre de la page -->

        <div class="row">
            <!--BEGIN : Picklist Societe -->
            <div class="col-md-5">
                <label class="infoFilter">{{resources.Global_SelectionnerSociete}}</label>
                <div class="filter">
                    <div class="inner-addon right-addon">
                        <i class="chev material-icons">chevron_right</i>
                        <lookup ng-model="societe"
                                search-placeholder="{{resources.Global_ReferentielSociete_Placeholder}}"
                                search-title="{{resources.Global_ReferentielSociete}}"
                                on-select="loadData()"
                                url="/api/Societe/SearchLightForRoles">
                            <input type="text"
                                   class="form-control"
                                   ng-value="societe.CodeLibelle"
                                   placeholder="{{resources.Global_ReferentielSociete_Placeholder}}"
                                   title="{{societe.CodeLibelle}}" />
                        </lookup>
                    </div>
                </div>
            </div>
            <!--END : Picklist Societe -->
            <!--BEGIN : Recherche -->
            <div class="col-md-5" ng-if="societeId != undefined">
                <label class="infoFilter">{{resources.Global_RechercheAffiner}}</label>
                <div class="filter">
                    <div class="input-group">
                        <input class="form-control txt"
                               type="text"
                               id="txtRecherche"
                               name="Recherche"
                               ng-model-options="{ debounce: 500 }"
                               placeholder="{{resources.RechercherEtablissementsPaie_placeholder}}"
                               ng-model="recherche" ng-change="handleSearch(recherche)" />
                        <span class="input-group-btn">
                            <button class="btn btn-secondary y_search"
                                    title="{{resources.Global_RechercheAffiner_Tooltip}}"
                                    type="button"
                                    ng-click="handleSearch(recherche)">
                                <i class="material-icons">search</i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <!--END : Recherche -->
            <!--BEGIN : Bouton pour ajouter Items -->
            <div class="col-md-2 " ng-if="societeId != undefined">
                <span class="pull-right">
                    <label class="infoFilter">{{resources.Global_Ajouter}}</label>
                    <i class="flaticon flaticon-add icoplus " title="{{resources.Global_Bouton_AjouterReference_Tooltip}}" ng-click="handleClickCreateNew()"></i>
                </span>
            </div>
            <!--END : Bouton pour ajouter Items -->
        </div>

        <!--LISTE : START-->
        <div class="row results" id="Table" ng-if="societeId != undefined">
            <div class="col-md-12 refs-list">
                <div ng-repeat="item in items">
                    <div class="row line" ng-click="handleSelect(item)">
                        <div class="col-md-2">
                            <span class="t1">{{item.Code}}</span>
                        </div>
                        <div class="col-md-8">
                            <div class="lb">{{resources.EtablissementPaie_PanelMain_Table_Libelle}}</div>
                            <span class="t2">{{item.Libelle}}</span>
                        </div>
                        <div class="col-md-2">
                            <div class="bdg actif" ng-if="item.Actif">{{resources.Global_Actif}}</div>
                            <div class="bdg inactif" ng-if="!item.Actif">{{resources.Global_Inactif}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--LISTE : END-->

    </div>


    <!--DETAILS PANEL : START-->
    <div ng-class="checkDisplayOptions"></div>
    <div class="options" id="PanelRight" ng-class="checkDisplayOptions + ' ' + checkFormatOptions">

        <!--HEADER TOOLBAR : BEGIN-->
        <div class="toolbar">
            <div class="flaticon flaticon-house grandicone"></div>
        </div>
        <!--HEADER TOOLBAR : END-->
        <!-- Titre : BEGIN -->
        <div class="form-header" id="Titre">
            <h2>
                <span ng-if="etabPaie.EtablissementPaieId == 0">{{resources.EtablissementPaie_PanelRight_Titre_Ajouter}}</span>
                <span ng-if="etabPaie.EtablissementPaieId != 0">{{resources.EtablissementPaie_PanelRight_Titre_Modifier}}</span>
            </h2>
            <label class="legend">{{resources.Global_LegendeAsterisque}}</label>
        </div>
        <!-- Titre : END -->

        <div class="form fred-scroll">
            <!--Formulaire: START-->
            <form name="formEtabPaie" autocomplete="off" novalidate>
                <!--FIELD Actif: START-->
                <div class="col-md-offset-8 chb_r">
                    <input id="chkActif" type="checkbox" ng-model="etabPaie.Actif" />
                    <label for="chkActif"><span></span>{{resources.Global_Actif}}</label>
                </div>
                <!--FIELD Actif: END-->
                <!--FIELD Code: START-->
                <div class="form-group" ng-class="{ 'has-error' : (formEtabPaie.Code.$invalid && formEtabPaie.$submitted) || formEtabPaie.Code.$error.exist || formEtabPaie.Code.$error.pattern}">
                    <label for="txtCode">{{resources.EtablissementPaie_PanelRight_Code}} *</label>
                    <span class="text-danger" ng-show="formEtabPaie.Code.$error.required && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <span class="text-danger" ng-show="formEtabPaie.Code.$error.exist">{{resources.Global_Control_Code_ExistInSociete_Erreur}}</span>
                    <span class="text-danger" ng-show="formEtabPaie.Code.$error.pattern">{{resources.Global_Control_Code_FormatAlphanumeric_Erreur}}</span>
                    <input class="form-control" required ng-pattern='/^[a-zA-Z0-9]+$/' type="text" id="txtCode" name="Code" ng-change="handleChangeCode(formEtabPaie)" placeholder="{{resources.EtablissementPaie_PanelRight_Code_Placeholder}}" ng-model="etabPaie.Code" maxlength="20" />
                </div>
                <!--FIELD Code: END-->
                <!--FIELD Libelle: START-->
                <div ng-class="{ 'has-error' : formEtabPaie.Libelle.$invalid && formEtabPaie.$submitted}">
                    <label for="txtLibelle">{{resources.EtablissementPaie_PanelRight_Libelle}} *</label>
                    <span class="text-danger" ng-show="formEtabPaie.Libelle.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <input class="form-control" type="text" id="txtLibelle" name="Libelle" required placeholder="{{resources.EtablissementPaie_PanelRight_Libelle_Placeholder}}" ng-model="etabPaie.Libelle" maxlength="500" />
                    <br />
                </div>
                <!--FIELD Libelle: END-->
                <!--FIELD Etablissement comptable: START-->
                <div ng-class="{ 'has-error' : formEtabPaie.EtablissementComptable.$invalid && formEtabPaie.$submitted}">
                    <label ng-if="etablissementComptableMandatory" for="txtEtablissementComptable">{{resources.EtablissementPaie_PanelRight_EtablissementComptable}} *</label>
                    <label ng-if="!etablissementComptableMandatory" for="txtEtablissementComptable">{{resources.EtablissementPaie_PanelRight_EtablissementComptable}}</label>
                    <span class="text-danger" ng-show="formEtabPaie.EtablissementComptable.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <lookup-standalone id="txtEtablissementComptable"
                                       name="EtablissementComptable"
                                       ng-model="etabPaie.EtablissementComptable"
                                       text="etabPaie.EtablissementComptable.Libelle"
                                       search-title="{{resources.EtablissementPaie_PanelRight_EtablissementComptable_Placeholder}}"
                                       search-placeholder="{{resources.EtablissementPaie_PanelRight_EtablissementComptable_SearchTitle}}"
                                       url="/api/EtablissementComptable/SearchLight/?societeId={{societeId}}&showAllOrganisations=true&"
                                       on-select="etabPaie.EtablissementComptableId = item.IdRef; etabPaie.EtablissementComptable = item"
                                       on-delete="etabPaie.EtablissementComptable = null; etabPaie.EtablissementComptableId = null;"
                                       class="formulaire long"
                                       ng-required="etablissementComptableMandatory">
                    </lookup-standalone>
                    <br />
                </div>
                <!--FIELD Etablissement comptable: END-->
                <!--FIELD IsAgenceRattachement: START-->
                <div>
                    <input id="chkIsAgenceRattachement" type="checkbox" ng-model="etabPaie.IsAgenceRattachement" />
                    <label for="chkIsAgenceRattachement"><span></span>{{resources.EtablissementPaie_PanelRight_IsAgenceRattachement}}</label>
                </div>
                <!--FIELD IsAgenceRattachement: END-->
                <!--FIELD AgenceRattachement: START-->
                <div id="divAgRattachement" ng-show="!etabPaie.IsAgenceRattachement">
                    <label>{{resources.EtablissementPaie_PanelRight_AgenceRattachement}}</label>
                    <span class="text-danger" ng-show="formEtabPaie.AgenceRattachement.$error.needed && formEtabPaie.$submitted"><br />* {{resources.EtablissementPaie_PanelRight_ErrorAgenceRattachement}}</span>

                    <lookup-standalone class="formulaire long"
                                       ng-model="selectedRef"
                                       text="etabPaie.AgenceRattachement.CodeLibelle"
                                       search-title="{{resources.Global_ReferentielEtablissementPaie}}"
                                       search-placeholder="{{resources.Global_ReferentielEtablissementPaie_Placeholder}}"
                                       on-click="showPickList('EtablissementPaie')"
                                       on-select="loadAgenceRattachements(item)"
                                       on-delete="handleDeletePickListAgenceRattachement()">
                    </lookup-standalone>
                    <br />

                </div>
                <!--FIELD AgenceRattachement: END-->
                <!--FIELD HorsRegion: START-->
                <div>
                    <input id="chkHorsRegion" type="checkbox" ng-model="etabPaie.HorsRegion" />
                    <label for="chkHorsRegion"><span></span>{{resources.EtablissementPaie_PanelRight_HorsRegion}}</label>
                </div>
                <!--FIELD HorsRegion: END-->
                <!--FIELD GestionIndemnites: START-->
                <div>
                    <input id="chkGestionIndemnites" type="checkbox" ng-model="etabPaie.GestionIndemnites" />
                    <label for="chkGestionIndemnites"><span></span>{{resources.EtablissementPaie_PanelRight_Indemnites}}</label>
                </div>
                <div class="no-point" id="etab-paie-non-pointables-personnels-div" fred-display-handler={{userOrganisationId}} display="visible" >
                    <input type="checkbox" id="etab-paie-non-pointables-personnels" ng-model="etabPaie.IsPersonnelsNonPointables">
                    <label for="etab-paie-non-pointables-personnels"><span></span>{{resources.EtablissementPaie_NonPointablesPersonnels}}</label>
                </div>
                <!--FIELD GestionIndemnites: END-->
                <br />
                <!--FIELD Adresse: START-->
                <div>
                    <label for="txtAdresseEtabPaie">{{resources.EtablissementPaie_PanelRight_Adresse}}</label>

                    <input class="form-control"
                           type="text"
                           id="txtAdresseEtabPaie"
                           name="Adresse"
                           placeholder="{{resources.EtablissementPaie_PanelRight_Adresse_Placeholder}}"
                           maxlength="300"
                           ng-model="etabPaie.Adresse" />
                </div>
                <!--FIELD Adresse: END-->
                <!--FIELD Adresse2: START-->
                <div>
                    <label for="txtAdresseEtabPaie">{{resources.EtablissementPaie_PanelRight_Adresse2}} </label>
                    <input class="form-control"
                           type="text"
                           id="txtAdresseEtabPaie2"
                           name="Adresse2"
                           placeholder="{{resources.EtablissementPaie_PanelRight_Adresse_Placeholder2}}"
                           maxlength="300"
                           ng-model="etabPaie.Adresse2" />
                </div>
                <!--FIELD Adresse2: END-->
                <!--FIELD Adresse3: START-->
                <div>
                    <label for="txtAdresseEtabPaie">{{resources.EtablissementPaie_PanelRight_Adresse3}} </label>
                    <input class="form-control"
                           type="text"
                           id="txtAdresseEtabPaie3"
                           name="Adresse3"
                           placeholder="{{resources.EtablissementPaie_PanelRight_Adresse_Placeholder3}}"
                           maxlength="300"
                           ng-model="etabPaie.Adresse3" />
                </div>
                <!--FIELD Adresse3: END-->
                <!--FIELD CodePostal: START-->
                <div ng-class="{ 'has-error' : formEtabPaie.CodePostal.$invalid && formEtabPaie.$submitted}">
                    <label for="txtCodePostalEtabPaie">{{resources.EtablissementPaie_PanelRight_CodePostal}} *</label>
                    <span class="text-danger"
                          ng-show="formEtabPaie.CodePostal.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <input class="form-control"
                           type="text"
                           id="txtCodePostalEtabPaie"
                           name="CodePostal"
                           required
                           placeholder="{{resources.EtablissementPaie_PanelRight_CodePostal_Placeholder}}"
                           maxlength="300"
                           ng-model="etabPaie.CodePostal" />
                </div>
                <!--FIELD CodePostal: END-->
                <!--FIELD Ville: START-->
                <div ng-class="{ 'has-error' : formEtabPaie.Ville.$invalid && formEtabPaie.$submitted}">
                    <label for="txtVilleEtabPaie">{{resources.EtablissementPaie_PanelRight_Ville}} *</label>
                    <span class="text-danger"
                          ng-show="formEtabPaie.Ville.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <input class="form-control"
                           type="text"
                           id="txtVilleEtabPaie"
                           name="Ville"
                           required
                           placeholder="{{resources.EtablissementPaie_PanelRight_Ville_Placeholder}}"
                           maxlength="300"
                           ng-model="etabPaie.Ville" />
                </div>
                <!--FIELD Ville: END-->
                <!--FIELD Pays: START-->
                <div ng-class="{ 'has-error' : formEtabPaie.Pays.$invalid && formEtabPaie.$submitted}">
                    <label for="txtPaysEtabPaie">{{resources.EtablissementPaie_PanelRight_Pays}} *</label>
                    <span class="text-danger"
                          ng-show="formEtabPaie.Pays.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <lookup-standalone id="txtPaysEtabPaie"
                                       name="Pays"
                                       ng-model="etabPaie.Pays"
                                       text="etabPaie.Pays.CodeLibelle"
                                       search-title="Référentiel des Pays"
                                       search-placeholder="Rechercher un Pays..."
                                       url="/api/Pays/SearchLight"
                                       on-select="etabPaie.PaysId = item.IdRef"
                                       on-delete="etabPaie.PaysId = null; etabPaie.Pays = null;"
                                       class="formulaire long"
                                       ng-required="true">
                    </lookup-standalone>
                </div>
                <!--FIELD Pays: END-->
                <!--FIELD Rechercher: START-->
                <div class="row">
                    <div class="col-md-4 search-add no_pl">
                        <button class="btn btn-default pull-left"
                                type="button"
                                ng-click="handleCheckGps()">
                            {{resources.Rechercher_lb}}

                        </button>
                    </div>
                </div>
                <!--FIELD Rechercher: END-->
                <!--FIELD PROPOSITIONS: START-->
                <div class="row">
                    <div class="col-md-12 no_pl no_pr">
                        <div class="autocomplete">
                            <label ng-show="showAddressList" class="control-label">{{resources.Global_GoogleMap_Proposition}}</label>
                            <ul ng-show="showAddressList" role="menu" class="inputSelectItems" title="{{resources.Global_GoogleMap_Selection}}">
                                <li ng-repeat="item in addressList" class="inputSelectItem list-unstyled" ng-click="handleChangeSelectAdress(item)">
                                    <div class="address" title="{{resources.Global_GoogleMap_Adresse}}">{{item.Adresse.Adresse1}}</div>
                                    <div class="address" title="{{resources.Global_GoogleMap_Adresse}}">{{item.Adresse.Adresse2}}</div>
                                    <div class="address" title="{{resources.Global_GoogleMap_Adresse}}">{{item.Adresse.Adresse3}}</div>
                                    <div class="zip-code-city">
                                        <span class="zip-code" title="{{resources.Global_GoogleMap_CodePostal}}">{{item.Adresse.CodePostal}}</span>
                                        <span class="city" title="{{resources.Global_GoogleMap_Ville}}">{{item.Adresse.Ville}}</span>
                                    </div>
                                    <div class="country" title="{{resources.Global_GoogleMap_Pays}}">{{item.Adresse.Pays}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--FIELD PROPOSITIONS: END-->


                <div>

                    <ng-map default-style="true"
                            id="map"
                            center="[{{etabPaie.Latitude}}, {{etabPaie.Longitude}}]"
                            zoom="10">
                        <marker position="{{etabPaie.Latitude}}, {{etabPaie.Longitude}}"
                                title="{{resources.Global_GoogleMap_Position}}: {{etabPaie.LatitudeLocalisation}}, {{etabPaie.LongitudeLocalisation}}"
                                id="map"
                                on-click="map.showInfoWindow('mapDetail')">
                        </marker>
                        <marker position="{{mapSelector.Latitude}}, {{mapSelector.Longitude}}"
                                icon="https://maps.google.com/mapfiles/ms/icons/green-dot.png"
                                title="{{resources.Global_GoogleMap_Position}}: {{mapSelector.Latitude}}, {{mapSelector.Longitude}}"
                                id="mapSelectorMap"
                                on-click="map.showInfoWindow('selectorDetail')">
                        </marker>
                        <info-window id="mapDetail" visible-on-marker="map">
                            <div ng-non-bindable>
                                <b>{{resources.Global_GoogleMap_Adresse}}</b>: {{etabPaie.Adresse}}<br />
                                <b>{{resources.Global_GoogleMap_CodePostal}}</b>: {{etabPaie.CodePostal}}<br />
                                <b>{{resources.Global_GoogleMap_Ville}}</b>: {{etabPaie.Ville}}<br />
                                <b>{{resources.Global_GoogleMap_Pays}}</b>: {{etabPaie.Pays}}<br />
                                <b>{{resources.Global_GoogleMap_Latitude}}</b>: {{etabPaie.Latitude}}<br />
                                <b>{{resources.Global_GoogleMap_Longitude}}</b>: {{etabPaie.Longitude}}<br />
                            </div>
                        </info-window>
                        <info-window id="selectorDetail" visible-on-marker="mapSelectorMap">
                            <div ng-non-bindable>
                                <b>{{resources.Global_GoogleMap_Latitude}}</b>: {{mapSelector.Latitude}}<br />
                                <b>{{resources.Global_GoogleMap_Longitude}}</b>: {{mapSelector.Longitude}}<br />
                            </div>
                        </info-window>
                    </ng-map>


                </div>
                <br />
                <div>
                    <label>{{resources.EtablissementPaie_PanelRight_CoordonneesGPS}}</label>
                </div>
                <!--FIELD Latitude: START-->
                <div class="col-md-6 no_pl">
                    <label for="txtLatitude">{{resources.EtablissementPaie_PanelRight_Latitude}} *</label>
                    <span class="text-danger" ng-show="formEtabPaie.Latitude.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <input class="form-control" type="text" id="txtLatitude" name="Latitude" required placeholder="{{resources.EtablissementPaie_PanelRight_Latitude_Placeholder}}" ng-model="etabPaie.Latitude" />
                </div>
                <!--FIELD Latitude: END-->
                <!--FIELD Longitude: START-->
                <div class="col-md-6 no_pr">
                    <label for="txtLongitude">{{resources.EtablissementPaie_PanelRight_Longitude}} *</label>
                    <span class="text-danger" ng-show="formEtabPaie.Longitude.$invalid && formEtabPaie.$submitted">{{resources.Global_Control_DataRequired_Erreur}}</span>
                    <input class="form-control" type="text" id="txtLongitude" name="Longitude" required placeholder="{{resources.EtablissementPaie_PanelRight_Longitude_Placeholder}}" ng-model="etabPaie.Longitude" />
                </div>

                <!--FIELD Longitude: END-->
                <!--FOOTER TOOLBAR : BEGIN-->
                <div class="footer">
                    <div class="buttons">
                        <button class="btn btn-default" type="submit" ng-click="handleClickAddOrUpdate();" title="{{resources.Global_Bouton_Enregistrer_Tooltip}}">{{resources.Global_Bouton_Enregistrer}}</button>
                        <button class="btn btn-primary" type="submit" ng-click="handleClickAddOrUpdateAndNew();" title="{{resources.Global_Bouton_EnregistrerEtNouveau_Tooltip}}">{{resources.Global_Bouton_EnregistrerEtNouveau}}</button>
                        <button ng-hide="etabPaie.EtablissementPaieI==0" class="btn" type="submit" ng-click="handleClickDelete(etabPaie);" title="{{resources.Global_Bouton_Supprimer_Tooltip}}">{{resources.Global_Bouton_Supprimer}}</button>
                        <button class="btn btn-link" type="button" ng-click="handleClickCancel();" title="{{resources.Global_Bouton_Annuler_Tooltip}}">{{resources.Global_Bouton_Annuler}}</button>
                    </div>
                </div>
                <!--FOOTER TOOLBAR : END-->
                <div class="close_panel" ng-click="handleClickCancel();" title="{{resources.Global_Bouton_RefermerPanneau_Tooltip}}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span>{{resources.Global_Bouton_RefermerPanneau}}</span>
                </div>
            </form>
            <!--Formulaire: END-->

        </div>
    </div>
</div>
