@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maintenance</title>
    <link rel="stylesheet" href="/Content/Site.css" type="text/css">
    <link rel="stylesheet" href="/Content/Auth.css" type="text/css">
</head>
<body>
    <div class="conteneur maintenance">
        <div class="logo-fred"></div>
        <div class="element gros">Site en maintenance</div>
    </div>
</body>
</html>
