$color_1: #757575;

.modal {
    .bloc-txt {
        color: $color_1;
        margin-right: auto;
        font-weight: normal;
    }

    .bold-txt {
        font-weight: bold;
    }

    .separator {
        padding-top: 10px;
    }
}