$color_1: white;
$color_2: #fff;
$background_color_1: red;
$background_color_2: rgb(9,173,166);

.budget-commentaire-panel {
    .informations {
        margin-top: 10px;
    }

    .data {
        margin-top: 30px;
    }

    .erreur {
        margin-top: 20px;
        border: 1px solid black;
        background-color: $background_color_1;
        color: $color_1;
    }

    textarea {
        resize: none;
    }

    .btn-validate {
        background-color: $background_color_2;
        color: $color_2;
        margin-left: 50px;
    }

    .btn-annuler {
        margin-right: 50px;
    }
}