.budget-detail .top-header {
    font-weight: 500;
    text-align: left;
    color: white;
}

.budget-detail .top-header .col-1 {
    border-left: 5px solid white;
    background: #f2f2f2;
}

.budget-detail .top-header .col-1 .foldUnfold {
    padding: 6px;
    text-align: center;
    background-color: #fff;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    margin-left: 2%;
}

.budget-detail .top-header .col-2 {
    background: #f2f2f2;
    border-left: none;
}

.budget-detail .top-header .col-6 {
    background: white;
}

.budget-detail .top-header .col-8 {
    background: white;
}

.budget-detail .top-header .col-11 {
    background: white;
}

.budget-detail .top-header .col-3 {
    background: #febb5f;
    padding-left: 5px;
    justify-content: flex-start;
    border-left: none;
}

.budget-detail .top-header .col-unite {
    background: #ffca66;
    color: initial;
    padding: 5px;
    justify-content: flex-start;
}

.budget-detail .top-header .col-4 {
    background: #ffca66;
    color: initial;
    padding: 5px;
    justify-content: flex-start;
    border-left: none;
}

.budget-detail .top-header .col-5 {
    background: #ffca66;
    color: initial;
    padding: 5px;
    justify-content: flex-start;
    border-left: none;
}

.budget-detail .mid-header {
    color: white;
}

.budget-detail .mid-header .col-1 {
    border-left: 5px solid #0055a0;
    background: #0055a0;
    padding-left: 5px;
    justify-content: flex-start;
}

.budget-detail .mid-header .col-2 {
    background: #0055a0;
    padding-left: 5px;
    justify-content: flex-start;
    background: #0055a0;
}

.budget-detail .mid-header .col-6 {
    background: #0055a0;
    padding-left: 5px;
    justify-content: flex-start;
    background: #0055a0;
}

.budget-detail .mid-header .col-8 {
    background: #0055a0;
    padding-left: 5px;
    justify-content: flex-start;
    background: #0055a0;
}

.budget-detail .mid-header .col-11 {
    background: #0055a0;
    padding-left: 5px;
    justify-content: flex-start;
}

.budget-detail .mid-header .col-3 {
    background: #ffb631;
    padding-left: 5px;
    justify-content: flex-start;
}

.budget-detail .mid-header .col-unite {
    background: #ffd27d;
    color: initial;
    justify-content: center;
}

.budget-detail .mid-header .col-4 {
    background: #ffd27d;
    color: initial;
    justify-content: center;
}

.budget-detail .mid-header .col-5 {
    background: #ffd27d;
    color: initial;
    justify-content: center;
}

.budget-detail .col-2 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.budget-detail .col-3 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 10%;
    min-width: 100px;
}

.budget-detail .col-unite {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 5%;
    min-width: 100px;
    justify-content: center;
}

.budget-detail .col-4 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 5%;
    min-width: 100px;
    justify-content: center;
}

.budget-detail .col-5 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 5%;
    min-width: 100px;
    justify-content: center;
}

.budget-detail .col-6 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 19%;
    min-width: 200px;
    padding: 0 10px;
}

.budget-detail .col-8 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 5%;
    min-width: 100px;
    padding: 0 10px;
}

.budget-detail .col-11 {
    border-left: rgba(235, 235, 235, 0.7) 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    justify-content: center;
    width: 8%;
    min-width: 150px;
}

.budget-detail .col-11 .material-icons {
    margin: 0 3px;
}

.budget-detail .flex-line .form-control {
    color: #000000;
}

.budget-detail .level-1 div[class^=col] {
    border-top: 1px solid #e2e2e2;
}

.budget-detail .level-1 div[class^=col-1] {
    padding-left: 5px;
}

.budget-detail .level-1 div[class^=col-2] {
    padding-left: 5px;
}

.budget-detail .level-1 div[class^=col-3] {
    padding-right: 5px;
}

.budget-detail .level-1 .col-1 {
    background-color: #406da1;
    color: #fff;
}

.budget-detail .level-1 .col-2 {
    background-color: #406da1;
    color: #fff;
    justify-content: flex-start;
}

.budget-detail .level-1 .col-6 {
    background-color: #406da1;
    color: #fff;
}

.budget-detail .level-1 .col-6 .form-control {
    width: 95%;
    height: 65%;
    background-color: #9fb6d0;
    font-size: 11px;
}

.budget-detail .level-1 .col-6 .material-icons {
    color: #c1cfd9;
    cursor: pointer;
}

.budget-detail .level-1 .col-8 {
    background-color: #406da1;
    color: #fff;
}

.budget-detail .level-1 .col-11 {
    background-color: #406da1;
    color: #fff;
}

.budget-detail .level-1 .col-3 {
    background: #ffbf4a;
    justify-content: flex-end;
    color: #fff;
}

.budget-detail .level-1 .col-unite {
    background-color: #ffd78c;
}

.budget-detail .level-1 .col-4 {
    background-color: #ffd78c;
}

.budget-detail .level-1 .col-5 {
    background-color: #ffd78c;
}

.budget-detail .level-2 div[class^=col] {
    border-top: 1px solid #e2e2e2;
}

.budget-detail .level-2 div[class^=col-1] {
    padding-left: 15px;
}

.budget-detail .level-2 div[class^=col-2] {
    padding-left: 15px;
}

.budget-detail .level-2 div[class^=col-3] {
    padding-right: 5px;
}

.budget-detail .level-2 .col-1 {
    background-color: #668ab4;
    color: #fff;
}

.budget-detail .level-2 .col-2 {
    background-color: #668ab4;
    color: #fff;
    justify-content: flex-start;
}

.budget-detail .level-2 .col-6 {
    background-color: #668ab4;
    color: #fff;
}

.budget-detail .level-2 .col-6 .form-control {
    width: 95%;
    height: 65%;
    background-color: #9fb6d0;
    font-size: 11px;
}

.budget-detail .level-2 .col-6 .material-icons {
    color: #a3b1bb;
    cursor: pointer;
}

.budget-detail .level-2 .col-8 {
    background-color: #668ab4;
    color: #fff;
}

.budget-detail .level-2 .col-11 {
    background-color: #668ab4;
    color: #fff;
}

.budget-detail .level-2 .col-3 {
    background: #ffc761;
    justify-content: flex-end;
    color: initial;
}

.budget-detail .level-2 .col-unite {
    background-color: #ffdc9b;
}

.budget-detail .level-2 .col-4 {
    background-color: #ffdc9b;
}

.budget-detail .level-2 .col-5 {
    background-color: #ffdc9b;
}

.budget-detail .level-3 div[class^=col] {
    border-top: 1px solid #e2e2e2;
}

.budget-detail .level-3 div[class^=col-1] {
    padding-left: 25px;
}

.budget-detail .level-3 div[class^=col-2] {
    padding-left: 25px;
}

.budget-detail .level-3 div[class^=col-3] {
    padding-right: 5px;
}

.budget-detail .level-3 .col-1 {
    background-color: #a0b6d0;
    color: #fff;
}

.budget-detail .level-3 .col-2 {
    background-color: #a0b6d0;
    color: #fff;
    justify-content: flex-start;
}

.budget-detail .level-3 .col-6 {
    background-color: #a0b6d0;
    color: #fff;
}

.budget-detail .level-3 .col-6 .form-control {
    width: 95%;
    height: 65%;
    background-color: #cfdae7;
    font-size: 11px;
}

.budget-detail .level-3 .col-6 .material-icons {
    color: #85939d;
    cursor: pointer;
}

.budget-detail .level-3 .col-8 {
    background-color: #a0b6d0;
    color: #fff;
}

.budget-detail .level-3 .col-11 {
    background-color: #a0b6d0;
    color: #fff;
}

.budget-detail .level-3 .col-3 {
    background: #ffd486;
    justify-content: flex-end;
    color: initial;
}

.budget-detail .level-3 .col-unite {
    background-color: #ffe4b2;
}

.budget-detail .level-3 .col-4 {
    background-color: #ffe4b2;
}

.budget-detail .level-3 .col-5 {
    background-color: #ffe4b2;
}

.budget-detail .level-4 div[class^=col] {
    border-top: 1px solid #e2e2e2;
}

.budget-detail .level-4 .col-1 {
    background-color: #d5e0ed;
    color: #000000;
    position: relative;
}

.budget-detail .level-4 .col-1 .form-control {
    width: 33%;
    height: 65%;
    background-color: #ffeb7f;
    font-size: 11px;
}

.budget-detail .level-4 .col-2 {
    background-color: #d5e0ed;
    color: #000000;
    justify-content: flex-start;
}

.budget-detail .level-4 .col-2 .form-control {
    width: 70%;
    height: 65%;
    background-color: #ffeb7f;
    font-size: 11px;
}

.budget-detail .level-4 .col-6 {
    background-color: #d5e0ed;
    color: #000000;
}

.budget-detail .level-4 .col-6 .form-control {
    width: 95%;
    height: 65%;
    background-color: #e7ecf3;
    font-size: 11px;
}

.budget-detail .level-4 .col-6 .material-icons {
    color: #67757f;
    cursor: pointer;
}

.budget-detail .level-4 .col-8 {
    background-color: #d5e0ed;
    color: #000000;
}

.budget-detail .level-4 .col-8 .form-control {
    width: 70%;
    height: 65%;
    background-color: #fff;
    font-size: 11px;
    border: 1px solid #f19612;
}

.budget-detail .level-4 .col-8 .form-control::-webkit-input-placeholder {
    text-align: center;
    border: 1px solid #0055a0;
    background-color: #fff;
    color: #0055a0;
    font-style: normal;
}

.budget-detail .level-4 .col-8 .form-control::-moz-placeholder {
    text-align: center;
    color: #f19612;
    font-style: normal;
}

.budget-detail .level-4 .col-8 .form-control.qt {
    border: 1px solid #0055a0;
    background-color: #0055a0;
    color: #fff;
}

.budget-detail .level-4 .col-8 .form-control.qt::-webkit-input-placeholder {
    text-align: center;
    background-color: #fff;
    color: #0055a0;
    font-style: normal;
}

.budget-detail .level-4 .col-8 .form-control.qt::-moz-placeholder {
    text-align: center;
    background-color: #fff;
    color: #0055a0;
    font-style: normal;
}

.budget-detail .level-4 .col-8 .form-control.pct {
    border: 1px solid #fff;
    background-color: #ffc000;
    color: #000000;
}

.budget-detail .level-4 .col-8 .form-control.pct::-moz-placeholder {
    color: #000000;
}

.budget-detail .level-4 .col-11 {
    background-color: #d5e0ed;
    color: #000000;
}

.budget-detail .level-4 .col-11 .action-icons {
    display: flex;
    justify-content: space-between;
}

.budget-detail .level-4 .col-1.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-2.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-3.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-unite.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-4.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-4.selected .form-control {
    background-color: #ffeb7f;
}

.budget-detail .level-4 .col-5.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-5.selected .form-control {
    background-color: #ffeb7f;
}

.budget-detail .level-4 .col-6.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-6.selected .form-control {
    background-color: #ffeb7f;
}

.budget-detail .level-4 .col-8.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 .col-11.selected {
    background-color: #ffd800;
}

.budget-detail .level-4 div[class^=col-1] {
    padding-left: 35px;
}

.budget-detail .level-4 div[class^=col-2] {
    padding-left: 35px;
}

.budget-detail .level-4 div[class^=col-3] {
    padding-right: 5px;
}

.budget-detail .level-4 .col-3 {
    background: #fff6e6;
    justify-content: flex-end;
    color: initial;
}

.budget-detail .level-4 .col-unite {
    background-color: #fffaef;
}

.budget-detail .level-4 .col-unite span {
    text-overflow: ellipsis;
    border: 1px solid red;
}

.budget-detail .level-4 .col-4 {
    background-color: #fffaef;
}

.budget-detail .level-4 .col-4 .form-control {
    width: 80%;
    height: 65%;
    background-color: #fffcf7;
    font-size: 11px;
}

.budget-detail .level-4 .col-5 {
    background-color: #fffaef;
}

.budget-detail .level-4 .col-5 .form-control {
    width: 80%;
    height: 65%;
    background-color: #fffcf7;
    font-size: 11px;
}

.budget-detail .level-4 .col-1.new-task::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 3%;
    content: "";
    background-color: #ff0066;
}

.budget-detail .col-1 {
    justify-content: flex-start;
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 15%;
    min-width: 200px;
}

.budget-detail .col-2-small {
    width: 26%;
    min-width: 300px;
}

.budget-detail .col-2-large {
    width: 31%;
    min-width: 300px;
}

.budget-detail .chevron {
    line-height: 15px;
    padding-left: 3px;
    font-size: 21px;
    cursor: pointer;
}

.budget-detail .chevron:before {
    color: #fff;
    clear: both;
    content: 'keyboard_arrow_down';
    font-family: "Material Icons";
}

.budget-detail .collapsed .chevron:before {
    color: #fff;
    content: 'keyboard_arrow_right';
    font-family: "Material Icons";
}

.budget-detail .icon-T1 {
    background-image: url("/medias/images/ico/AA1.png");
    background-position: center;
    background-size: 100%;
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.budget-detail .icon-T2 {
    background-image: url("/medias/images/ico/AA2.png");
    background-position: center;
    background-size: 90%;
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.budget-detail .icon-T3 {
    background-image: url("/medias/images/ico/AA3.png");
    background-position: center;
    background-size: 90%;
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.budget-detail .icon-T4 {
    background-image: url("/medias/images/ico/T4_BLUE.png");
    background-position: center;
    background-size: 70%;
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.budget-detail .level-1.task-disabled .col-1 {
    color: lightgray;
}

.budget-detail .level-1.task-disabled .col-2 {
    color: lightgray;
}

.budget-detail .level-1.task-disabled .col-3 {
    color: lightgray;
}

.budget-detail .level-1.task-disabled .col-6 {
    color: lightgray;
}

.budget-detail .level-1.task-disabled .col-8 {
    color: lightgray;
}

.budget-detail .level-1.task-disabled .col-11 {
    color: lightgray;
}

.budget-detail .level-2.task-disabled .col-1 {
    color: lightgray;
}

.budget-detail .level-2.task-disabled .col-2 {
    color: lightgray;
}

.budget-detail .level-2.task-disabled .col-3 {
    color: lightgray;
}

.budget-detail .level-2.task-disabled .col-6 {
    color: lightgray;
}

.budget-detail .level-2.task-disabled .col-8 {
    color: lightgray;
}

.budget-detail .level-2.task-disabled .col-11 {
    color: lightgray;
}

.budget-detail .level-3.task-disabled .col-1 {
    color: lightgray;
}

.budget-detail .level-3.task-disabled .col-2 {
    color: lightgray;
}

.budget-detail .level-3.task-disabled .col-3 {
    color: lightgray;
}

.budget-detail .level-3.task-disabled .col-6 {
    color: lightgray;
}

.budget-detail .level-3.task-disabled .col-8 {
    color: lightgray;
}

.budget-detail .level-3.task-disabled .col-11 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-1 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-2 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-3 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-unite {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-4 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-5 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-6 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-8 {
    color: lightgray;
}

.budget-detail .level-4.task-disabled .col-11 {
    color: lightgray;
}

.budget-detail .add-t4 {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-left: 10px;
    border: 1px solid #fff;
    cursor: pointer;
}

.budget-detail .add-t4 span {
    margin-left: auto;
}

.budget-detail .action-icons .material-icons {
    cursor: pointer;
    color: #fff;
}

.budget-detail .type-avancement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65%;
    font-size: 11px;
    background-color: #fff;
    cursor: pointer;
}

.budget-detail .type-avancement.indefini {
    border: 1px solid orange;
    color: orange;
}

.budget-detail .type-avancement.pourcent {
    border: 1px solid red;
    color: red;
}

.budget-detail .type-avancement.quantite {
    border: 1px solid #0055a0;
    color: #0055a0;
}

.div-task {
    width: 90%;
}

.warning-size {
    font-size: 16px;
}

fred-toolbar .icon-button span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

fred-toolbar .icon-button .excel-icon {
    background-image: url("/medias/images/ico/excel-icon.png");
}

fred-toolbar .icon-button .pdf-icon {
    background-image: url("/medias/images/ico/pdf-icon.png");
}

fred-toolbar .icon-button .deactivate-export {
    cursor: not-allowed;
    opacity: 0.5;
}

.budget-detail.bandeau-lateral {
    padding-left: 5px;
    padding-right: 5px;
}

.budget-detail.bandeau-lateral .col-1 {
    width: 100%;
}

.budget-detail.bandeau-lateral .col-1 .material-icons {
    color: #0354a1;
    cursor: pointer;
}

.budget-detail.bandeau-lateral .col-1.can-navigate-to-t4:hover {
    border-left-color: #ffb631;
    background-color: #ffd486;
    cursor: pointer;
}

.budget-detail.bandeau-lateral .col-1.already-displayed-t4 {
    border-left-color: red;
}

.budget-detail.bandeau-lateral .col-1.already-displayed-t4 .material-icons {
    visibility: hidden;
}

.warning-tache-ecart {
    color: #febb5f;
    float: left;
    font-size: 15px;
    margin-top: 3px;
}

.chevron.not-visible {
    visibility: hidden;
}

.action-t3 {
    display: flex;
}

.commentaire-validation textarea {
    resize: none !important;
    width: 100%;
}
