.budget-commentaire-panel .informations {
    margin-top: 10px;
}

.budget-commentaire-panel .data {
    margin-top: 30px;
}

.budget-commentaire-panel .erreur {
    margin-top: 20px;
    border: 1px solid black;
    background-color: red;
    color: white;
}

.budget-commentaire-panel textarea {
    resize: none;
}

.budget-commentaire-panel .btn-validate {
    background-color: #09ada6;
    color: #fff;
    margin-left: 50px;
}

.budget-commentaire-panel .btn-annuler {
    margin-right: 50px;
}
