$color_1: grey;
$color_2: rgb(218, 47, 114);
$color_3: rgb(103, 117, 127);
$color_4: white;
$color_5: rgb(51, 51, 51);
$font_family_1: 'FontAwesome';
$background_color_1: #005ba2;
$background_color_2: #e6f3ff;
$background_color_3: #cee7ff;


.no-p {
    padding: 0;
}

.no_pad_r {
    padding-right: 0;
}

.no_pad_l {
    padding-left: 0;
}

.sous-detail-ressource-panel {
    width: 50% !important;

    .rechercher {
        background-color: $background_color_1;
        padding: 20px 8px;

        div {
            width: 100%;
        }

        input {
            height: 40px;
        }
    }

    .level-1 {
        .field {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 300px;
        }
    }

    .level-1.panel-default {
        .arrow {
            &:after {
                color: $color_1;
                content: '\f105';
                float: left;
                font-family: $font_family_1;
                font-size: 25px;
            }
        }
    }

    .level-1.panel-default.isOpen {
        .arrow {
            &:after {
                color: $color_1;
                content: '\f107';
                float: left;
                font-family: $font_family_1;
                font-size: 25px;
            }
        }

        .sous-detail-ressource-panel {
            .level-3 {
                .ressource {
                    .arrow {
                        &:after {
                            color: $color_1;
                            content: '\f105';
                            float: left;
                            font-family: $font_family_1;
                            font-size: 25px;
                        }
                    }
                }

                .ressource.isopen {
                    .arrow {
                        &:after {
                            color: $color_1;
                            content: '\f107';
                            float: left;
                            font-family: $font_family_1;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    .sousChapitre {
        .level-2.panel-default {
            .arrow {
                &:after {
                    color: $color_1;
                    content: '\f105';
                    float: left;
                    font-family: $font_family_1;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }

        .level-2.panel-default.isOpen {
            .arrow {
                &:after {
                    color: $color_1;
                    content: '\f107';
                    float: left;
                    font-family: $font_family_1;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }

    .level-2 {
        .field {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 300px;
        }
    }

    .level-3 {
        .field {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
        }

        .lev3-firstcol {
            padding-left: 23px;
        }

        background-color: $background_color_2;

        .ressource.isopen {
            border-top: 1px solid #dddddd;
            border-bottom-width: 0;
        }

        .ressource.child {
            border-top: 1px solid #dddddd;

            .action-icone.material-icons {
                position: absolute;
                right: 10px;
            }
        }

        .ressource {
            .add_task {
                margin-top: 5px;
            }
        }
    }

    .empty-warning {
        .material-icons {
            color: $color_2;
            cursor: default;
        }
    }

    .new {
        .material-icons {
            cursor: pointer;
        }

        .flaticon {
            cursor: pointer;
        }
    }

    .btn-fermer {
        margin-top: 20px;
        text-align: center;
    }
}

.main_line {
    background-color: $background_color_3;
    border-bottom: 1px solid #ddd;
}

.new {
    padding-top: 8px;
    font-size: 20px;
}

.pl5 {
    padding-left: 5px;
}

.lb {
    color: $color_3;
    font-size: 9px;
    font-style: normal;
    margin: 0 0 -2px;
    padding-top: 10px;
}

.pad_l {
    padding-left: 15px;
}

.panel-default {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    height: 100%;

    .arrow {
        padding-top: 13px;
        height: 100%;
    }
}

.recommandees-uniquement {
    text-align: left;

    label {
        color: $color_4 !important;
        font-size: medium;
        font-weight: 400;
        padding-top: 15px;
    }
}

.recommandees-uniquement-icon {
    padding-top: 8px;

    i {
        color: $color_5;
        font-size: 25px !important;
    }
}