$color_1: rgb(127,126,126);


.copier-budget-confirm-dialog.modal {
    .modal-dialog {
        width: 50%;
    }
}

.copier-budget-confirm-dialog {
    .modal-body-separator {
        border-top: 1px solid #e5e5e5;
    }

    .column-header {
        font-weight: bold;
        text-align: center;
        padding-bottom: 5px;
    }

    .row-header {
        font-weight: bold;
    }

    .source {
        text-align: center;
    }

    .radio-label {
        padding-left: 50px;
    }

    .question {
        font-weight: bold;
        color: $color_1;
    }
}