.copier-budget-confirm-dialog.modal .modal-dialog {
    width: 50%;
}

.copier-budget-confirm-dialog .modal-body-separator {
    border-top: 1px solid #e5e5e5;
}

.copier-budget-confirm-dialog .column-header {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.copier-budget-confirm-dialog .row-header {
    font-weight: bold;
}

.copier-budget-confirm-dialog .source {
    text-align: center;
}

.copier-budget-confirm-dialog .radio-label {
    padding-left: 50px;
}

.copier-budget-confirm-dialog .question {
    font-weight: bold;
    color: #7f7e7e;
}
