.no-pad {
    padding: 0;
}

.no-pl {
    padding-left: 0 !important;
}

h1 {
    margin-bottom: 10px;
}

fred-toolbar {
    margin-bottom: 0;
    padding-bottom: 7px;
}

fred-toolbar .date-section {
    width: 14%;
}

fred-toolbar .date-section .input-group.date .input-group.date {
    width: 90%;
}

fred-toolbar .end {
    margin-left: 1%;
}

fred-toolbar .picklist-section {
    margin-left: 1%;
    width: 20%;
}

fred-toolbar .text-search-section {
    margin-left: 1%;
}

fred-toolbar .btn.btn-primary.bkg-white {
    background-color: white !important;
    color: black !important;
}

fred-toolbar .inner-addon.right-addon {
    width: 100%;
}

fred-toolbar .inner-addon.right-addon input {
    cursor: pointer;
}

fred-toolbar .chev.material-icons {
    position: absolute;
    display: inline-block;
    line-height: 0.7;
    pointer-events: none;
    background-color: #09ada6;
    height: 29px;
    width: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    right: 0;
    top: 0;
    padding-top: 6px !important;
}

fred-toolbar .formulaire lookup .inputPL .inputPLSearch {
    padding-left: 12px;
    padding-top: 2px;
}

fred-toolbar .actions-buttons {
    display: flex;
    margin-left: auto;
}

fred-toolbar .export-section {
    margin-left: 1%;
}

fred-toolbar .export-section button {
    margin-right: 0;
}

fred-toolbar .actions-section {
    margin-left: 1%;
}

.fred-button.white-star {
    background-color: #ff0066;
    color: #fff;
    width: 30px;
    height: 30px;
    margin-left: 0;
}

.fred-button.white-star:hover {
    background-color: #fff;
    color: #ff0066;
}

.glyphicon-calendar {
    float: left;
}

.fred-button.text {
    padding-left: 5px;
    padding-right: 5px;
}

.fred-button.default.text.search-btn {
    margin-right: 5px;
}

.btn.cumul {
    font-size: 11px;
    margin-top: 0;
    margin-right: 0;
    font-weight: 600;
}

.btn.cumul:hover {
    background-color: #F1F2F3;
}

.excel-icon {
    background-image: url("/medias/images/ico/excel-icon.png");
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filters_bloc {
    background-color: #fff;
    border: 1px solid #e2e3e5;
    padding: 10px 0;
}

.folding {
    border: 7px solid #e1e3e5;
    border-bottom-width: 0px;
    margin-left: -7px;
    margin-right: -7px;
    margin-top: 0;
}

.rec-tab fred-side {
    width: 510px;
    left: -510px;
}

.rec-tab fred-side icon {
    color: #0052a0;
}

.rec-tab fred-side main {
    padding: 5px;
    height: calc(100vh - 200px);
    max-height: 100%;
}

.rec-tab fred-side main section-title {
    cursor: default;
}

.rec-tab fred-side main section-title::before {
    color: transparent;
}

.rec-tab fred-side main .selection_filters {
    height: 45px;
}

.rec-tab fred-side main .selection_filters .lbl_l {
    display: table;
    height: 100%;
}

.rec-tab fred-side main .selection_filters .lbl_l .lbl_txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.rec-tab fred-side main .selection_filters .sm_pad_r {
    padding-right: 4px;
}

.display-list th {
    min-width: 150px;
    width: 150px;
}

.display-list td {
    min-width: 150px;
    width: 150px;
}

.display-list table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
}

.display-list thead {
    position: relative;
    display: block;
    overflow-x: visible;
}

.display-list thead th {
    height: 30px;
    padding-left: 5px;
}

.display-list thead th:nth-child(1) {
    position: relative;
    z-index: 1;
}

.display-list thead th.no-pl {
    padding-left: 0;
}

.display-list thead tr.first-header th {
    height: 44px;
    font-size: 11px;
    font-weight: normal;
}

.display-list thead tr.first-header th .aim-rec {
    width: 73px;
    height: 35px;
    padding: 0;
    font-size: 11px;
    text-align: center;
    background-color: #31859b;
    color: #fff;
    cursor: pointer;
}

.display-list thead tr.first-header th .aim-rec[disabled] {
    cursor: not-allowed;
}

.display-list thead tr.first-header th .save-rec {
    width: 73px;
    height: 35px;
    padding: 0;
    font-size: 11px;
    text-align: center;
    background-color: #5b9fb1;
    color: #fff;
    cursor: pointer;
}

.display-list thead tr.first-header th .save-rec[disabled] {
    cursor: not-allowed;
}

.display-list thead tr.first-header th .select-all {
    width: 70px;
    height: 35px;
    padding: 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
}

.display-list thead tr.first-header th .deselect-all {
    width: 83px;
    height: 35px;
    padding: 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
}

.display-list thead tr.first-header th.bkg-lavender {
    background-color: #d7ecf2;
    text-align: center;
}

.display-list thead tr.third-header th {
    text-align: center;
}

.display-list thead tr.third-header th.col1 {
    text-align: left;
}

.display-list thead tr.third-header th.col13 {
    text-align: left;
}

.display-list thead tr th.col-pj-rcpt {
    width: 25px;
    min-width: 25px;
}

.display-list thead tr th.col-pj-cmd {
    width: 25px;
    min-width: 25px;
}

.display-list thead tr th.col19 {
    width: 30px;
    min-width: 30px;
}

.display-list thead .col19 .visa-warning-icon {
    color: red;
}

.display-list .fold-action {
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.display-list .selected-row {
    background-color: lightgray !important;
}

.display-list .th-icon.reception {
    display: flex;
    justify-content: left;
    align-items: center;
}

.display-list tbody {
    position: relative;
    display: block;
    overflow: auto;
    overflow-x: visible;
}

.display-list tbody tr {
    border-top: 1px solid #dddddd;
}

.display-list tbody tr td {
    height: 30px;
    font-size: 11px;
    text-align: center;
}

.display-list tbody tr td:nth-child(1) {
    position: relative;
    background-color: #e3e3e3;
    background-clip: padding-box;
    z-index: 1;
}

.display-list tbody tr td:nth-child(1) span {
    margin-left: 5px;
}

.display-list tbody tr td span {
    padding-left: 5px;
}

.display-list tbody tr td span.cum-rep {
    color: #ca1d05;
}

.display-list tbody tr td span.pj-icon {
    margin-left: 0;
    font-size: 17px;
    color: dodgerblue;
    cursor: pointer;
}

.display-list tbody tr td span.reply {
    margin-left: 0;
    font-size: 14px;
    color: #67757f;
    cursor: pointer;
}

.display-list tbody tr td .wrap-txt {
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    cursor: default;
}

.display-list tbody tr td .wrap-txt.nbl {
    width: 70px;
}

.display-list tbody tr td .wrap-txt.lg {
    width: 145px;
}

.display-list tbody tr td span.unvised {
    color: #ca1d05;
    font-weight: bold;
    text-align: center;
}

.display-list tbody tr td span.vised {
    font-weight: bold;
    text-align: center;
}

.display-list tbody tr td input[type="text"] {
    height: 25px;
    border: 1px solid #dddddd;
}

.display-list tbody tr td input.digits[type="text"] {
    text-align: right;
}

.display-list tbody tr td .input-error {
    border: 1px solid red !important;
}

.display-list tbody tr td .lookup-error .inputPL {
    border: 1px solid red !important;
}

.display-list tbody tr td.col-pj-rcpt {
    width: 25px;
    min-width: 25px;
}

.display-list tbody tr td.col-pj-rcpt a {
    display: flex;
    text-decoration: none;
}

.display-list tbody tr td.col-pj-cmd {
    width: 25px;
    min-width: 25px;
}

.display-list tbody tr td.col-pj-cmd a {
    display: flex;
    text-decoration: none;
}

.display-list tbody tr td.col19 {
    width: 30px;
    min-width: 30px;
    background-color: #d7ecf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-list tbody tr td.col1 {
    text-align: left;
}

.display-list tbody tr td.col4 {
    text-align: left;
    padding-left: 5px;
}

.display-list tbody tr td.col6 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col7 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col16 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col17 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col24 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col25 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col29 {
    text-align: right;
    padding-right: 5px;
}

.display-list tbody tr td.col21 {
    text-align: left;
}

.display-list tbody tr.odd {
    background-color: snow;
}

.display-list tbody td.red {
    position: absolute;
    border-left: red solid;
    height: 100%;
}

.display-list tbody td.green {
    position: absolute;
    border-left: #a5ce7a solid;
    height: 100%;
}

.display-list tbody td.double-deck span {
    font-size: 9px;
    display: block;
}

.display-list .col1 {
    width: 135px;
    min-width: 135px;
}

.display-list .col3 {
    width: 70px;
    min-width: 70px;
}

.display-list .col5 {
    width: 100px;
    min-width: 100px;
}

.display-list .col6 {
    width: 100px;
    min-width: 100px;
}

.display-list .col7 {
    width: 100px;
    min-width: 100px;
}

.display-list .col-abo-icon {
    width: 20px;
    min-width: 20px;
}

.display-list .col8 {
    width: 85px;
    min-width: 85px;
}

.display-list .col9 {
    width: 85px;
    min-width: 85px;
}

.display-list .col13 {
    min-width: 80px;
    width: 80px;
}

.display-list .col13 .formulaire.middle .preLook {
    width: 55px;
}

.display-list .col13 .formulaire lookup .inputPL {
    width: 55px;
}

.display-list td.col13 {
    text-align: center;
}

.display-list .col14 {
    width: 45px;
    min-width: 45px;
}

.display-list .col15 {
    width: 100px;
    min-width: 100px;
}

.display-list .col15 input {
    width: 65%;
    max-width: 65%;
}

.display-list .col16 {
    width: 12px;
    min-width: 120px;
}

.display-list .col17 {
    width: 100px;
    min-width: 100px;
}

.display-list .col18 {
    width: 75px;
    min-width: 75px;
}

.display-list .col20 {
    width: 95px;
    min-width: 95px;
}

.display-list .col22 {
    width: 95px;
    min-width: 95px;
}

.display-list .col23 {
    width: 95px;
    min-width: 95px;
}

.display-list .col24 {
    width: 100px;
    min-width: 100px;
}

.display-list .col25 {
    width: 100px;
    min-width: 100px;
}

.display-list .bkg-white {
    background-color: #fff;
}

.display-list .bkg-deepblue {
    background-color: #0052a0;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
}

.display-list .bkg-mildblue {
    background-color: #6697c6;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
}

.display-list .bkg-steelblue {
    background-color: #31859b;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}

.display-list .bkg-steelblue2 {
    background-color: #3d91a8;
}

.display-list .bkg-steelblue3 {
    font-size: 11px;
    font-weight: 700;
    background-color: #b0c9d0;
    color: #000000;
    padding-right: 5px;
    text-align: right;
}

.display-list .bkg-cadetblue {
    background-color: #65a4b4;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}

.display-list .bkg-cadetblue2 {
    background-color: #63a8ba;
}

.display-list .bkg-cadetblue3 {
    background-color: #b0c9d0;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
}

.display-list .bkg-gold {
    background-color: #fbd600;
    color: #7f6000;
    font-size: 11px;
    font-weight: 700;
}

.display-list .bkg-gold3 {
    background-color: #eee7c2;
    font-size: 11px;
    font-weight: 700;
    color: #000000;
    padding-right: 5px;
    text-align: right;
}

.display-list .bkg-khaki {
    background-color: #ffef91;
    font-size: 11px;
    font-weight: normal;
}

.display-list .bkg-khaki3 {
    background-color: #eee7c2;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
}

.display-list .bills {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-list .formulaire lookup .inputPL {
    width: 130px;
}

.display-list .abo-icon {
    font-size: 15px;
}

.display-list .ico-materielExterne {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-right: -3px;
    background-size: 100%;
    display: inline-flex;
    background-image: url("/medias/images/ico/materielexterne-black.png");
    background-position: center;
    background-repeat: no-repeat;
}

.command-icon {
    background-image: url("/medias/images/ico/command-icon.png");
    float: left;
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.billing-icon {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.billing-icon::before {
    font-size: 18px;
}

.post-icon-txt {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.check-out {
    font-size: 18px;
    margin-right: 10px;
}

.formulaire.middle .inputPL {
    height: 25px;
}

.formulaire.middle .inputPL .inputPLRemove {
    width: 31px;
    height: 30px;
    top: 0 !important;
    padding: 0;
}

.formulaire.middle .chev.material-icons {
    height: 23px;
    width: 25px;
    font-size: 24px;
}

.formulaire.middle .material-icons.closing {
    height: 23px;
    width: 25px;
    font-size: 24px;
    top: 0 !important;
}

.formulaire.middle .preLook {
    width: 150px;
}

.formulaire.middle lookup .inputPL .inputPLSearch .inputPLLabel {
    white-space: nowrap;
    width: 115px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-size: 14px;
    margin-bottom: 0;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 20%;
    border-radius: 20%;
    background-color: #fcfcfc;
    border: 3px #78C1DD solid;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

input[type="checkbox"]:checked + label span {
    border: 3px #2c77ba solid;
    background-image: url("/medias/images/ico/checked.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.formulaire lookup .inputPL .inputPLSearch {
    padding-left: 0;
}

.btn-dark-gray {
    background-color: #888888 !important;
    margin: 0 5px !important;
    padding: 0;
    height: 30px;
    width: 30px;
    min-width: 30px;
}

.btn-dark-gray .fa.fa-filter {
    font-size: 19px;
}

.btn-dark-gray .fa.fa-filter:before {
    color: #fff !important;
}

.btn-dark-gray .fa.fa-times {
    font-size: 11px;
}

.btn-dark-gray .fa.fa-times:before {
    color: #fff !important;
}

.flex {
    display: flex;
}

.no_padding {
    padding: 0;
}

@media (max-width: 1366px) and (max-height: 768px) {
    fred-toolbar .date-section {
        width: 16%;
    }
    fred-toolbar .input-group.date .input-group-addon {
        padding-top: 3px;
        padding-bottom: 5px;
    }
    fred-toolbar .date-section.end .fred-button.default.text {
        width: 50px;
        padding-right: 4px;
        padding-left: 4px;
    }
    fred-toolbar .chev.material-icons {
        width: 25px;
        height: 23px;
    }
    fred-toolbar .export-section .button-excel {
        width: 25px;
        height: 25px;
    }
    .btn.cumul {
        font-size: 9px;
    }
    .fred-button[type="button"] {
        font-size: 9px;
    }
    .fred-button.criteria {
        line-height: 9px;
    }
    .fred-button.default.text.search-btn {
        min-width: 58px;
        width: 58px;
        margin-right: 5px;
    }
    .excel-icon {
        width: 25px;
        min-width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .white.icon {
        margin-left: 0;
    }
    .container-fluid {
        margin-top: 3px;
    }
    .display-list tbody.fred-scroll {
        max-height: 350px;
    }
    .btn-dark-gray {
        height: 25px;
    }
    .fred-button.white-star {
        height: 25px;
    }
}
