.no-padding {
    padding: 0;
    padding: 0;
}

.tableSocPartenaire {
    width: 100%;
}

.tableSocPartenaire thead {
    background-color: #0052A0;
}

.tableSocPartenaire .tdTableSocPartenaire {
    color: #fff;
    padding: 8px;
}

.tableSocPartenaire tbody tr {
    border-top: 1px solid #ddd;
}

.tableSocPartenaire tbody tr td {
    padding-bottom: 10px;
    padding-top: 10px;
}

.tableSocPartenaire tbody tr .delete .flaticon-multiply {
    height: 30px;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent !important;
}

.tdTableSocPartenaire .form-group {
    margin-bottom: 0;
}

.tdTableSocPartenaire .form-group .form-control {
    margin-bottom: 0;
}

.tdTableSocPartenaire .btn {
    margin-top: 0;
}

.tdTypeParticipation {
    width: 15%;
}

.tdSociete {
    width: 30%;
}

.tdQuota {
    width: 20%;
}

.tdButtons {
    width: 35%;
}

.btnAddSocPart {
    width: 200px;
}

.pickListCallerDeviseRef {
    text-align: left;
}

.pickListCallerDeviseRef > .inputPLSearchParent {
    background-color: #FFFFFF;
    color: #BBBBBB;
}

.pickListCallerDevise > .inputPLSearchParent::before {
    cursor: pointer;
    font-family: "Flaticon";
    font-weight: 100;
}

.pickListCallerDeviseRefContainer {
    text-align: right;
}

.no_paddingleft {
    padding-left: 0;
}

.no_paddingright {
    padding-right: 0;
}

hr {
    margin-bottom: 0;
}

#collapse-paie .panel-body .table-hover thead tr th {
    height: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#collapse-paie .panel-body .table tbody tr .lat {
    padding-left: 0;
}

#collapse-paie .panel-body .table tbody tr .long {
    padding-right: 0;
}

#collapse-paie .panel-body .search-add {
    margin-top: 10px;
    margin-bottom: 15px;
}

#collapse-devise .panel-body .table-hover thead tr th {
    height: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.preLook {
    margin-bottom: 5px;
}

.cssDivCIParam {
    background-color: #cfcfcf;
    border-color: black;
    border-style: outset;
    border-width: 1px;
    font-size: larger;
}

.cssBtnCIParam {
    background-color: transparent;
    border-style: none;
    font-size: larger;
    text-align: right;
}

.inputPL {
    border-width: 0;
}

.inputPLSearchParent {
    text-align: left;
}

.inputPLSearchParent > span {
    background: #fafafa;
    color: #67757f;
    font-style: normal;
}

.sm-chb {
    margin-top: 0;
    transform: scale(0.5);
}

.divCheckBoxBorder {
    background: #fafafa;
    border-color: #E1E3E5;
    border-style: solid;
    border-width: 1px;
    height: 32px;
    width: 50px;
}

.heureMinute {
    background: #fafafa;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    box-shadow: none;
    color: #67757f;
    font-size: 16px;
    height: 32px;
    margin-bottom: 5px;
    width: 75px;
}

.add_currency {
    background-color: #F1F2F3;
    border: #F1F2F3 1px;
    color: #337ab7;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: normal;
}

.add_currency:hover {
    background-color: #fff;
    color: #333333;
}

.add_co:hover {
    background-color: #fff;
    color: #333333;
}

.no_plpr {
    padding-left: 0;
    padding-right: 0;
}

.no_pl {
    padding-left: 0;
}

.no_pr {
    padding-right: 0;
}

#electricite {
    height: auto;
}

#essence {
    height: auto;
}

#fuel {
    height: auto;
}

.carburant .control-label {
    font-size: 17px;
}

.carburant .dev {
    font-size: 15px;
    color: #0052a0;
}

.carburant .cur_sel {
    height: 40px;
    width: 250px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

.carburant .glyphicon-chevron-right {
    font-size: 25px;
}

.carburant .glyphicon-chevron-down {
    font-size: 25px;
}

.carburant .res_mat_header {
    margin-bottom: 0;
}

.carburant .res_mat_header tbody tr th {
    background-color: #0052A0;
    color: #fff;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carburant .res_mat_header tbody tr th:last-child {
    background-color: rgba(159, 159, 159, 0.9);
    height: 40px;
}

.carburant .car_prix_header {
    margin-bottom: 0;
}

.carburant .car_prix_header tbody tr th {
    background-color: #0052A0;
    color: #fff;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carburant #accordion table {
    margin-bottom: 0;
}

.carburant #accordion .panel .panel-heading {
    border-width: 0;
    padding: 10px 6px;
}

.carburant #accordion .panel .panel-heading.level1 {
    background-image: url("/medias/images/picto/tree/miniLevels1.png");
    background-repeat: repeat-y;
    height: 35px;
    padding-top: 0px;
    margin: 0px;
}

.carburant #accordion .panel .panel-heading.level1 table tbody tr td {
    font-size: 15px;
    font-weight: bold;
    padding-left: 0px;
}

.carburant #accordion .panel .panel-heading.level1 table tbody tr td:first-child span {
    padding-top: 0px;
}

.carburant #accordion .panel .panel-heading.level1 table tbody tr .sm_pad {
    padding-left: 3px;
}

.carburant #accordion .panel .panel-heading.level1 .t_first tbody tr td:first-child span {
    display: block;
    padding-left: 35px;
}

.carburant #accordion .panel .panel-heading.level2 {
    background-image: url(/medias/images/picto/tree/miniLevels2.png);
    background-repeat: repeat-y;
}

.carburant #accordion .panel .panel-heading.level2 table tbody tr td {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding-left: 5px;
}

.carburant #accordion .panel .panel-heading.level2 table tbody tr td:first-child span {
    padding-top: 8px;
}

.carburant #accordion .panel .panel-heading.level2 table tbody tr td span {
    display: block;
    padding-left: 35px;
}

.carburant #accordion .panel .panel-heading.level2 table tbody tr .sm_pad {
    padding-left: 3px;
}

.carburant #accordion .panel .panel-body.level3 {
    background-image: url("/medias/images/picto/tree/miniLevels2.png");
    background-repeat: repeat-y;
}

.carburant #accordion .panel .panel-body.level3 .t_third tbody tr td:first-child {
    padding-left: 45px;
}

.carburant #accordion .panel .panel-body.level3 .t_third tbody tr td:last-child {
    background-color: rgba(213, 213, 213, 0.2);
}

.carburant #accordion .panel .panel-body.level3 .t_third tbody tr .cons_ci input {
    width: 85px;
}

.carburant #accordion .panel .panel-body.level3 .t_third tbody tr .cons_ci .flaticon-multiply {
    height: 30px;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent !important;
}

.carburant #accordion .panel .panel-body.level3 .t_third_param_carburant tbody tr td:first-child {
    padding-left: 45px;
}

.carburant #accordion .panel .panel-body.level3 .t_third_param_carburant tbody tr .prix_carburant input {
    width: 85px;
}

.carburant #accordion .panel .panel-body.level3 .t_third_param_carburant tbody tr .prix_carburant .flaticon-multiply {
    height: 30px;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent !important;
}

.carburant #accordion .panel .panel-body.level3 .t_third_param_carburant tbody tr .periode_carburant {
    height: 25px;
    width: 100px;
    font-size: 13px;
    padding-top: 4px;
}

.carburant #accordion .panel .panel-body {
    border: none;
    padding: 0;
}

.carburant #accordion .parent {
    border-left: none;
    border-right: none;
    border-left: 5px yellow solid;
}

.carburant .t_first {
    width: 100%;
}

.carburant .panel-heading .accordion-toggle.collapsed:after {
    color: white;
    content: "keyboard_arrow_right";
    font-size: 20px;
}

.carburant .panel-heading .accordion-toggle:after {
    color: white;
    content: "keyboard_arrow_down";
    float: left;
    font-family: "Material Icons";
    font-size: 20px;
}

.carburant .add_carburant {
    margin-left: 15px;
}

.carburant .panel-group .panel.panel-default {
    border-bottom-width: 0;
    border-left: 0;
    border-right: 0;
}

.carburant .panel-group .panel + .panel {
    margin-top: 0;
    border-bottom-width: 0;
}

.carburant .res_mat .fred-scroll {
    max-height: 750px;
}

.carburant .car_prix .fred-scroll {
    max-height: 550px;
}

.switch.carb {
    top: 14px;
    left: 20px;
}

.devise tbody tr .delete .flaticon-multiply {
    height: 30px;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent !important;
}

.y_search {
    margin: 0;
    vertical-align: top;
    height: 40px;
    display: inline-block;
    float: left;
    background-color: #ffde0e;
    font-size: 15px;
    font-weight: bold;
}

.nrj .main-row tr {
    height: 15px;
}

.nrj .main-row td {
    height: 50px;
    background-color: lightblue;
}

.nrj .main-row .add {
    margin-top: 0;
}

.nrj .main-row p:first-child {
    font-size: 10px;
    color: gray;
    margin-bottom: 0;
}

.nrj .main-row p:last-child {
    margin-bottom: 0;
}

.nrj .main-row a span:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    color: #0052A0;
    float: left;
    font-size: 25px;
}

.nrj .main-row .collapsed span:before {
    font-family: "Glyphicons Halflings";
    content: "\e080";
    color: #0052A0;
    float: left;
    font-size: 25px;
}

.nrj .energie {
    padding: 0;
    height: auto;
}

.nrj .energie table tbody tr td {
    height: 60px;
}

.nrj .energie p {
    font-size: 10px;
    color: gray;
    margin-bottom: 0;
}

.nrj .energie .unit {
    font-size: 15px;
    color: #333333;
    margin-top: 14px;
}

.nrj .energie .input-filter {
    height: 25px;
    width: 100px;
    font-size: 11px;
    padding-top: 4px;
    border: white;
}

.nrj .energie .prix {
    width: 60px;
    border: none;
    background-color: #fafafa;
}

.nrj .energie .fx_per {
    font-size: 11px;
    padding: 6px 14px;
}

.nrj .energie .flaticon-multiply {
    color: gray;
    font-size: 15px;
}

.nrj #electricite table {
    height: 180px;
    margin: 0;
}

.nrj #electricite table tbody {
    height: 180px;
}

.nrj #essence table {
    height: 120px;
    margin: 0;
}

.nrj #essence table tbody {
    height: 120px;
}

.nrj #fuel table {
    height: 120px;
    margin: 0;
}

.nrj #fuel table tbody {
    height: 120px;
}

.main-row {
    padding-left: 0px;
}

.res_search_input {
    height: 30px;
    width: 300px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

.materiel thead tr .text-center:last-child {
    background-color: rgba(159, 159, 159, 0.9) !important;
}

.materiel tbody {
    height: 450px;
    overflow: auto;
}

.carburant-code-libelle {
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
}

.inline-header {
    color: #67757f;
    font-size: 11px;
    font-style: normal;
    margin: 0 0 -2px;
}

.inline-desctiption {
    margin: 0;
}

input[type="radio"] + label {
    margin-right: 10px;
}

input[type="checkbox"] + label {
    margin-top: 5px;
    margin-left: 15px;
}

.majoration-table > thead {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.majoration-table > tbody {
    max-height: 300px;
    display: block;
}

.majoration-table > tbody tr {
    width: 100%;
}

.majoration-table > tbody > tr {
    display: table;
    table-layout: fixed;
}

.majoration-table input[type="checkbox"] + label {
    margin-left: 0;
}

.prime-table > thead {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.prime-table > tbody {
    max-height: 300px;
    display: block;
}

.prime-table > tbody tr {
    width: 100%;
}

.prime-table > tbody > tr {
    display: table;
    table-layout: fixed;
}

.prime-table input[type="checkbox"] + label {
    margin-left: 0;
}

#ci-accordion .panel-heading {
    display: flex;
    align-items: center;
}

.teams fred-toolbar {
    margin-top: 5px;
}

.teams .text-search-section {
    width: 100%;
}

.teams fred-section-controls {
    width: 100%;
}

.teams fred-section-controls .input-group.input-search {
    width: 40%;
    margin-right: 1%;
}

.teams fred-section-controls .showAll {
    width: 150px;
    padding-right: 8px;
    padding-left: 8px;
    justify-content: flex-start;
    margin-right: 3%;
    border: none;
}

.teams fred-section-controls .showAll .material-icons {
    margin-left: auto;
    font-size: 25px;
}

.teams fred-section-controls .txt {
    font-size: 11px;
    color: #333;
    font-weight: normal;
    margin-right: 1%;
}

.teams fred-section-controls .switch {
    margin-bottom: 0;
    margin-right: 5%;
}

.teams fred-section-controls button.add-pers {
    margin-left: 14%;
}

.teams fred-section-controls button.add-pers .material-icons {
    margin-right: 5px;
}

.teams fred-section-controls button.gr {
    background-color: #9dbb61;
}

.teams fred-section-controls button.gr .material-icons {
    margin-right: 5px;
}

.teams .table-content {
    margin: 15px 15px 0 15px;
}

.teams .tabline {
    overflow-y: hidden;
}

.teams .teams-table thead tr {
    padding-right: 16px;
}

.teams .teams-table thead tr th {
    height: 30px;
    color: #fff;
}

.teams .teams-table thead tr th.white {
    background-color: #fff;
}

.teams .teams-table thead tr th.odd-day {
    background-color: #7fa8cf;
}

.teams .teams-table thead tr th.even-day {
    background-color: #407db8;
}

.teams .teams-table thead tr th.weekend1 {
    background-color: #ffa90d;
}

.teams .teams-table thead tr th.weekend2 {
    background-color: #ffbc40;
}

.teams .teams-table thead tr th.blue {
    background-color: #0052a0;
    color: #fff;
}

.teams .teams-table thead tr.top-header th {
    background-color: #0052a0;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
}

.teams .teams-table thead tr.mid-header th {
    height: 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
}

.teams .teams-table thead tr.bottom-header th {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
}

.teams .teams-table thead tr.bottom-header th.odd-day {
    background-color: #99b9d9;
}

.teams .teams-table thead tr.bottom-header th.even-day {
    background-color: #6697c6;
}

.teams .teams-table thead tr.bottom-header th.weekend1 {
    background-color: #ffba3d;
}

.teams .teams-table thead tr.bottom-header th.weekend2 {
    background-color: #ffc966;
}

.teams .teams-table tbody {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    max-height: 500px;
}

.teams .teams-table tbody tr td {
    height: 30px;
    text-align: center;
    font-size: 11px;
    border-top: 1px solid #ddd;
    position: relative;
}

.teams .teams-table tbody tr td:first-child::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 2%;
    content: "";
    background-color: #f2f2f2;
}

.teams .teams-table tbody tr td .table-tile {
    padding: 3px 6px;
    text-transform: uppercase;
    width: 95px;
    display: inline-block;
}

.teams .teams-table tbody tr td .table-tile.duty {
    background-color: #31859b;
    color: #fff;
}

.teams .teams-table tbody tr td .table-tile.affected {
    border: 2px solid #bfbfbf;
    color: #7f7f7f;
    padding: 2px 5px;
}

.teams .teams-table tbody tr td .table-tile.no-duty {
    border: 2px solid #bfbfbf;
    color: #7f7f7f;
    font-size: 10px;
    padding: 3px 5px;
}

.teams .teams-table tbody tr td.del:first-child::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 2%;
    content: "";
    background-color: #de3f7e;
}

.teams .teams-table tbody tr td.odd-day {
    background-color: #f2f6fa;
}

.teams .teams-table tbody tr td.even-day {
    background-color: #ecf2f8;
}

.teams .teams-table tbody tr td.weekend1 {
    background-color: #fff6e6;
}

.teams .teams-table tbody tr td.weekend2 {
    background-color: #fff8ec;
}

.teams .teams-table tbody tr td.action-icons .material-icons {
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.teams .teams-table tbody tr td.action-icons .recover-auth {
    bottom: -1px;
}

.teams .teams-table tbody tr td.action-icons .material-icons.clear {
    color: #7f7f7f;
}

.teams .teams-table tbody tr td.action-icons .material-icons.star-off {
    color: #f2f2f2;
}

.teams .teams-table tbody tr td.action-icons .material-icons.star-on {
    color: #ffc000;
}

.teams .teams-table tbody tr td.action-icons .material-icons.peop-off {
    color: #f2f2f2;
}

.teams .teams-table tbody tr td.action-icons .material-icons.peop-del {
    color: #c4386f;
}

.teams .teams-table .timeline {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.teams .teams-table .timeline .material-icons {
    cursor: pointer;
}

.teams .teams-table .timeline .displayed-week {
    margin-left: 40px;
    margin-right: 40px;
}

.teams .cal app-date-picker .input-group-addon {
    display: none;
}

.teams-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .formulaire.long .inputPL .inputPLRemove {
        height: 23px;
        width: 25px;
    }
    .carburant #accordion .panel .panel-body.level3 .t_third_param_carburant tbody tr .periode_carburant {
        padding-top: 0;
        padding-bottom: 0;
    }
}
