$background_color_1: black;
$background_color_2: #fff;


.component-overlay-shadow {
    z-index: 5002;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    transition: 0.2s opacity ease;
    background-color: $background_color_1;
}

.component-overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5003;
    background-color: $background_color_2;
}
