h2 {
    margin-left: 15px;
}

.search-box {
    float: left;
    margin-right: 10px;
}

.form-group .form-control {
    margin-right: 10px;
}

.btn-success {
    margin-top: 0;
    margin-right: 0;
}

.table thead tr th a {
    color: #fff;
    text-decoration: none;
}

.table tbody tr td {
    font-size: 12px;
}

ul li a {
    width: initial;
}
