@{
    ViewBag.Title = "Accueil";
}

<div class="container">
    <div class="jumbotron">
        <h1>Fred Import Export</h1>
        <p class="lead">Gestion des flux d'import et d'export</p>
    </div>
</div>