.no-pl {
    padding-left: 0;
}

.no-pr {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.table tbody tr td {
    height: 55px;
}

.search-container .btn {
    font-size: 11px;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    background-color: #09ada6;
    color: white;
    font-size: 25px;
    height: 45px;
    line-height: 25px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 45px;
    font-weight: 400;
}

.inner-addon .glyphicon:before {
    content: '\f0f7';
    font-family: "FontAwesome";
}

.lookupPane .inner-addon .glyphicon-search {
    line-height: 16px;
}

#listFAR {
    height: 450px;
}

#listFAR .tr {
    height: 55px;
}

.colCases {
    text-align: right;
    padding: 0;
}

.colCases input {
    display: none;
}

.colCases label {
    float: left;
}

.colCloture {
    text-align: center;
    font-size: 20px;
}

.statut-transfert {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
}

.status-0 {
    background-color: gray;
}

.status-1 {
    background-color: #FEBB5F;
}

.status-2 {
    background-color: #ADCB60;
}

.status-3 {
    background-color: red;
}

.status-4 {
    background-color: brown;
}

.details-transfert {
    color: gray;
    font-size: 13px;
}

input[type="checkbox"] + label span {
    background-position: center;
    background-repeat: no-repeat;
    border: 3px #2c77ba solid;
    background-color: #fcfcfc;
    -moz-border-radius: 20%;
    border-radius: 20%;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    width: 19px;
}

input[type="checkbox"]:checked + label span {
    background-image: url(/medias/images/ico/checked.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 3px #2c77ba solid;
}

.information {
    padding-top: 45px;
}

.information .icon {
    text-align: right;
}

.information .icon I {
    font-size: 60px;
    font-style: normal;
    text-align: right;
}

.information .message {
    font-size: 60px;
    font-style: normal;
    text-align: left;
}
