<div class="modal fade" id="{{modalid}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="{{icon}}"></i>{{title}}</h2>
                <i class="flaticon flaticon-multiply close pull-right" data-dismiss="modal" title="Cliquer pour annuler et fermer"></i>
            </div>
            <div class="modal-body">
                <b>{{message}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-lg btn-default pull-left" data-dismiss="modal" title="Cliquer pour valider">Valider</button>
                <button type="button" class="btn  btn-lg btn-link pull-right" data-dismiss="modal" title="Cliquer pour annuler et fermer">Annuler</button>
            </div>
        </div>
    </div>
</div>