<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="FluentValidation" version="8.5.0" targetFramework="net462" />
  <package id="Hangfire" version="1.7.6" targetFramework="net462" />
  <package id="Hangfire.Core" version="1.7.6" targetFramework="net462" />
  <package id="Hangfire.SqlServer" version="1.7.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.10.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="NLog" version="4.6.7" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="6.6.0.3969" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="Syncfusion.Compression.Base" version="17.1.0.32-beta" targetFramework="net452" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="17.1.0.32-beta" targetFramework="net462" />
  <package id="Syncfusion.XlsIO.AspNet.Mvc5" version="17.1.0.32-beta" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net462" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net462" />
</packages>