/* Barre de recherche */
/* Tableau */
/* Modal */
/* Custom Modal */
/* Ventilation modal */
fred-toolbar {
    flex-flow: row wrap;
}

fred-toolbar fred-section.ci {
    width: 25%;
}

fred-toolbar .select-date .input-group.date .input-group.date {
    width: 87%;
}

fred-toolbar .btn.btn-primary.bkg-white {
    background-color: white !important;
    color: black !important;
}

fred-toolbar .inner-addon.right-addon {
    width: 100%;
}

fred-toolbar .inner-addon.right-addon input {
    cursor: pointer;
}

fred-toolbar .chev.material-icons {
    position: absolute;
    display: inline-block;
    line-height: 0.7;
    pointer-events: none;
    background-color: #09ada6;
    height: 29px;
    width: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    right: 0;
    top: 0;
    padding-top: 6px;
}

.feature-select-date {
    display: flex;
}

.feature-select-date .select-date {
    margin-left: 2%;
}

.feature-select-date .select-date .fred-button {
    margin-left: 15px;
    padding: 3px 0;
    width: 50px;
}

.feature-select-date .select-date .form-control {
    height: 31px;
}

.feature-select-date .select-date .fred-button.orange {
    background-color: #ea700d;
}

.feature-select-date .select-date .fred-button.green {
    background-color: #9dbb61;
}

.feature-select-date.month {
    margin-left: 2%;
}

.btn.cumul {
    font-size: 11px;
    margin-top: 0;
    margin-right: 0;
    font-weight: 600;
}

.status {
    margin-left: 1%;
}

.status .status-display {
    background-color: #0052a0;
    padding: 3px;
    color: white;
    font-size: 11px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .status-display.orange {
    background-color: #ea700d;
}

.status .status-display.green {
    background-color: #9dbb61;
}

.boutons-actions {
    margin-left: 2%;
}

.boutons-actions .fred-button {
    margin-left: 0;
    background-color: #9dbb61;
    color: #fff;
}

.fred-button.white-star {
    background-color: #ff0066;
    color: #fff;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.fred-button.white-star:hover {
    background-color: #fff;
    color: #ff0066;
}

.fred-button.search {
    background-color: #0052a0;
    color: #fff;
    width: 90px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.fred-button.search:hover {
    color: #0052a0;
    background-color: #F1F2F3 !important;
}

.input-group.date .input-group-addon {
    padding-bottom: 5px;
}

.OD-list {
    margin-top: 20px;
}

.OD-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.OD-table th {
    background-color: #0052A0;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    height: 30px;
    padding-left: 5px;
    text-align: right;
}

.OD-table th .tot-fred {
    background-color: #0067bd;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table th .tot-anael {
    background-color: #9dbb61;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table th .tot-ecart {
    background-color: #de3f7e;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table tbody {
    overflow-y: auto;
    width: 100%;
}

.OD-table td {
    padding-left: 5px;
    height: 30px;
    font-size: 12px;
    text-align: right;
    border-bottom: 1px solid #dddddd;
}

.OD-table td .tot-fred {
    background-color: #f2f8fd;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table td .tot-anael {
    background-color: #f5f8ef;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table .firstCol {
    text-align: right;
}

.OD-table .firstCol div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.OD-table .firstCol .fred-icon {
    background-image: url("/medias/images/ico/command-icon.png");
    width: 30px;
    height: 15px;
    display: block;
    background-position: 100% 50%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.OD-table .pr-ecart {
    padding-right: 55px;
}

.OD-table .ecart {
    background-color: #fcebf2;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table .ecart.link {
    background-color: #fff;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.OD-table .ecart.link .material-icons {
    color: #67757f;
    cursor: pointer;
}

.OD-table .col-1 {
    text-align: left;
    padding-left: 5%;
}

.OD-table .sapicon-E060 {
    color: #31859b;
    margin-left: 20px;
    font-size: 18px;
}

.OD-table .sapicon-E0A5 {
    color: #ea700d;
    margin-left: 20px;
    font-size: 18px;
}

.OD-table.foot td {
    border-top: none;
    border-bottom: none;
}

.OD-table.foot td .tot-fred {
    background-color: #80beed;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table.foot td .tot-anael {
    background-color: #9dbb61;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OD-table.foot td .tot-ecart {
    background-color: #de3f7e;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    width: 600px;
    top: 10%;
}

.modal-dialog ul {
    max-height: 200px;
    overflow-y: auto;
}

.sapicon-E02C {
    margin-right: 10px;
}

.modal-body .infobar {
    display: flex;
    justify-content: space-evenly;
}

.modal-body .infobar .period {
    width: 150px;
    height: 44px;
    background-color: #9dbb61;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}

.modal-body .infobar .period .lbl {
    font-size: 11px;
}

.modal-body .infobar .period .val {
    font-size: 18px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body .infobar .anael {
    margin-left: 1%;
    width: 200px;
    height: 44px;
    background-color: #9dbb61;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.modal-body .infobar .ecarts .sapicon-E158 {
    margin-right: 20px;
}

.modal-body .infobar .ecarts .sapicon-E158::before {
    font-size: 25px;
}

.modal-body .infobar .ecarts .sapicon-E1A7 {
    margin-right: 20px;
}

.modal-body .infobar .ecarts .sapicon-E1A7::before {
    font-size: 25px;
}

.modal-body .infobar .ecarts .sapicon-E02F {
    margin-right: 20px;
}

.modal-body .infobar .ecarts .sapicon-E02F::before {
    font-size: 25px;
}

.modal-body .infobar .ecarts .material-icons {
    margin-right: 20px;
}

.modal-body .infobar .ecarts .material-icons::before {
    font-size: 25px;
}

.modal-body .infobar .ecarts .amount {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-body .infobar .ecarts .amount .txt {
    text-align: left;
    font-size: 11px;
}

.modal-body .infobar .ecarts .amount .data {
    text-align: right;
    font-size: 18px;
}

.modal-body .infobar .vent {
    margin-left: 1%;
    width: 180px;
    height: 44px;
    background-color: #4080b8;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.modal-body .infobar .dispatch {
    margin-left: 1%;
    width: 230px;
    height: 44px;
    background-color: #de3f7e;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.modal-body .infobar .add-rep {
    margin-left: 1%;
    width: 160px;
    height: 44px;
    background-color: #9dbb61;
    border: none;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.modal-body .ecart-list {
    margin-top: 30px;
}

.modal-body .ecart-list table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    display: table;
}

.ecart-list table thead {
    position: relative;
    display: block;
    overflow-x: visible;
}

.ecart-list table thead tr th {
    height: 30px;
    background-color: #0052a0;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecart-list table tbody {
    position: relative;
    display: block;
    overflow: auto;
    overflow-x: visible;
    height: 200px !important;
}

.ecart-list table tbody tr td {
    padding: 0;
    height: 30px;
    text-align: center;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
}

.ecart-list table tbody tr td .edit-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ecart-list table tbody tr td .edit-icons .sapicon-E038::before {
    cursor: pointer;
    font-size: 17px;
    color: #7f7f7f;
}

.ecart-list table tbody tr td .edit-icons .material-icons {
    cursor: pointer;
    color: #7f7f7f;
}

.fred-button.yellow {
    background-color: #ffa90d !important;
    margin-left: 5px;
}

.custom-modal {
    top: 25%;
    left: 35%;
}

.custom-modal-content {
    width: 100%;
}

.excel-choice-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.importButton {
    width: 130px;
    height: 100px;
    border: 1px solid #BBBBBB;
    font-size: 11px;
    color: #67757F;
    display: flex;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.importButton.selected {
    border: 1px solid #09ada6;
    color: #09ada6;
}

.importButton.disabled {
    cursor: not-allowed;
    background-color: #f2f2f2;
}

.importButton-txt {
    cursor: pointer;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 30%;
    font-weight: normal;
}

.col-md-1.small {
    width: 80px !important;
}

.col-md-1.medium {
    width: 100px !important;
}

.col-md-2.large {
    width: 150px !important;
    height: initial !important;
}

.col-md-2.super-large {
    width: 200px !important;
}

.col-md-5.extra-large {
    width: 250px !important;
}

.form-control.inputText {
    width: 90%;
}

.amount-txt {
    font-size: large;
    align-self: baseline;
    font-weight: 500;
}

.text-danger.error {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.formulaire.middle.lookup {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}

.col-md-2.has-error {
    display: table;
}

.table-fixed tr {
    display: flex;
}

.inner-triangle {
    border-left: 15px solid transparent;
    border-right: 15px solid #09ada6;
    border-bottom: 15px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    z-index: 2;
}

.mess-clot {
    color: #de3f7e;
}

.ventilation-modal .modal-dialog {
    width: 1500px;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .feature-select-date .select-date .form-control {
        height: 25px;
    }
    fred-toolbar .chev.material-icons {
        height: 25px;
        font-size: 20px;
    }
    fred-toolbar .btn.btn-primary.bkg-white {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    fred-toolbar .status .status-display.green {
        height: 25px;
    }
    fred-toolbar .status .status-display.orange {
        height: 25px;
    }
    fred-toolbar .fred-button.search {
        height: 25px;
    }
    fred-toolbar .feature-select-date.beg-end {
        width: 35%;
    }
    fred-toolbar .feature-select-date.month.state {
        margin-left: 1%;
    }
    .input-group.date .input-group-addon {
        padding: 2px 6px;
    }
    .fred-button.white-star {
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
    .boutons-actions {
        margin-left: 0;
    }
    .modal-dialog {
        width: 400px;
    }
    .ventilation-modal .modal-dialog {
        width: 1200px;
    }
    .ventilation-modal .modal-dialog .ecart-list table thead tr th {
        font-size: 9px;
    }
}
