<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Fred Rules" ToolsVersion="15.0">
  <Include Path="..\..\fred.importexport\sonarqube\fayat.fred.importexportcsharp.ruleset" Action="Default" />
  <Include Path="..\fred.ruleset" Action="Default" />
  <Include Path="..\sonarqube\fayat.fredwebcsharp.ruleset" Action="Default" />
</RuleSet>