<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title">
            <i class="flaticon flaticons flaticon-warning"> {{$ctrl.resources.Commande_VerifyExternalMaterialUnity_Titre}}</i>
        </h2>
        <i class="flaticon flaticons flaticon-multiply close pull-right" ng-click="$ctrl.handleCancel()" title="{{$ctrl.resources.Global_Modal_Annuler_Tooltip}}"></i>
    </div>
    <div class="modal-body" style="font-size: 15px">
        <p>{{$ctrl.resources.Commande_VerifyExternalMaterialUnity_Message}}</p>
        </br>
        <p>{{$ctrl.resources.Commande_VerifyExternalMaterialUnity_Question}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.handleConfirm()">{{$ctrl.resources.Commande_VerifyExternalMaterialUnity_Confirmer}}</button>
        <button type="button" class="btn btn-link pull-right" ng-click="$ctrl.handleCancel()">{{$ctrl.resources.Commande_VerifyExternalMaterialUnity_Annuler}}</button>
    </div>
</div> 