.bold {
    font-weight: bold;
}

.no-pl {
    padding-left: 0;
}

.no-pr {
    padding-right: 0;
}

#header-date {
    padding-left: 0;
}

#header-date > h1 {
    display: flex;
    align-items: center;
}

#header-date .slash {
    font-size: 28px;
}

.input-group.date {
    background-color: white;
    border: none;
    color: #555555;
    font-size: 36px;
    font-weight: 600;
    top: 1px;
    width: 230px;
}

.inputPLSearch.inputPLSearchParent:disabled {
    background-color: #e3e3e3;
    cursor: not-allowed;
    opacity: 1;
}

.inputPLSearch.inputPLSearchParent:disabled > .inputPLLabel {
    background-color: #e3e3e3;
    cursor: not-allowed;
    opacity: 1;
}

h1 .datePickerRapport {
    padding-top: 2px;
}

.datePickerRapport .input-group.date .input-group-addon {
    padding: 0;
}

.datePickerRapport .input-group.date .input-group-addon span {
    top: -1px;
    bottom: 0;
    font-size: 24px;
}

.datePickerRapport > div > input {
    background-color: white;
    border: none;
    color: #555555;
    font-size: 36px;
    font-weight: 600;
    padding-right: 0;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-right: 0;
}

.datePickerRapport > div > span {
    background-color: white;
    border: none;
    color: #555555;
    font-size: 36px;
    font-weight: 600;
    padding-right: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-right: 0;
}

.datePickerRapport .form-control {
    padding: 0;
    width: 90%;
}

.panel.panel-default {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-body {
    border: none;
    background: white;
    border: 10px solid #e1e3e5;
    border-width: 0 7px 7px 7px;
}

.panel {
    border: none;
}

.panel-heading {
    border: none;
    border-bottom: none;
    height: 40px;
}

.panel-default {
    background: #eeeeee;
}

.panel-footer {
    background-color: #eeeeee;
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}

.panel-heading.panel-heading-large {
    background-color: #e1e3e5;
    color: #67757f;
    cursor: default;
    height: 44px;
    padding: 7px;
}

.fontSizeTitle {
    font-weight: 400;
    color: #757575;
    display: block;
    margin-top: 4px;
}

.table_content_up {
    width: 100%;
}

.titre-validation {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: left;
    user-select: none;
}

.titre-validation span.arrow_open {
    background-image: url(/medias/images/ico/arrow_up.png);
    background-position: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75%;
    cursor: pointer;
    font-weight: 600;
    padding-left: 25px;
    background-position: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75%;
    cursor: pointer;
    font-weight: 600;
    padding-left: 25px;
}

.titre-validation span.arrow_close {
    background-image: url(/medias/images/ico/arrow_down.png);
    background-position: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75%;
    cursor: pointer;
    font-weight: 600;
    padding-left: 25px;
    background-position: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75%;
    cursor: pointer;
    font-weight: 600;
    padding-left: 25px;
}

#brief .top-table {
    padding-left: 0;
}

#brief .top-table .container {
    padding-left: 0;
}

#brief .container.separation {
    padding-left: 0;
}

#brief .container.separation hr {
    border-top: 1px solid #aeaeae;
}

#brief.panel-body.collapse.in .form-group {
    padding-left: 0;
}

#brief.panel-body.collapse.in .form-group .container {
    padding-left: 0;
}

.tabs-pointage {
    display: flex;
    margin-top: 25px;
    width: 100%;
    border-bottom: 5px solid #09ada6;
}

.tab-pointage {
    background-position: right top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    padding: 10px 15px 15px 15px;
    padding-left: 35px;
    position: relative;
    width: 250px;
    background-color: #e1e3e5;
    background-image: url("/medias/images/ico/corner-inactive.png");
}

.tab-pointage:last-child {
    background-image: url("/medias/images/ico/corner-inactive-last-child.png");
}

.tab-pointage.selected {
    background-color: #09ada6;
    background-image: url("/medias/images/ico/corner-active.png");
    color: white;
}

.tab-pointage.selected:last-child {
    background-image: url("/medias/images/ico/corner-active-last-child.png");
}

.rapports-scroll {
    display: block;
    overflow-x: auto;
}

.rapports-scroll::-webkit-scrollbar-track {
    background-color: #0052A0;
    background-color: rgba(0, 82, 160, 0.1);
}

.rapports-scroll::-webkit-scrollbar {
    background-color: #0052A0;
    background-color: rgba(0, 82, 160, 0.1);
    height: 9px;
    width: 5px;
}

.rapports-scroll::-webkit-scrollbar-thumb {
    background-color: #0052A0;
    background-color: rgba(0, 82, 160, 0.9);
}

.rapports-scroll .rapports .tdNom {
    height: inherit;
    padding-bottom: 4px;
    padding-left: 0;
    padding-top: 4px;
    text-align: left;
}

.rapports {
    border-bottom: 1px #aeaeae solid;
    border-left: 1px #aeaeae solid;
    border-right: 1px #aeaeae solid;
    table-layout: fixed;
    text-overflow: ellipsis;
    width: 100%;
    word-wrap: break-word;
}

.rapports thead tr {
    font-size: 13px;
    font-weight: 600;
    height: 30px;
}

.rapports thead tr th {
    padding-left: 5px;
    text-align: center;
}

.rapports .table-header-level2 th {
    height: 15px;
    padding-left: 0;
}

.rapports .table-header-level2 th:nth-child(1) {
    padding-left: 0;
    position: relative;
}

.rapports .table-header-level1 .col1 {
    width: 32px !important;
}

.rapports .table-header-level1 .col1-2 {
    width: 60px !important;
}

.rapports .table-header-level1 .col1-3 {
    width: 30px !important;
}

.rapports .table-header-level1 .col2 {
    width: 260px !important;
}

.rapports .table-header-level1 .col3 {
    width: 75px !important;
}

.rapports .table-header-level1 .col4 {
    width: 75px !important;
}

.rapports .table-header-level1 .col5 {
    width: 160px !important;
}

.rapports .table-header-level1 .col7 {
    width: 201px !important;
}

.rapports .table-header-level1 .col10 {
    width: 201px !important;
}

.rapports .table-header-level1 .col13 {
    background-color: #e1e3e5;
    color: #0052a0;
}

.rapports .table-header-level1 .col14 {
    width: 300px !important;
}

.rapports .table-header-level1 .col14.b {
    width: 300px !important;
}

.rapports .table-header-level1 .col20 {
    background-color: #e1e3e5;
    color: #0052a0;
}

.rapports tbody tr {
    border-bottom: 1px solid #aeaeae;
    border-top: 1px solid #aeaeae;
}

.rapports tbody tr td {
    height: 15px !important;
}

.rapports tbody tr .col4 {
    text-align: center;
}

.rapports tbody tr .col6 {
    text-align: center;
}

.rapports tbody tr .col8 {
    text-align: center;
}

.rapports tbody tr .col9 {
    text-align: center;
}

.rapports tbody tr .col99 {
    text-align: center;
}

.rapports tbody tr .col11 {
    text-align: center;
}

.rapports tbody tr .col11 .td-lbl {
    width: auto;
    text-align: center;
}

.rapports tbody tr .col12 {
    text-align: center;
}

.rapports tbody tr .col15 {
    text-align: center;
}

.rapports tbody tr .col16 {
    text-align: center;
}

.rapports tbody tr .col17 {
    text-align: center;
}

.rapports tbody tr .col18 {
    text-align: center;
}

.rapports tbody tr .col19 {
    text-align: center;
}

.rapports tbody tr input[type="number"] {
    width: 50px;
}

.rapports tbody tr .input-number {
    width: 50px;
}

.rapports tbody tr tr:nth-child(even) {
    background: #CCC;
}

.rapports tbody tr:nth-child(odd) {
    background: #FFF;
}

.rapports tbody tr .col13 {
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.rapports tbody tr .col20 {
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.rapports tfoot tr {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    text-align: center;
}

.rapports .movable {
    border-right: 1px solid #aeaeae;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.rapports .movable.no-bdr {
    border-right: none;
}

.rapports .border-left {
    border-left: 1px #aeaeae solid;
}

.table-header-level2 th {
    font-size: 11px;
    font-weight: 400;
}

.col1 {
    padding-left: 5px;
}

.buttonsBar {
    display: block;
    flex-direction: row;
}

.buttonsBar button {
    background-color: transparent;
    border: 0;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 30px;
}

.buttonsBar .flaticon {
    font-size: 25px;
}

.prime-tache-label {
    float: left;
    width: 100%;
    font-size: 11px;
}

.prime-tache-toolbar {
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    width: 100%;
    display: inline;
    color: #7d7d7d;
    color: white;
}

.prime-tache-toolbar SPAN {
    text-align: center;
}

.prime-tache-toolbar .glyphicon.gly_bk {
    color: white;
    width: 15px;
}

.prime-tache-toolbar .material-icons {
    font-size: 17px;
    vertical-align: bottom;
    color: #09ada6;
    cursor: pointer;
    color: white;
}

.prime-tache-label-header {
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
}

.button-add-ligne-pointage {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
}

.glyphicon {
    cursor: pointer;
}

.glyphicon.gly_bk {
    color: #523502;
}

.spreadsheet {
    -moz-box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.75);
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.75);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1198;
}

.spreadsheet .header {
    background: #e1e3e5;
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    min-height: 65px;
    height: initial;
    padding-bottom: 5px;
    margin: 0;
    position: relative;
}

.spreadsheet .header LABEL {
    color: #67757f;
    font-size: 25px;
    font-weight: 400;
    padding-top: 15px;
}

.spreadsheet .header LABEL b {
    color: #000000;
    color: rgba(0, 0, 0, 0.75);
    padding: 5px;
}

.spreadsheet .header button {
    border: 1px white solid;
    font-size: 25px;
}

.spreadsheet .header .fullscreen-header {
    display: flex;
    align-items: center;
}

.spreadsheet .header .fullscreen-header .datePickerRapportFullScreen > div > input {
    background-color: transparent;
    border: none;
    color: #555555;
    font-size: 25px;
    font-weight: 600;
    padding-right: 0;
}

.spreadsheet .header .fullscreen-header .datePickerRapportFullScreen > div > span {
    background-color: transparent;
    border: none;
    color: #555555;
    font-size: 25px;
    font-weight: 600;
    padding-right: 0;
}

.spreadsheet .header .fullscreen-header .datePickerRapportFullScreen .input-group.date {
    background-color: transparent;
    border: none;
    color: #555555;
    font-size: 25px;
    font-weight: 600;
    top: 5px;
    width: 170px;
}

.spreadsheet .header .fullscreen-header .datePickerRapportFullScreen .input-group.date .input-group-addon {
    height: 25px;
    padding: 0;
}

.spreadsheet .header .fullscreen-header .datePickerRapportFullScreen .input-group.date .input-group-addon span {
    top: 0;
    bottom: 0;
    font-size: 20px;
}

.spreadsheet .header .fullscreen-header .datePickerRapportFullScreen .form-control {
    padding: 0;
}

.spreadsheet .rapport-table {
    margin-left: 10px;
}

.spreadsheet .rapport-table tbody {
    height: calc(100vh - 180px) !important;
}

.spreadsheet .rapport-table tbody.full-size {
    height: calc(100vh - 140px) !important;
}

.spreadsheet > .tabs-pointage {
    position: relative;
}

.spreadsheet > .rapports-scroll {
    height: calc(100% - 175px) !important;
    position: relative;
}

.spreadsheet.rapports {
    overflow: auto;
}

input:focus {
    background: #ccc;
}

.input-light-somme {
    background: transparent;
    border: none;
    color: black;
    text-align: center;
    width: 100%;
}

.input-light-somme.bold {
    font-weight: normal !important;
}

.input-light {
    background-image: none;
    border: 1px solid white;
    color: black;
    font-size: 14px;
    height: 25px;
    text-align: center;
}

.input-light:hover {
    background: white;
    background-image: none;
    color: black;
}

.input-light:focus {
    background-image: none;
}

.checkbox-prime {
    padding-top: 7px;
}

.inputPL {
    width: 100%;
}

.inputPL .inputPLSearch {
    padding: 0 !important;
    text-align: left;
}

.lookup-image-plus::before {
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Material Icons";
    content: 'add';
}

.flaticon-add:before {
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Material Icons";
    content: 'add';
}

.pickListCallerCI {
    height: inherit;
    width: inherit;
}

.pickListCallerCI .inputPL {
    border: none;
}

.picks .inputPL {
    background-color: #fafafa;
    font-size: 14px;
    height: 25px;
    padding-left: 5px;
    width: 96%;
}

.picks .inputPL .inputPLLabel {
    font-size: 11px;
    text-transform: capitalize;
    margin-right: 0;
    white-space: nowrap;
    width: 180px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.picks .inputPL .glyphicon {
    font-size: 15px;
}

.input .inputPLLabel {
    font-style: normal;
}

.inputPLSearchParent > span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.formulaire.middle .chev.material-icons {
    font-size: 23px;
}

.formulaire.middle .material-icons.closing {
    font-size: 23px;
    top: 0 !important;
    font-size: 23px;
    position: static;
}

.formulaire.middle .inputPL .inputPLRemove {
    width: 25px;
    height: 25px;
    top: 0 !important;
    padding: 0;
}

.pickListCallerPrime {
    padding: 5px;
    border: 1px solid transparent;
}

.pickListCallerPrime > .inputPLSearchParent::before {
    color: inherit;
    content: "\f100";
    cursor: pointer;
    font-family: "Flaticon";
    font-weight: 600;
}

.pickListCallerPrime:hover {
    border: 1px solid white;
}

.pickListCallerTache {
    padding: 5px;
    border: 1px solid transparent;
}

.pickListCallerTache > .inputPLSearchParent::before {
    color: inherit;
    content: "\f100";
    cursor: pointer;
    font-family: "Flaticon";
    font-weight: 600;
}

.pickListCallerTache:hover {
    border: 1px solid white;
}

.pickListCallerIntegrated {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border-color: inherit;
    border-image: inherit;
    border-style: none;
    border-width: 2px;
    color: #626262;
    cursor: auto;
    height: 35px;
    text-align: center;
    user-select: text;
    width: 100%;
}

.pickListCallerIntegrated > div {
    border: none;
    height: 100%;
}

.pickListCallerIntegrated > div:hover {
    border: none;
}

.pickListCallerIntegrated > div:focus {
    border: none;
}

.pickListCallerIntegrated button {
    background: none;
    border: none;
    margin-left: 0;
    margin-top: 0;
}

.pickListCallerIntegrated button .glyphicon-search:before {
    content: "\f100";
    font-family: "Flaticon";
}

.pickListCallerIntegrated button .glyphicon-remove:before {
    color: #de3f7e;
    margin-right: 0;
    visibility: hidden;
}

.inputPLInherit:hover > .inputPLSearchInherit .inputPLLabelInherit:after {
    content: "\f1ca";
    font-family: "Flaticon";
    padding-left: 2px;
}

.inputPLInherit:hover > .inputPLRemoveInherit .glyphicon:before {
    content: "\f1ca";
    float: left;
    font-family: "Flaticon";
    font-size: 15px;
    padding-top: 5px;
    position: relative;
    visibility: hidden;
}

.pickListCallerNomContainer {
    height: inherit;
    margin: 0;
    padding-left: 5px;
    padding-top: 0;
}

.pickListCallerNomContainer .inputPL {
    width: 90%;
}

.pickListCallerMaterielContainer {
    height: inherit;
    margin: 0;
    padding-left: 5px;
    padding-top: 0;
}

.pickListCallerMaterielContainer.picks {
    height: 25px;
}

.pickListCallerNomContainer.picks {
    height: 25px;
}

.boutons.cZDeplacement lookup .inputPL .inputPLSearch {
    margin-left: 5px;
}

.boutons.cZDeplacement lookup .inputPL .inputPLSearch .inputPLLabel {
    white-space: nowrap;
    width: 47px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.boutons.cZDeplacement lookup .inputPL .inputPLSearch .flaticon-add {
    margin-left: 7px;
}

.boutons.absence lookup .inputPL .inputPLSearch .flaticon-add {
    margin-left: 7px;
}

.boutons.cDeplacement lookup .inputPL .inputPLSearch .flaticon-add {
    margin-left: 7px;
}

.toolbar-commentaire {
    background: #f7f8f9;
    bottom: 0;
    height: 165px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 900;
    -moz-box-shadow: 0px -2px 15px 0px #c0c0c0;
    -webkit-box-shadow: 0px -2px 15px 0px #c0c0c0;
    -o-box-shadow: 0px -2px 15px 0px #c0c0c0;
    box-shadow: 0px -2px 15px 0px #c0c0c0;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=90, Strength=15);
}

.toolbar-commentaire .row {
    padding: 0px;
    margin: 0px;
}

.toolbar-commentaire h2 {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}

.toolbar-commentaire .icon-close-commentaire {
    cursor: pointer;
}

.toolbar-commentaire .overflown {
    overflow-x: auto;
    white-space: nowrap;
}

.toolbar-commentaire table tr th {
    padding-right: 6px;
}

.toolbar-commentaire table tr th span {
    white-space: nowrap;
    width: 230px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.toolbar-commentaire table tr td textarea {
    width: 230px;
    height: 8em;
}

.toolbar-footer {
    -moz-box-shadow: 0px -2px 15px 0px #c0c0c0;
    -webkit-box-shadow: 0px -2px 15px 0px #c0c0c0;
    -o-box-shadow: 0px -2px 15px 0px #c0c0c0;
    box-shadow: 0px -2px 15px 0px #c0c0c0;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=90, Strength=15);
    background: #e1e3e5;
    bottom: 8px;
    height: 60px;
    left: 0;
    padding-top: 10px;
    position: fixed;
    right: 0;
    width: 100%;
}

.toolbar-footer LABEL {
    display: block;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.btn-tfoot {
    background-color: #7F7F7F;
    color: #0052a0;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    margin-right: 0;
    margin-top: 0;
    padding: 5px;
}

.tab-config-header {
    font-weight: 600;
}

.tab-config-property {
    padding-top: 7px;
}

.tab-config-section {
    border-bottom: 1px solid #e1e3e5;
    color: #0052a0;
}

.label-collapse:before {
    color: #0052a0;
    content: '\f107';
    float: left;
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px;
    padding-right: 15px;
}

.label-collapse.collapsed:before {
    color: #ffd800;
    content: '\f105';
}

.back {
    display: inline-block;
}

.tdMateriel {
    height: inherit;
    padding-bottom: 4px;
    padding-left: 0;
    padding-top: 4px;
    text-align: left;
    height: inherit;
    padding-left: 0;
    text-align: left;
}

.tdMateriel > input {
    width: 100%;
}

.tdNomErreur {
    height: inherit;
    max-width: 150px;
    padding-left: 0;
    text-align: left;
    width: 150px;
}

.tdNomErreur .material-icons {
    clear: none;
    color: #de3f7e;
    float: left;
    font-size: 17px;
}

.tdNomErreur .pickListCallerNomContainer {
    float: right;
    width: 80%;
}

.tdMatricule {
    width: 80px;
}

.table tbody:hover tr:hover > td {
    background-color: initial;
    color: initial;
    cursor: default;
}

.table > thead > tr > th {
    color: #545454;
    font-size: 9px;
    height: 35px;
    padding: 0;
}

.table > thead > tr > .th_title {
    background-color: #67757f;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.flaticon-add-1 {
    cursor: pointer;
}

.expand-list .btn {
    background-color: #fff;
    font-size: 18px;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-top: 0;
}

.expand-list .btn-white {
    padding-bottom: 3px;
}

.lbl-padding {
    padding-top: 10px;
}

.DeplacementArea {
    background-color: #C8E6CA;
}

.first-col {
    text-align: center;
    width: 15px;
}

.first-col > input {
    text-align: center;
    width: 15px;
}

#panel-LignesRapport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: white;
    border-top: none;
    box-shadow: none;
    font-size: 12px;
    padding-top: 30px;
}

input[type="checkbox"] {
    margin-top: 0;
}

input[type="checkbox"] + label span {
    margin: 5px 0 0 5px !important;
}

input[type="checkbox"] + .ch1 {
    position: absolute;
    left: 5px;
    bottom: 0;
}

.fa {
    cursor: pointer;
}

.rapportLigneWarning {
    background-color: #f0ad4e;
}

.heureMinute-Container {
    padding-right: 3px;
}

.heureMinute {
    background-color: #fafafa;
    border: 1px solid #BBBBBB;
    color: #999;
    height: 30px;
    width: 60px;
}

input[type=time]::-webkit-inner-spin-button {
    margin-top: 17px;
}

input[type=time]::-webkit-outer-spin-button {
    margin-top: 17px;
}

#header-icons-right {
    font-size: 25px;
    text-align: right;
}

.icon-right {
    float: right;
}

.icon-right button.btn {
    font-family: "Roboto", sans-serif;
}

#search-block {
    display: block;
    padding-left: 0;
    width: 100%;
}

#search-block .rapp_val {
    padding-top: 7px;
    width: 223px;
}

#search-block div {
    display: inline-block;
}

#search-block lookup div {
    display: block;
}

#search-block .marge {
    padding-left: 10px;
}

#search-field {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    height: 30px;
    padding-right: 0;
    cursor: pointer;
}

#search-field .inputPL .glyphicon {
    background-color: #ffde0e;
    color: #333333;
    font-size: 14px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.glyphicon-warning-sign {
    color: #f0ad4e;
    display: inline-block;
    font-size: 25px;
}

.popoverList {
    color: #000;
    z-index: 2;
}

form .popover {
    z-index: 1200;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.legend {
    border-bottom: 1px solid #aeaeae;
    color: #3276b1;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}

textarea {
    resize: none;
}

.btn-material {
    background: #0990b7;
    color: white;
}

.btn-task {
    background: #ffa90d;
    color: white;
}

.btn-commentaires {
    background: #09ada6;
    color: white;
}

.wrongvalue {
    background-color: #fff;
    color: red;
    width: 50px;
}

.fa-refresh {
    vertical-align: text-bottom;
    cursor: pointer;
}

.default-size {
    width: 75px !important;
    width: 55px !important;
}

.rapport-table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
}

.rapport-table .border-left {
    border-left: 1px white solid;
}

.rapport-table thead {
    position: relative;
    display: block;
    width: 1200px;
    overflow: visible;
}

.rapport-table thead th {
    min-width: 55px;
    height: 32px;
    text-align: center;
    color: #0052a0;
}

.rapport-table thead th:nth-child(1) {
    min-width: 90px !important;
    width: 90px !important;
    position: relative;
}

.rapport-table thead th:nth-child(2) {
    min-width: 30px !important;
    width: 30px !important;
    position: relative;
}

.rapport-table thead th:nth-child(3) {
    min-width: 260px !important;
    width: 260px !important;
    position: relative;
}

.rapport-table thead th:nth-child(4) {
    min-width: 55px !important;
    width: 55px !important;
    position: relative;
}

.rapport-table thead th:nth-child(5) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(1) {
    background-color: #e1e3e5;
    font-size: 13px;
}

.rapport-table thead tr:nth-child(1) th {
    font-size: 10px;
    font-weight: 500;
}

.rapport-table thead tr:nth-child(1) th:nth-child(5) {
    min-width: 110px !important;
    width: 110px !important;
}

.rapport-table thead tr:nth-child(1) th:nth-child(6) {
    min-width: 165px !important;
    width: 165px !important;
}

.rapport-table thead tr:nth-child(1) .col-dep {
    min-width: 260px !important;
    width: 260px !important;
}

.rapport-table thead tr:nth-child(1) th.col-personnel {
    background-color: #0052a0;
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-personnel.col-heure-normal {
    background-color: #104989;
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-personnel.col-heure-travail {
    background-color: #104989;
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-majoration {
    background-color: rgba(0, 82, 160, 0.7);
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-majoration2 {
    background-color: rgba(0, 82, 160, 0.7);
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-absence {
    background-color: rgba(0, 82, 160, 0.7);
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-prime {
    background-color: rgba(0, 82, 160, 0.7);
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-astreinte {
    background-color: rgba(0, 82, 160, 0.7);
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-materiel {
    background-color: #09ada6;
    color: white;
}

.rapport-table thead tr:nth-child(1) th.col-tache {
    background-color: #53a8c1;
    color: white;
}

.rapport-table thead tr:nth-child(2) {
    background-color: rgba(225, 227, 229, 0.8);
}

.rapport-table thead tr:nth-child(2) th {
    font-size: 11px;
    font-weight: 400;
    font-size: 10px;
    font-weight: 500;
}

.rapport-table thead tr:nth-child(2) th:nth-child(6) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(2) th .col-majoration2 {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(2) th:nth-child(7) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(2) th:nth-child(8) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(2) th:nth-child(9) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(2) th:nth-child(10) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table thead tr:nth-child(2) th .col-prime {
    min-width: 65px !important;
    width: 65px !important;
}

.rapport-table thead tr:nth-child(2) .col-dep {
    min-width: 65px !important;
    width: 65px !important;
}

.rapport-table thead tr:nth-child(2) .col-materiel-chauffeur {
    min-width: 25px !important;
    width: 25px !important;
}

.rapport-table thead tr:nth-child(2) .col-materiel {
    min-width: 225px !important;
    width: 225px !important;
}

.rapport-table thead tr:nth-child(2) .col-materiel-heure {
    min-width: 60px !important;
    width: 60px !important;
}

.rapport-table thead tr:nth-child(2) .col-tache {
    min-width: 65px !important;
    width: 65px !important;
}

.rapport-table thead tr:nth-child(2) th.col-personnel {
    background-color: #0052a0;
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-personnel.col-heure-normal {
    background-color: #a6b9cc;
    color: white;
    border-left: #104989 1px solid;
}

.rapport-table thead tr:nth-child(2) th.col-personnel.col-heure-travail {
    background-color: #a6b9cc;
    color: white;
    border-left: white 1px solid;
}

.rapport-table thead tr:nth-child(2) th.col-majoration {
    background-color: rgba(0, 82, 160, 0.5);
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-majoration2 {
    background-color: rgba(0, 82, 160, 0.5);
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-absence {
    background-color: rgba(0, 82, 160, 0.5);
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-prime {
    background-color: rgba(0, 82, 160, 0.5);
    color: white;
    border-right-color: white;
}

.rapport-table thead tr:nth-child(2) th.col-astreinte {
    background-color: rgba(0, 82, 160, 0.5);
    color: white;
    border-right-color: white;
}

.rapport-table thead tr:nth-child(2) th.col-materiel {
    background-color: rgba(9, 173, 166, 0.5);
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-materiel-chauffeur {
    background-color: rgba(9, 173, 166, 0.5);
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-materiel-chauffeur .material-icons {
    cursor: pointer;
}

.rapport-table thead tr:nth-child(2) th.col-materiel-heure {
    background-color: rgba(9, 173, 166, 0.5);
    color: white;
}

.rapport-table thead tr:nth-child(2) th.col-tache {
    background-color: rgba(83, 168, 193, 0.5);
    color: white;
}

.rapport-table thead .header1 th:nth-child(4) {
    min-width: 110px !important;
    width: 110px !important;
    position: relative;
}

.rapport-table thead .header2 th:nth-child(5) {
    min-width: 55px !important;
    width: 55px !important;
    position: relative;
}

.rapport-table thead .col-majoration2 {
    min-width: 110px !important;
    width: 110px !important;
}

.rapport-table thead .col-prime {
    min-width: 65px !important;
}

.rapport-table thead .col-astreinte {
    min-width: 200px !important;
}

.rapport-table thead thead tr:nth-child(1) .col-materiel {
    min-width: 655px !important;
    width: 655px !important;
}

.rapport-table thead .col-tache {
    min-width: 65px !important;
}

.rapport-table .header2 .col-astreinte {
    min-width: 100px !important;
    width: 100px !important;
}

.rapport-table .dynamic-col {
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.rapport-table .dynamic-col.no-bdr {
    border-right: none;
}

.rapport-table tbody {
    position: relative;
    display: block;
    width: 1200px;
    overflow: auto;
    height: calc(100vh - 330px) !important;
}

.rapport-table tbody td {
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    height: 32px;
    min-width: 55px;
    text-align: center;
}

.rapport-table tbody tr {
    border-top: 1px solid #aeaeae !important;
    border-bottom: 1px solid #aeaeae !important;
}

.rapport-table tbody tr td:nth-child(-n+5) {
    position: relative;
    border-top: 1px solid #aeaeae !important;
    border-bottom: 1px solid #aeaeae !important;
    background-clip: padding-box;
}

.rapport-table tbody tr td:nth-child(1) {
    min-width: 90px !important;
    width: 90px !important;
}

.rapport-table tbody tr td:nth-child(2) {
    min-width: 30px !important;
    width: 30px !important;
}

.rapport-table tbody tr td:nth-child(3) {
    min-width: 260px !important;
    width: 260px !important;
}

.rapport-table tbody tr td:nth-child(4) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr td:nth-child(5) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr td:nth-child(6) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr td:nth-child(7) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr td:nth-child(8) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr td:nth-child(9) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr td:nth-child(10) {
    min-width: 55px !important;
    width: 55px !important;
}

.rapport-table tbody tr .col-action div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 32px;
    padding-left: 3px;
}

.rapport-table tbody tr .col-action div.stickers-conteneur {
    padding-left: 0;
}

.rapport-table tbody tr .col-action div.sticker-person {
    width: 40px;
    padding-left: 0;
}

.rapport-table tbody tr .col-action div.sticker-person::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
    content: "";
    background-color: #0052A0;
}

.rapport-table tbody tr .col-action div.sticker-materiel {
    width: 40px;
    padding-left: 0;
}

.rapport-table tbody tr .col-action div.sticker-materiel::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
    content: "";
    background-color: #09ada6;
}

.rapport-table tbody tr .col-action div.sticker-person.sticker-materiel {
    width: 40px;
    padding-left: 0;
}

.rapport-table tbody tr .col-action div.sticker-person.sticker-materiel::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 16%;
    content: "";
    background: linear-gradient(to right, #0052A0, #0052A0 50%, #09ada6 50%, #09ada6);
}

.rapport-table tbody tr .col-action div.sticker-none {
    width: 40px;
    padding-left: 0;
}

.rapport-table tbody tr .col-action div.sticker-none::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
    content: "";
    background-color: #FFA90D;
}

.rapport-table tbody tr .col-action div.sticker-error {
    width: 40px;
    padding-left: 0;
}

.rapport-table tbody tr .col-action div.sticker-error::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
    content: "";
    background-color: #DE3F7E;
}

.rapport-table tbody tr .col-action .icons-materiel-conteneur {
    width: 50px;
    padding-left: 0;
}

.rapport-table tbody tr .col-action .delete-icon {
    padding-left: 5px;
    cursor: pointer;
    font-size: 17px;
}

.rapport-table tbody tr .col-action .duplicate-icon {
    padding-left: 3px;
    font-size: 17px;
    cursor: pointer;
}

.rapport-table tbody tr .col-dep {
    min-width: 65px !important;
    width: 65px !important;
}

.rapport-table tbody tr .col-prime {
    min-width: 65px !important;
    width: 65px !important;
}

.rapport-table tbody tr .col-astreinte {
    min-width: 200px !important;
    width: 200px !important;
}

.rapport-table tbody tr .col-materiel-chauffeur {
    min-width: 25px !important;
    width: 25px !important;
}

.rapport-table tbody tr .col-materiel-chauffeur input[type="checkbox"] + label span {
    margin: 5px 0 0 0 !important;
}

.rapport-table tbody tr .col-materiel {
    min-width: 225px !important;
    width: 225px !important;
}

.rapport-table tbody tr .col-materiel-heure {
    min-width: 60px !important;
    width: 60px !important;
}

.rapport-table tbody tr .col-tache {
    min-width: 65px !important;
    width: 65px !important;
}

.rapport-table tbody tr .dynamic-col {
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.rapport-table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.rapport-table tbody tr:nth-child(odd) {
    background: rgba(243, 243, 243, 0.1);
}

.rapport-table tbody tr .input-number {
    width: 40px;
    font-size: 10px;
}

.rapport-table tbody tr td.col-personnel .material-warning {
    display: flex;
    justify-content: center;
}

.rapport-table tbody tr td.col-personnel .material-warning .material-icons {
    font-size: 18px;
    color: #de3f7e;
    cursor: pointer;
}

.rapport-table tbody tr td.col-heure-normal {
    background-color: #e0e0e0;
    color: white;
    border-left: white 1px solid;
    z-index: 1;
}

.rapport-table tbody tr td.col-heure-travail {
    background-color: #e0e0e0;
    color: white;
    border-left: white 1px solid;
    z-index: 1;
}

.rapport-table tbody tr td.col-majoration {
    background-color: rgba(0, 82, 160, 0.1);
}

.rapport-table tbody tr td.col-majoration .preLook {
    display: flex;
    justify-content: center;
}

.rapport-table tbody tr td.col-majoration2 {
    background-color: rgba(0, 82, 160, 0.1);
    min-width: 110px !important;
    width: 110px !important;
}

.rapport-table tbody tr td.col-absence {
    background-color: rgba(0, 82, 160, 0.1);
}

.rapport-table tbody tr td.col-absence .preLook {
    display: flex;
    justify-content: center;
}

.rapport-table tbody tr td.col-prime {
    background-color: rgba(0, 82, 160, 0.1);
    border-right-color: white;
}

.rapport-table tbody tr td.col-astreinte {
    background-color: rgba(0, 82, 160, 0.1);
    border-right-color: white;
}

.rapport-table tbody tr td.col-materiel-chauffeur {
    background-color: rgba(9, 173, 166, 0.1);
}

.rapport-table tbody tr td.col-materiel {
    background-color: rgba(9, 173, 166, 0.1);
}

.rapport-table tbody tr td.col-materiel .formulaire lookup .inputPL .inputPLSearch {
    position: static;
}

.rapport-table tbody tr td.col-materiel .formulaire.middle .inputPL .inputPLLabel {
    float: left;
    padding-top: 4px;
    height: 100%;
}

.rapport-table tbody tr td.col-materiel .formulaire.middle .chev.material-icons {
    position: static;
}

.rapport-table tbody tr td.col-materiel-heure {
    background-color: rgba(9, 173, 166, 0.1);
}

.rapport-table tbody tr td.col-tache {
    background-color: rgba(83, 168, 193, 0.1);
}

.rapport-table tbody.full-size {
    height: calc(100vh - 290px) !important;
}

.rapport-table .boutons lookup .inputPL .inputPLSearch .inputPLLabel {
    font-size: 11px;
    padding: 0;
    white-space: nowrap;
    width: 36px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.rapport-table .boutons lookup .material-icons.closing {
    font-size: 14px;
}

.rapport-table .boutons lookup .inputPLRemove {
    padding: 0;
    width: 14px;
    height: 14px;
    left: 0;
    top: 4px;
}

.rapport-table .col-absence .boutons lookup .inputPLRemove {
    left: -10px;
}

.rapport-table tfoot {
    position: relative;
    display: block;
    width: 1200px;
    overflow: visible;
    color: #0052a0;
}

.rapport-table tfoot td {
    background-color: #e1e3e5;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    text-align: center;
    min-width: 55px;
}

.rapport-table tfoot td:nth-child(-n+5) {
    position: relative;
}

.rapport-table tfoot td:nth-child(1) {
    min-width: 90px !important;
    width: 90px !important;
    background-color: #0052a0;
}

.rapport-table tfoot td:nth-child(2) {
    min-width: 30px !important;
    width: 30px !important;
    background-color: #0052a0;
}

.rapport-table tfoot td:nth-child(3) {
    min-width: 260px !important;
    width: 260px !important;
    color: #de3f7e !important;
}

.rapport-table tfoot td:nth-child(4) {
    min-width: 55px !important;
    width: 55px !important;
    background-color: #a6b9cc;
    color: #fff;
}

.rapport-table tfoot td:nth-child(5) {
    min-width: 55px !important;
    width: 55px !important;
    background-color: #a6b9cc;
    color: #fff;
}

.rapport-table tfoot td:nth-child(6) {
    min-width: 110px !important;
    width: 110px !important;
    background-color: rgba(0, 82, 160, 0.5);
    color: #fff;
}

.rapport-table tfoot td:nth-child(7) {
    min-width: 165px !important;
    width: 165px !important;
    background-color: rgba(0, 82, 160, 0.5);
    color: #fff;
}

.rapport-table tfoot .col-dep {
    min-width: 260px !important;
    width: 260px !important;
}

.rapport-table tfoot .col-prime {
    min-width: 65px !important;
    width: 65px !important;
    background-color: rgba(0, 82, 160, 0.5);
}

.rapport-table tfoot .col-astreinte {
    min-width: 200px !important;
    width: 200px !important;
    background-color: rgba(0, 82, 160, 0.5);
}

.rapport-table tfoot .col-materiel-chauffeur {
    min-width: 25px !important;
    width: 25px !important;
    background-color: rgba(9, 173, 166, 0.5);
}

.rapport-table tfoot .col-materiel {
    min-width: 225px !important;
    width: 225px !important;
    background-color: rgba(9, 173, 166, 0.5);
}

.rapport-table tfoot .col-materiel-heure {
    min-width: 60px !important;
    width: 60px !important;
    background-color: rgba(9, 173, 166, 0.5);
    color: #fff;
}

.rapport-table tfoot .col-tache {
    min-width: 65px !important;
    width: 65px !important;
    background-color: rgba(83, 168, 193, 0.5);
    color: #fff;
}

.rapport-table tfoot .col-majoration2 {
    background-color: rgba(0, 82, 160, 0.5);
    color: white;
}

.boutons lookup .inputPL {
    height: 25px;
}

.boutons lookup .inputPL .inputPLSearch {
    height: 25px;
}

.boutons lookup .chev.material-icons {
    font-size: 17px;
}

.fold-action {
    cursor: pointer;
}

.icons-materiel-conteneur {
    display: flex;
    height: 32px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icons-materiel-conteneur.pick-add {
    height: 39px;
}

.icons-materiel-conteneur.pick-add .flaticon.flaticon-add {
    padding: 0;
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.icons-materiel-conteneur.pick-add .flaticon.flaticon-add:before {
    font-size: 18px;
}

.icons-materiel-conteneur.pick-add .icon-materiel-txt {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin-left: 5px;
}

.icon-materiel {
    height: 25px;
    width: 25px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-materiel.marche {
    background-image: url("/medias/images/ico/M.PNG");
}

.icon-materiel.attente {
    background-image: url("/medias/images/ico/A.PNG");
}

.icon-materiel.panne {
    background-image: url("/medias/images/ico/P.PNG");
}

.icon-materiel.intemperie {
    background-image: url("/medias/images/ico/I.PNG");
}

.icon-materiel.calendar {
    background-image: url("/medias/images/ico/WEEK.PNG");
}

.icon-materiel.clock {
    background-image: url("/medias/images/ico/HOUR.PNG");
}

.icon-materiel.code {
    background-image: url("/medias/images/ico/CODE.PNG");
}

.icon-materiel.hour-normal {
    background-image: url("/medias/images/ico/HOUR_NORMAL.PNG");
}

.icon-materiel.hour-total {
    background-image: url("/medias/images/ico/HOUR_TOTAL.PNG");
}

.icon-materiel.pointage-perso {
    background-image: url("/medias/images/ico/POINTAGE_PERSONNEL.PNG");
}

fred-button.button-icon-materiel .mat {
    color: grey;
    font-size: 20px;
}

fred-button.button-icon-materiel.active .mat {
    color: #09ada6;
    font-size: 20px;
}

fred-button.inactive .mat {
    font-size: 20px;
}

.rapport-table-child3-RZB {
    min-width: 260px !important;
    width: 260px !important;
    background-color: #0052a0 !important;
    color: #0052a0 !important;
}

.rapport-table-child3-RZB:hover {
    cursor: default;
}

fred-toolbar {
    flex-flow: row wrap;
    justify-content: flex-start;
}

fred-toolbar fred-section {
    margin-left: 1%;
}

fred-toolbar .numero-section fred-section-controls {
    background-color: #FFD800;
    height: 44px;
}

fred-toolbar H1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

fred-toolbar .inner-addon.right-addon {
    width: 100%;
}

fred-toolbar .date-picker-section fred-section-controls {
    background-color: #0052A0;
}

fred-toolbar .datePickerRapport > div > input {
    background-color: transparent;
    font-size: 15px;
    width: 65px;
}

fred-toolbar .datePickerRapport .input-group.date {
    background-color: transparent;
    width: 125px;
}

fred-toolbar .picklist-section {
    width: 250px;
    margin-left: 1%;
}

fred-toolbar .icone-warning {
    display: inline-flex;
    align-items: center;
}

fred-toolbar .boutons-actions {
    margin-left: 1%;
}

fred-toolbar lookup .inputPL .inputPLLabel {
    padding-left: 15px;
}

fred-toolbar app-date-picker .input-group.date .form-control[disabled] {
    background-color: transparent;
}

fred-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 100;
    visibility: hidden;
    display: none;
    background: black;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 0.5;
    display: none;
    visibility: hidden;
}

fred-popin {
    visibility: hidden;
    display: none;
    position: absolute;
    display: block;
    height: 50%;
    width: 100%;
    z-index: 102;
    background: white;
    left: 0px;
    top: 25%;
}

fred-popin-header {
    height: 15%;
    position: relative;
    font-size: 25px;
    color: #2c77ba;
    width: 100%;
    display: block;
    border-bottom: #E1E3E5 1px solid;
}

fred-popin-body {
    height: 70%;
    display: block;
}

fred-popin-footer {
    height: 15%;
    position: relative;
    font-size: 25px;
    color: #0052A0;
    width: 100%;
    display: block;
    border-top: #E1E3E5 1px solid;
}

fred-overlay.open {
    display: block;
    visibility: visible;
    -webkit-animation-name: none;
    -webkit-animation-duration: initial;
}

fred-overlay.close {
    display: none;
    visibility: hidden;
}

fred-side {
    position: fixed;
    width: 350px;
    top: 0px;
    left: -350px;
    height: 100%;
    z-index: 1000;
    background: white;
}

fred-side header {
    height: 75px;
    background: #e1e3e5;
    text-align: center;
}

fred-side header span.material-icons.icon {
    font-size: 50px;
    padding-top: 5px;
}

fred-side header label {
    font-weight: 500;
    font-size: 15px;
}

fred-side main {
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

fred-side main .row {
    padding-left: 15px;
}

fred-side main section-title {
    cursor: pointer;
    color: #2c77ba;
    font-size: 20px;
    font-weight: 300;
}

fred-side main section-title::before {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    content: 'keyboard_arrow_down';
    color: #67757f;
}

fred-side main section-title.collapsed::before {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    content: 'keyboard_arrow_up';
    color: #67757f;
}

fred-side main h2 {
    color: #2c77ba;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

fred-side section-block {
    display: block;
    width: 95%;
    padding-left: 10px;
    padding-bottom: 30px;
}

fred-side section-block section-titre-simple {
    display: block;
}

fred-side .legend {
    font-size: 12px;
    border: none;
    font-weight: 400;
    color: #67757f;
}

fred-side footer {
    height: 100px;
    background-color: white;
    color: grey;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

fred-side footer action {
    padding-top: 5px;
    height: 50px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

fred-side footer close {
    height: 50px;
    display: block;
}

fred-side footer close label {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

fred-side footer close icon:before {
    content: '\f104';
    font-size: 40px;
    padding-right: 10px;
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
}

fred-side.open {
    -webkit-animation-name: transition_open;
    -webkit-animation-duration: .5s;
    animation-name: transition_open;
    animation-duration: .5s;
    top: 0px;
    left: 0px;
}

@-webkit-keyframes transition_open {
    from {
        left: -350px;
    }
    to {
        left: 0px;
    }
}

@keyframes transition_open {
    from {
        left: -350px;
    }
    to {
        left: 0px;
    }
}

cards {
    display: flex;
    flex-direction: column;
    width: 250px;
}

cards card {
    width: 310px;
    padding: 10px;
    border: 1px solid #097da0;
    margin-bottom: 5px;
}

cards card titre {
    font-weight: 500;
}

cards card infos {
    display: flex;
    flex-direction: column;
}

cards card infos info {
    display: flex;
    padding-bottom: 5px;
}

cards card infos info fred-label {
    width: 30%;
    font-size: 12px;
    color: #aeaeae;
}

cards card infos info fred-val {
    width: 70%;
    font-size: 12px;
}

cards card infos info fred-val input {
    width: 25%;
    border: 1px solid #E1E3E5;
}

cards card action {
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
}

cards card action fred-button {
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    font-size: 11px;
}

card.active {
    border-color: #097da0;
    border-left: 5px solid #097da0;
}

card.inactive {
    border-color: #aeaeae;
    background-color: rgba(225, 227, 229, 0.1);
}

card.next {
    border-color: #DE3F7E;
}

card.archive {
    border-color: #E1E3E5;
}

.div-PrimeAstreinte-disabled {
    pointer-events: none;
}

.bilan-flash-modal-detail {
    max-height: 300px;
}

.modal .modal-content .modal-body b span {
    font-weight: 600;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .datePickerRapport > div > input {
        font-size: 22px;
    }
    .datePickerRapport > div > span {
        font-size: 22px;
    }
    .datePickerRapport .input-group.date .input-group-addon span {
        font-size: 18px;
        top: 0;
    }
    .input-group.date {
        width: 140px;
    }
    #header-date .slash {
        font-size: 18px;
    }
    .panel-heading.panel-heading-large {
        height: 41px;
    }
    .spreadsheet .header .fullscreen-header .datePickerRapportFullScreen > div > input {
        font-size: 18px;
    }
    .spreadsheet .header .fullscreen-header .datePickerRapportFullScreen > div > span {
        font-size: 18px;
    }
    .spreadsheet .header .fullscreen-header .datePickerRapportFullScreen .input-group.date {
        width: 140px;
    }
    .spreadsheet .header .fullscreen-header .datePickerRapportFullScreen .input-group.date .input-group-addon span {
        font-size: 18px;
    }
    .spreadsheet .header LABEL {
        font-size: 18px;
    }
    .spreadsheet .header button {
        font-size: 18px;
    }
    .spreadsheet .rapport-table tbody.full-size {
        height: calc(100vh - 135px) !important;
    }
    .formulaire.middle .inputPL .inputPLRemove {
        height: 23px;
        width: 23px;
    }
    .formulaire.middle .material-icons.closing {
        height: 23px;
        width: 23px;
        font-size: 23px;
    }
    .pickListCallerMaterielContainer.picks {
        height: 28px;
    }
    .pickListCallerNomContainer.picks {
        height: 28px;
    }
    .boutons.maj lookup .inputPL .inputPLSearch {
        height: 25px;
    }
    .boutons.absence lookup .inputPL .inputPLSearch {
        height: 25px;
    }
    .boutons.cDeplacement lookup .inputPL .inputPLSearch {
        height: 25px;
    }
    .boutons.cZDeplacement lookup .inputPL .inputPLSearch {
        height: 25px;
    }
    .toolbar-footer {
        height: 45px;
        padding-top: 5px;
    }
    .toolbar-footer .btn {
        font-size: 11px;
        padding: 6px 12px;
    }
    .expand-list .btn {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
    #search-field {
        height: 27px;
    }
    .rapport-table thead tr:nth-child(1) th:nth-child(6) {
        min-width: 135px !important;
        width: 135px !important;
    }
    .rapport-table thead tr:nth-child(1) th:nth-child(7) {
        min-width: 65px !important;
        width: 65px !important;
    }
    .rapport-table thead tr:nth-child(1) .col-dep {
        min-width: 220px !important;
        width: 220px !important;
    }
    .rapport-table thead tr:nth-child(2) th:nth-child(6) {
        min-width: 80px !important;
        width: 80px !important;
    }
    .rapport-table thead tr:nth-child(2) th:nth-child(7) {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead tr:nth-child(2) th:nth-child(8) {
        min-width: 80px !important;
        width: 80px !important;
    }
    .rapport-table thead tr:nth-child(2) th:nth-child(9) {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead tr:nth-child(2) th:nth-child(10) {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead tr:nth-child(2) th .col-prime {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead tr:nth-child(2) th .col-astreinte {
        min-width: 200px !important;
        width: 200px !important;
    }
    .rapport-table thead tr:nth-child(2) .col-dep {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead tr:nth-child(2) .col-materiel-chauffeur {
        min-width: 10px !important;
        width: 10px !important;
    }
    .rapport-table thead tr:nth-child(2) .col-materiel {
        min-width: 190px !important;
        width: 190px !important;
    }
    .rapport-table thead tr:nth-child(2) .col-materiel-heure {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead tr:nth-child(2) .col-tache {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table thead .col-prime {
        min-width: 65px !important;
    }
    .rapport-table thead .col-astreinte {
        min-width: 200px !important;
    }
    .rapport-table thead .col-tache {
        min-width: 65px !important;
    }
    .rapport-table tbody {
        height: calc(100vh - 275px) !important;
    }
    .rapport-table tbody tr td:nth-child(6) {
        min-width: 80px !important;
        width: 80px !important;
    }
    .rapport-table tbody tr td:nth-child(7) {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody tr td:nth-child(8) {
        min-width: 80px !important;
        width: 80px !important;
    }
    .rapport-table tbody tr td:nth-child(9) {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody tr td:nth-child(10) {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody tr .col-majoration2 {
        min-width: 110px !important;
        width: 110px !important;
    }
    .rapport-table tbody tr .col-dep {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody tr .col-prime {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody tr .col-astreinte {
        min-width: 200px !important;
        width: 200px !important;
    }
    .rapport-table tbody tr .col-materiel-chauffeur {
        min-width: 10px !important;
        width: 10px !important;
    }
    .rapport-table tbody tr .col-materiel {
        min-width: 190px !important;
        width: 190px !important;
    }
    .rapport-table tbody tr .col-materiel-heure {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody tr .col-tache {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tfoot td:nth-child(6) {
        min-width: 135px !important;
        width: 135px !important;
    }
    .rapport-table tfoot td:nth-child(7) {
        min-width: 190px !important;
        width: 190px !important;
    }
    .rapport-table tfoot .col-dep {
        min-width: 220px !important;
        width: 220px !important;
    }
    .rapport-table tfoot th .col-prime {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tfoot th .col-astreinte {
        min-width: 200px !important;
        width: 200px !important;
    }
    .rapport-table tfoot .col-materiel-chauffeur {
        min-width: 10px !important;
        width: 10px !important;
    }
    .rapport-table tfoot .col-materiel {
        min-width: 190px !important;
        width: 190px !important;
    }
    .rapport-table tfoot .col-materiel-heure {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tfoot .col-tache {
        min-width: 55px !important;
        width: 55px !important;
    }
    .rapport-table tbody.full-size {
        height: calc(100vh - 235px) !important;
    }
    .boutons lookup .chev.material-icons {
        padding-top: 3px;
    }
    fred-toolbar {
        margin-left: -30px;
        margin-right: -20px;
    }
    fred-toolbar H1 {
        margin-top: 26px;
        padding-left: 20px !important;
    }
    fred-toolbar .numero-section fred-section-controls {
        height: 39px;
    }
    fred-toolbar .numero-section fred-section-controls fred-section-controls {
        height: 35px;
    }
    @-moz-document url-prefix() {
        .rapports-scroll {
            overflow-x: auto;
            padding-right: 17px;
        }
    }
}

@media (min-width: 1500px) {
    .spreadsheet > .rapports-scroll {
        height: calc(100% - 140px) !important;
    }
}

@media (max-width: 1600px) {
    .rapport-table tbody {
        height: calc(100vh - 395px) !important;
    }
    .rapport-table tbody.full-size {
        height: calc(100vh - 355px) !important;
    }
    .rapport-table tbody.new-brief {
        height: calc(100vh - 335px) !important;
    }
}
