.filter input.form-control.txt[type="text"] {
    cursor: text;
}

.last_calc {
    margin-top: 70px;
}

.last_calc > label {
    padding-left: 0;
}

input.form-control:read-only {
    background-color: #fff;
}

.formulaire lookup .inputPL .inputPLSearch {
    text-align: left;
}
