<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IRegisterManager" type="UnityConfigFile.IRegisterManager, UnityConfigFile" />
  <container>
    <register type="Fred.DataAccess.Referential.ICountryRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.CountryRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Commande.ICommandeRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Commande.CommandeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Utilisateur.IUtilisateurRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Utilisateur.UtilisateurRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Commande.ICommandeTypeRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Commande.CommandeTypeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Commande.IStatutCommandeRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Commande.StatutCommandeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IFournisseurRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.FournisseurRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.CI.ICIRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.CI.CIRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Personnel.IPersonnelRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Personnel.PersonnelRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.ITacheRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.TacheRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.ITypeDepenseRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.TypeDepenseRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Organisation.IOrganisationRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Organisation.OrganisationRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IEtablissementComptableRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.EtablissementComptableRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.Materiel.IMaterielRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.Materiel.MaterielRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Societe.ISocieteRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Societe.SocieteRepository, Fred.DataAccess" />
    
    <register type="Fred.DataAccess.Societe.ISocieteDeviseRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Societe.SocieteDeviseRepository, Fred.DataAccess" />   
    
    <register type="Fred.DataAccess.DatesCalendrierPaie.IDatesCalendrierPaieRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.DatesCalendrierPaie.DatesCalendrierPaieRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.DatesClotureComptable.IDatesClotureComptableRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.DatesClotureComptable.DatesClotureComptableRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Depense.IDepenseRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Depense.DepenseRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IPaysRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.PaysRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.ExterneDirectory.IExterneDirectoryRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.ExterneDirectory.ExterneDirectoryRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IDeviseRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.DeviseRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Module.IModuleRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Module.ModuleRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Role.IRoleRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Role.RoleRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.ICodeMajorationRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.CodeMajorationRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.ICodeDeplacementRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.CodeDeplacementRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IEtablissementPaieRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.EtablissementPaieRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IPrimeRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.PrimeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Rapport.IRapportRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Rapport.RapportRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.CodeAbsence.ICodeAbsenceRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.CodeAbsence.CodeAbsenceRepository, Fred.DataAccess" />

    <register type=" Fred.DataAccess.Favori.IFavoriRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Favori.FavoriRepository, Fred.DataAccess" />

    <register type=" Fred.DataAccess.Notification.INotificationRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Notification.NotificationRepository, Fred.DataAccess" />
  
    <register type="Fred.DataAccess.Groupe.IGroupeRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Groupe.GroupeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.AffectationSeuilUtilisateur.IAffectationSeuilUtilisateurRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.AffectationSeuilUtilisateur.IAffectationSeuilUtilisateurRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.CodeZoneDeplacement.ICodeZoneDeplacementRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.CodeZoneDeplacement.CodeZoneDeplacementRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.IndemniteDeplacement.IIndemniteDeplacementRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.IndemniteDeplacement.IndemniteDeplacementRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.ReferentielFixe.IChapitreRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.ReferentielFixe.ChapitreRepository, Fred.DataAccess" />
    
    <register type="Fred.DataAccess.ReferentielFixe.ISousChapitreRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.ReferentielFixe.SousChapitreRepository, Fred.DataAccess" />
  
    <register type="Fred.DataAccess.ReferentielFixe.IRessourceRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.ReferentielFixe.RessourceRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.ReferentielEtendu.IReferentielEtenduRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.ReferentielEtendu.ReferentielEtenduRepository, Fred.DataAccess" />
    
    <register type="Fred.DataAccess.Referential.Nature.INatureRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.Nature.NatureRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Rapport.Pointage.IPointageRepository[[Fred.Entities.Rapport.RapportLigneEnt, Fred.Entities],[Fred.Entities.Rapport.RapportLignePrimeEnt, Fred.Entities]], Fred.DataAccess"
              mapTo="Fred.DataAccess.Rapport.Pointage.PointageRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Rapport.Pointage.IPointageRepository[[Fred.Entities.Rapport.PointageAnticipeEnt, Fred.Entities],[Fred.Entities.Rapport.PointageAnticipePrimeEnt, Fred.Entities]], Fred.DataAccess"
              mapTo="Fred.DataAccess.Rapport.Pointage.PointageAnticipeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Facture.IFactureARRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Facture.FactureARRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Journal.IJournalRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Journal.JournalRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.LogImport.ILogImportRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.LogImport.LogImportRepository, Fred.DataAccess" />
    
    <register type="Fred.DataAccess.Referential.IEquipeRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.EquipeRepository, Fred.DataAccess" />

    <register type="Fred.DataAccess.Referential.IAffectationRepository, Fred.DataAccess"
              mapTo="Fred.DataAccess.Referential.AffectationRepository, Fred.DataAccess" />
    
  </container>
</unity>