

@{ Layout = "~/Views/Shared/_Layout.new.cshtml"; }

@section scripts {
  @Scripts.Render("~/Scripts/Controllers/homeController.js")
  @this.RenderResources("FredResource")
}

<div class="container-fluid fred-container">

  <style>
    .tile {
      height: 175px;
      width: 175px;
      background-color: #ffffff;
      border: 1px #DE3F7E solid;
      text-align: center;
      cursor: pointer;
      display: inline-block;
    }

      .tile i {
        font-size: 50px;
        color: #DE3F7E;
        margin-bottom: 15px;
        margin-top: 5px;
        cursor: pointer;
      }

      .tile span {
        display: block;
        color: #DE3F7E;
        font-weight: 300;
        font-size: 18px;
        top: 75%;
        cursor: pointer;
      }
  </style>


  <h1>Patterns UI et Modèles de développement</h1>
  <div>
    <div class="tile" onclick="window.location = 'ModelUiFonts'">
      <i class="material-icons" aria-hidden="true">format_line_spacing</i>
      <span> Liste des fonts</span>
    </div>








    <div class="tile" onclick="window.location = 'ModelUiBootstrapControls'">
      <i class="material-icons" aria-hidden="true">developer_board</i>
      <span>Bootstrap 3</span>
    </div>


  </div>


</div>




