/* -------------------------------------------------------------------------------
  Fayat Construction Informatique
  Application Fred
  Module <NOM_DU_MODULE>
---------------------------------------------------------------------------------*/
.no_padding_left {
    padding-left: 0;
}

.options #Prime-Select-Type {
    flex-direction: column;
}

.options #Prime-Select-Target {
    flex-direction: column;
}
