<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" requireReinstallation="true" />
  <package id="DateTimeExtensions" version="5.0.3" targetFramework="net452" />
  <package id="dbup-core" version="4.2.0" targetFramework="net462" />
  <package id="dbup-sqlserver" version="4.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.10.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="6.6.0.3969" targetFramework="net452" developmentDependency="true" />
  <package id="StackExchange.Redis" version="1.2.5" targetFramework="net452" requireReinstallation="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="Syncfusion.Compression.Base" version="17.1.0.32-beta" targetFramework="net452" requireReinstallation="true" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="17.1.0.32-beta" targetFramework="net452" />
  <package id="Syncfusion.DocToPdfConverter.AspNet.Mvc5" version="17.1.0.32-beta" targetFramework="net452" />
  <package id="Syncfusion.ExcelToPDFConverter.AspNet.Mvc5" version="17.1.0.32-beta" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="17.1.0.32-beta" targetFramework="net462" />
  <package id="Syncfusion.OfficeChart.Base" version="17.1.0.32-beta" targetFramework="net452" requireReinstallation="true" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="17.1.0.32-beta" targetFramework="net452" />
  <package id="Syncfusion.XlsIO.AspNet.Mvc5" version="17.1.0.32-beta" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net462" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.7.15" targetFramework="net452" />
</packages>